body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.large-text-area{
    max-width: inherit;
    width: auto; 
}

.dark-highlight{
    color: white;
    background-color: #3E3E3E;
}

.light-highlight{
    color: white;
    background-color: #6D6D6D;
}

.dark-blue-highlight{
    color: white;
    background-color: #1A1E4B;
}

.light-blue-highlight{
    color: white;
    background-color: #5056A2;
}

.light-blue-background{
    background-color: #BACFFC;
}

