@{
	ViewBag.Title = "Plan Your Communications";
}

<h1>Plan Your Communications</h1>

<img src="@Url.Content("~/images/schoolcommscommunicate.png")" alt="Communicate with your student borrowers."
		 title="Plan, Communicate, Track" style="padding-left: 125px;" class="img-responsive" />

<p>
	By now you've segmented your student borrower population into groups that have something
	in common and your communication will use these similarities to appeal to these
	student borrowers.
</p>

<h2>What Do You Tell Student Borrowers?</h2>
<p>
	Your message will likely be different depending on the population you are talking
	with. However, the goal of your communications should be the same: to bring the
	borrower current though payment. For instance, if you're trying to reach someone
	that has recently gone into delinquency, you can explain that they have options
	to help them become current with their loans and that the best way is to make a
	payment. If they are having financial problems and payment is not possible they
	can contact their servicer to find out about programs that can help, such as deferment,
	forbearance and alternate payment plans.
</p>
<p>
	Once you move to some of your other groups with higher delinquency, you should talk
	to them about the effect of deliquency on their credit and the consequences of default.
	You can also let them know that once they default they lose the ability to postpone
	payments through deferment and forbearance.
</p>

<h2>Communicating By Phone</h2>
<p>
	If you decide that the phone will be the most effective way to communicate to your
	student borrowers there are some guidlines to follow.
</p>
<ul>
	<li>
		Remember your goal: Payment is the best way to resolve any delinquency. You should
		only move on to postponing payments if the student borrower cannot pay.
	</li>
	<li>Be understanding and calm.</li>
	<li>
		Maintain a positive tone and attitude, if the student borrower feels that you are
		not willing to be respectful he will not be respectful to you.
	</li>
	<li>
		Explain that you are trying to help and that by taking care of the delinquency early
		they may avoid some of the negative consequences of extended delinquency and default.
	</li>
	<li>
		Explain the consequences of default. Respectfully convey the impact on his or her
		credit rating and financial stability.
	</li>
</ul>

<h2>Communicating By E-Mail</h2>
<p>
	If you decide to go with e-mail as your primary medium of reaching out to student
	borrowers there are advantages and disadvantages. With e-mail the language in your
	letters can escalate the further the student borrower gets behind on payments.
</p>
<div class="alert alert-success">
	<h3>We'll start with the Advantages:</h3>
	<ul>
		<li>You can reach multiple student borrowers at one time.</li>
		<li>You can provide links to other helpful information</li>
		<li>You can insert your school's branding.</li>
		<li>You can automate the process so your time can be spent doing other things.</li>
	</ul>
</div>
<div class="alert alert-danger">
	<h3>Now let's look at the Disadvantages</h3>
	<ul>
		<li>It's difficult to convey feeling through e-mail.</li>
		<li>E-mails are less personal than talking over the phone.</li>
		<li>E-mails can be routed or lost in a student borrower's spam folder.</li>
		<li>You cannot make decisions about what type of assistance a student borrower needs.</li>
	</ul>
</div>

<h2>Communicating By Mail</h2>
<p>
	Using mail to communicate with your student borrowers has many of the same advantages
	and disadvantages of using e-mail. As with e-mail the language in your letters can
	escalate the further the student borrower gets behind on payments.
</p>
<p>
	Other concerns with mail are that it can be cost-prohibitive, especially if you
	have a small staff, many delinquent student borrowers, and a widespread alumni base.
</p>
<p>
	Another reason that mail works in specific instances only is because you have to
	keep up with the student borrower. Many recent graduates and students that stop
	going to school move around a lot. Unless you have a system for skip tracing your
	student borrowers or keeping your records up to date there is a lot of maintenance
	required to send letters.
</p>

<h2>Communicating By Social Media</h2>
<p>
	Social media has become one of the best ways to communicate with student borrowers.
	It's fast, easy and most student borrowers will have some kind of social media presence
	The good news is that your school probably has a social media presence whether it's
	Facebook, Twitter, LinkedIn or one of the countless other networks. Your financial
	aid office may have it's own social media presence. If you don't, talk with your
	administration about creating your own social media pages.
</p>
<p>
	Using social media, you can proactively contact students that are in some of the
	target groups before they go delinquent and give them tips on how to avoid delinquency.
	You can also contact those that are delinquent and get your foot in the door. You
	may also want to use social media to supplement some of your other activities. Social
	Media is a great way to get the word out about financial literacy events and what
	your office offers for student borrowers.
</p>
<p>
	A warning about social media. Most student borrowers see their Facebook pages as
	their private property so you don't want to spend too much time looking at their
	activities. Social media is a good way to get in, leave a message and get out. Also,
	make sure you monitor your social media presence because it only takes one or two
	students with hords of followers to give your office a bad name.
</p>
<p>
	<a href="@Url.Content("~/Schools/track")" title="Track Results">Click Here</a> for some tips on tracking your efforts.
</p>
