@{
	ViewBag.Title = "DelinquencyManagement";
}

<h1>Default Prevention</h1>

<p>
	CornerStone has the #1 Cohort Default Rate (CDR) in the nation. The main reason
	our CDR is one-fourth the national average is because of our efforts in delinquency
	management and default prevention.
</p>
<p>
	Because it's so important to keep your student borrowers on track to repay their
	student loans on time we have come up with three simple steps to take to help your
	student borrowers make wise decisions about their loans.
</p>

<h2>Delinquency Management and Default Prevention</h2>
<img title="Delinquent borrower communication Plan, Communicate, Track" alt="Delinquent borrower communication Plan then Communicate then Track"
		 src="@Url.Content("~/images/schoolcomms.png")" class="img-responsive" style="float: right; margin-left: 5px; border: none;">
<p>
	Here are the three steps for communicating with student borrowers about delinquency
	and default. And remember, CornerStone is also working with your student borrowers
	to help them avoid default.
</p>
<ol>
	<li>Plan Who are you going to communicate with and how?</li>
	<li>Communicate. Send your message to the student borrowers you want to connect with.</li>
	<li>
		Track. Take a look at your progress and adjust your plan with the knowledge you
		gained of what worked and what could be improved.
	</li>
</ol>
