@{
	ViewBag.Title = "Track Your Efforts";
}

<h1>Track Your Efforts</h1>

<img src="@Url.Content("~/images/schoolcommstracking.png")" alt="Tracking Your Delinquency Management Efforts." title="Plan, Communicate, Track" style="margin:auto;" class="img-responsive" />

<p>
	Now that you've put your <a href="@Url.Content("~/Schools/Communicate")">communications plan</a> to work, it's time to track
	how it's going. Here are some basic tips to help you track your efforts.<br />
</p>
<p>
	This is where you can use the segments of students to look at your progress; it
	can be helpful to analyze your data by demographic groups. Upi can also look at
	all of your students to get an overall picture of your delinquency management efforts.
	Keep in mind that it can take time for your efforts to translate into measurable
	results.
</p>

<h2>Results</h2>
<p>
	If you look at your student borrower segments there are only three common outcomes:
	the student borrower becomes current through payment or other method; the borrower
	moves to a different delinquency segment; or the borrower is still in the same segment.<img src="@Url.Content("~/images/results.png")" alt="Results Road Sign" title="Results" style="float: right; width: 200px; padding:10px 10px 0 5px;" />
	Realistically, two of these outcomes mean that there was no resolution and one means
	that the account was resolved. Start with your original segments and compare the
	new number of people in the segment to the previous number of student borrowers
	in the segment. This will give you an idea of what segments were most affected by
	your efforts.
</p>
<p>
	Now take a look at those borrowers that have moved from one segment to another and
	remove them from your positive results (there was not resolution so they can't be
	counted with your successes). For example, if you were looking at the segment of
	borrowers that is 30 - 60 days delinquent and the number you began with was 10 borrowers
	in the segment, you resolved 5 of them three are still 30-60 days delinquent and
	two moved into the 61-90 day delinquent segment, your overall success rate with
	that strategy would be 50%.
</p>

<h2>Your Goals</h2>
<p>
	For your long-term goals, you'll have to track your numbers for a longer period
	of time. In areas where you don't see the kind of success you'd like, rethink your
	strategy and your mode of communication; you may find success in another way. The
	point of tracking your numbers in the short-term and long-term is to hone in on
	the most effective means of communication.
</p>
