@{
	ViewBag.Title = "My Cornerstone Loan - About Us";
}

<h1>About CornerStone</h1>

<p>CornerStone Education Loan Services is a not-for-profit Department of Education Servicer. We have a 35 year tradition of high-quality customer service in student loans and are happy to continue that tradition by providing service to student loan borrowers throughout the country.</p>

<h2>CornerStone's Mission Statement</h2>

<p>We guide families through the financing of higher education.  We teach students to save for education, pursue scholarships and grants, and borrow wisely.  We provide conscientious, personal service to borrowers and promote responsible repayment.  Student success in financing and completing their educational goals fulfills our mission.</p>

<h2>CornerStone's Guiding Principles</h2>

<ol>
	<li>
		<strong>Integrity.</strong> We are honest and trustworthy. We protect confidential information, and we are transparent with public information.   We are loyal to each other and our business partners. We work to prevent mistakes, but if a mistake is made, we take responsibility and act quickly to correct it.
	</li>
	<li>
		<strong>Diligence.</strong> We focus clearly on the necessary tasks.  We are steady, earnest and energetic in all our work.  Honoring our commitments in a timely, efficient and effective manner is our hallmark.
	</li>
	<li>
		<strong>Customer focus.</strong> Our goal is to help customers achieve their goals.   We anticipate customer needs and find ways to serve them better.  We create customized solutions, not one-size-fits-all formulas.
	</li>
	<li>
		<strong>Collaboration.</strong> We accomplish more as a cooperative team.  This means sharing information and expertise, being willing to coach and to be coached.  It means putting personal agendas aside to achieve the larger goal.
	</li>
	<li>
		<strong>Knowledge.</strong> We value education. We consistently improve our understanding of the business, thinking ahead to anticipate industry changes.  Formal and informal training and education are encouraged, as well as constant mentoring and information sharing.
	</li>
	<li>
		<strong>Self discipline.</strong> Personal motivation and good habits matter. We consistently set and achieve individual goals. We show self-discipline by the way we conduct ourselves.  As we improve, we also build the team.
	</li>
	<li>
		<strong>Resourcefulness.</strong> Sometimes the best solution to a problem hasn’t been tried yet.  We continually think creatively to identify the most effective and efficient way to get things done.  We are ingenious and inventive.
	</li>
</ol>
