@{
	ViewBag.Title = "Jobs";
}

@section Meta {
	<meta name="description" content="CornerStone offers great job opportunities and is a great place to work." />
}

<h2>Jobs</h2>

<p>
	CornerStone is a great place to work, whether you're working on the CornerStone brand
	or for one of the other areas! If you work with us you will have the opportunity
	to gain valuable experience and help others. We are always looking for motivated
	and skilled people to help us service student loans.
</p>
<p>
	Please <a rel="external" target="_blank" href="https://ushejobs.silkroad.com/" title="Job Postings">Click here</a> for a complete listing of positions open at CornerStone and UHEAA.
</p>