@{
	ViewBag.Title = "REPAYE";
}
@section Meta {
    <style type="text/css">
        ol {
            list-style: decimal;
        }
        ol li {
            margin-bottom: 10px;
        }
    </style>
}
<div class="col-md-6">
    <h1>Revised Pay As You Earn FAQ's</h1>
    <ol>
        <li>
            <strong>Once I have been approved for the Revised Pay as You Earn plan, do I ever have to reapply? How often? </strong>
            Yes, annual recertification is required if you would like to stay on the Revised Pay As You Earn plan. If you fail to certify before the required date, your loans will be placed on an alternate repayment schedule.
        </li>
        <li>
            <strong>How is my payment calculated? </strong>
            Monthly payments are generally equal to 10% of your discretionary income divided by 12.  (Discretionary income is the amount by which your adjusted gross income exceeds 150% of the poverty guideline amount for your state of residence and family size.) 
        </li>
        <li>
            <strong>What type of proof of income do I need? Do I need to include my spouse’s income? </strong>
            You will be required to provide your completed tax return from either of the two most recently completed tax years, or, alternate documentation of income, which can include pay stubs or  a signed statement explaining each source of income and giving the name and addresses of each source of income. If you file a joint tax return with your spouse, you will be required to provide proof of both your income and your spouse’s income. If you are married and file separately with a spouse but you live in the same household, you also will be required to provide proof of both your income and your spouse’s income. If you are married and file jointly or separately but you do not live with your spouse and you cannot reasonably obtain proof of your spouse’s income, you will only be required to provide proof of your income. 
        </li>
        <li>
            <strong>How do I fill out the application? </strong>
            The easiest way to apply is online at www.StudentLoans.gov and sign in with your Federal ID.
        </li>
        <li>
            <strong>Who can be included in my family size? </strong>
            Your family is made up of you, your spouse, and your children (including unborn children who will be born during the year for which you certify your family size). It also includes any other person that currently lives with you now, receive more than half their support from you now, and will continue to receive this support for the year that you certify your family size.
        </li>
        <li>
            <strong>I have multiple servicers. Why do I have different monthly payments? </strong>
            Your monthly installment amount is based on the percentage of loan debt that you have with each servicer. For example, if we service 75% of your total student loan debt and another company service’s 25% of your loan debt, your monthly installment with us will be 75% of your total monthly amount due between both companies.
        </li>
        <li>
            <strong>I’m delinquent. Can I still apply for the Revised Pay As You Earn plan? </strong>
            Yes, applying for the Revised Pay As You Earn Plan is a great way to look for a long-term solution to help with the repayment of your loans. We would advise you to call in and speak with a Customer Service Representative as soon as possible in order to discuss all options for bringing you current while you apply for the Revised Pay As You Earn plan.
        </li>
        <li>
            <strong>I can’t afford my payment while on the Revised Pay As You Earn plan. What do I do? </strong>
            While on the Revised Pay As You Earn Plan, you can still apply for temporarily reduced payments, make interest only payments, or postpone payments with a deferment or forbearance.
        </li>
        <li>
            <strong>I have been on a different Income Driven Repayment plan for the last 5 years. Will those payments count towards my loan forgiveness if I switch to the Revised Pay As You Earn plan? </strong>
            Yes, any payments you have made on a previous Income Driven Repayment Plan will count towards your loan forgiveness. If a balance remains after a certain number of qualifying payments your loans will be forgiven. If you have any loans for graduate study, your loans will be forgiven after 25 years—otherwise your loans will be forgiven after 20 years.
        </li>
        <li>
            <strong>What is interest subsidy and how does it affect my loans? </strong>
            If your loans qualify for an interest subsidy, the Federal Government will repay all or a portion of the accrued unpaid interest on your loans. While on the Revised Pay As You Earn Plan, the difference between your monthly payment and the accruing interest on your subsidized loans is 100 percent subsidized for up to three years on your Subsidized loans. On your unsubsidized loans, the difference between your monthly payment and the accruing interest on your loans is subsidized at 50% while on this plan.  For example, if you have all Subsidized loans, are within the first 3 years of repayment, accrue $100 in interest per month, and your monthly payment is $50, $50 dollars of interest would be subsidized. If you are in the fourth year of repayment, accrue $100 in interest per month, and your monthly payment is $50, $25 of interest would be subsidized. Please note that periods of Economic Hardship Deferment do not count towards your 3-year subsidy period. 
        </li>
    </ol>
</div>
<div class="col-md-6">
    <div>
        <h1>Dept. of Education Blog</h1>
        <a href="http://blog.ed.gov/2015/12/your-federal-student-loans-just-got-easier-to-repaye/" target="_blank">
            Click here to read the Department of Education blog post, <em>Your Federal Student Loans Just Got Easier to REPAYE.</em>
        </a>
    </div>
    <div>
        <h1>Dept. of Education Press Release</h1>
        <a href="http://www.ed.gov/news/press-releases/us-department-education-announces-two-final-regulations-protect-students-and-help-borrowers" target="_blank">
            Click here to view the Department of Education press release on the Revised Pay As You Earn plan.
        </a>
    </div>
    <div>
        <h1>How to Complete the Application</h1>
        <a href="https://studentloans.gov/myDirectLoan/index.action" target="_blank">
            Click here to visit the Federal Student Aid website to complete the electronic application.
        </a>
    </div>
</div>
