USE ReportServer
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0
	DECLARE @Expected INT = 27

--This is being used to have it resubmit on Monday the 2nd
UPDATE
	ReportServer..Subscriptions
SET
	LastStatus = 'forced failure'
WHERE 
	SubscriptionID IN 
	(
		'13872596-3BD7-4A25-884D-79965459868E',
		'368B6A62-EFB9-4475-AEAA-B68518E9ECD1',
		'7A83DCF1-23D5-46E9-A120-C4281E1C4C88',
		'FE178020-B736-40F4-A46E-60F46E4DAAFF',
		'330449DA-5953-44E2-AFEF-41284131D8D2',
		'CE4F06A8-DAC0-4575-A214-2D3F1068ECE5',
		'90D5FE00-4D73-4792-AE43-91DFCDF11634',
		'EA4501D2-EB0C-43FB-832C-DDBD14D13CC1',
		'493635D1-9502-4F59-BD29-34D24B26CD89',
		'68CA427E-313D-46CA-83D7-08EBA79E0BE1',
		'199CF6F3-5AFE-497B-B6E6-B6D1A6BBD61F',
		'3D1FC420-A5F0-4A30-92CA-7CF91E0D6A7C',
		'A3B89DD4-3E3F-4D0C-BB89-7077D571EC1D',
		'FD9811B1-F232-4676-BED3-33230F59305E',
		'5DEA7948-4C06-4F72-A489-B416EA87B937',
		'08C3EC24-5E30-41C8-BD8A-3C25A99FBBB8',
		'E6ADFF72-9201-4C36-8EE8-76A02845259E',
		'0124F536-F49F-4EB4-B27B-5C4B365D9ABF',
		'1283008F-11F7-40F7-B0F2-98BAE9A18B8A',
		'E3B36A3C-F54B-4B1A-93A2-77462A8EA043',
		'5D841D4E-ACCA-4859-9CFC-B6C235E33523',
		'630DCBE8-4BA0-47F4-8F37-2106D97F333B',
		'5D7538F4-54DC-4328-96D2-DF02B8E6B49F',
		'087430EC-FF51-4C12-91B8-241E9C8D31E6',
		'B7A926E8-5EE8-447D-BAC0-3FB6FF522FC3',
		'9F270DD9-4478-4DB6-84E2-749F429A72B8',
		'EC56963D-3BD5-46B7-820D-A8AF0C7624DC'
	)

	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

IF @ROWCOUNT = @Expected AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END