SELECT
*
FROM
(
SELECT 
--PD30.DC_DOM_ST AS CURRENT_STATE
D.Disaster
,CONVERT(VARCHAR, D.BeginDate, 101) as DECLARATION_BEGIN
,CONVERT(VARCHAR, D.EndDate, 101) as DECLARATION_END
,count(distinct pq.accountnumber) as BORROWER_COUNT
  FROM [ULS].[dasforbuh].[ProcessQueue] PQ
  INNER JOIN ULS.dasforbuh.Disasters D
	ON D.DisasterId = PQ.DisasterId
  INNER JOIN UDW..PD10_PRS_NME PD10
	ON PD10.DF_SPE_ACC_ID = PQ.AccountNumber
  INNER JOIN UDW..PD30_PRS_ADR PD30
	ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
	AND PD30.DC_ADR = 'L'
  INNER JOIN
  (	
	SELECT DISTINCT
		PD10.DF_SPE_ACC_ID,
		ln60.LD_FOR_BEG,
		ln60.LD_FOR_END
	FROM
		UDW..FB10_BR_FOR_REQ FB10
		INNER JOIN UDW..PD10_PRS_NME PD10
			ON PD10.DF_PRS_ID = FB10.BF_SSN
		INNER JOIN UDW..LN60_BR_FOR_APV LN60
			ON LN60.BF_SSN = FB10.BF_SSN
			AND LN60.LF_FOR_CTL_NUM = FB10.LF_FOR_CTL_NUM
		INNER JOIN UDW..LN10_LON LN10
			ON LN10.BF_SSN = LN60.BF_SSN
			AND LN10.LN_SEQ = LN60.LN_SEQ
			AND LN10.LA_CUR_PRI > 0
			AND LN10.LC_STA_LON10 = 'R'
	
	WHERE
		LN60.LC_STA_LON60 = 'A'
		AND FB10.LC_STA_FOR10 = 'A'
		AND FB10.LC_FOR_STA = 'A' --denied records cant have this active
		AND LN60.LC_FOR_RSP != '003'
		AND FB10.LC_FOR_TYP = '40'
		AND CAST(GETDATE() AS DATE) BETWEEN CAST(LN60.LD_FOR_BEG AS DATE) AND CAST(LN60.LD_FOR_END AS DATE)
  ) F
	ON F.DF_SPE_ACC_ID = PQ.AccountNumber
  where PQ.DisasterId in 
  (
  34,35,37,38,39,40,41,42,45,46,47,48,49
  )
  and DeletedBy is null
  GROUP BY
	--PD30.DC_DOM_ST
D.Disaster
,CONVERT(VARCHAR, D.BeginDate, 101) 
,CONVERT(VARCHAR, D.EndDate, 101) 
) P
	ORDER BY
		CAST(P.DECLARATION_END AS DATE)


		SELECT DISTINCT
		--ln60.LD_FOR_BEG,
		CONVERT(VARCHAR, ln60.LD_FOR_END, 101) AS FIDASTER_FORB_END_DATE,
		count(distinct fb10.bf_ssn) as BORROWER_COUNT
	FROM
		UDW..FB10_BR_FOR_REQ FB10
		INNER JOIN UDW..PD10_PRS_NME PD10
			ON PD10.DF_PRS_ID = FB10.BF_SSN
		INNER JOIN UDW..LN60_BR_FOR_APV LN60
			ON LN60.BF_SSN = FB10.BF_SSN
			AND LN60.LF_FOR_CTL_NUM = FB10.LF_FOR_CTL_NUM
		INNER JOIN UDW..LN10_LON LN10
			ON LN10.BF_SSN = LN60.BF_SSN
			AND LN10.LN_SEQ = LN60.LN_SEQ
			AND LN10.LA_CUR_PRI > 0
			AND LN10.LC_STA_LON10 = 'R'
	
	WHERE
		LN60.LC_STA_LON60 = 'A'
		AND FB10.LC_STA_FOR10 = 'A'
		AND FB10.LC_FOR_STA = 'A' --denied records cant have this active
		AND LN60.LC_FOR_RSP != '003'
		AND FB10.LC_FOR_TYP = '40'
		AND CAST(GETDATE() AS DATE) BETWEEN CAST(LN60.LD_FOR_BEG AS DATE) AND CAST(LN60.LD_FOR_END AS DATE)
group by 
--	ln60.LD_FOR_BEG,
		ln60.LD_FOR_END