/*all UHEAA borrowers with a Canadian address.*/
USE UDW
GO

SELECT DISTINCT 
	*
FROM 
	[DBO].[PD10_BORROWER] PD10
	INNER JOIN [DBO].[PD30_ADDRESS] PD30
		ON PD10.DF_SPE_ACC_ID = PD30.DF_SPE_ACC_ID
WHERE 
	PD30.[DM_FGN_CNY] = 'CANADA'




SELECT * FROM OPENQUERY(DUSTER,'
	SELECT DISTINCT 
		PD10.DF_SPE_ACC_ID
		,PD10.DF_PRS_ID
		,PD30.DM_FGN_CNY
	FROM 
		OLWHRM1.PD10_PRS_NME PD10
		INNER JOIN OLWHRM1.PD30_PRS_ADR PD30
			ON PD10.DF_PRS_ID = PD30.DF_PRS_ID
	WHERE 
		PD30.DM_FGN_CNY = ''CANADA''
		AND PD10.DF_SPE_ACC_ID <> '' ''
');

