
--/****** Object:  StoredProcedure [oltotalvp].[GetVoluntaryPayments]    Script Date: 10/19/2021 1:21:54 PM ******/


--DROP TABLE IF EXISTS #VP_09_17
--DROP TABLE IF EXISTS #VP_09_24
--DROP TABLE IF EXISTS #VP_10_01
--DROP TABLE IF EXISTS #VP_10_08

--SELECT DISTINCT
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF,
--	SUM(LA_TRX) AS PAYMENT_AMOUNT
--INTO #VP_09_17
--FROM
--	[ODW_09_17_2021]..DC11_LON_FAT
--WHERE
--	LC_TRX_TYP IN ('BR','OV')
--	AND LD_TRX_EFF >= '03/13/2020'
--	AND LC_REV_IND_TYP = ''
--	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
--GROUP BY
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF



--SELECT DISTINCT
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF,
--	SUM(LA_TRX) AS PAYMENT_AMOUNT
--INTO #VP_09_24
--FROM
--	[ODW_09_24_2021]..DC11_LON_FAT
--WHERE
--	LC_TRX_TYP IN ('BR','OV')
--	AND LD_TRX_EFF >= '03/13/2020'
--	AND LC_REV_IND_TYP = ''
--	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
--GROUP BY
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF



--SELECT DISTINCT
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF,
--	SUM(LA_TRX) AS PAYMENT_AMOUNT
--INTO #VP_10_01
--FROM
--	[ODW_10_01_2021]..DC11_LON_FAT
--WHERE
--	LC_TRX_TYP IN ('BR','OV')
--	AND LD_TRX_EFF >= '03/13/2020'
--	AND LC_REV_IND_TYP = ''
--	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
--GROUP BY
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF


	
--SELECT DISTINCT
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF,
--	SUM(LA_TRX) AS PAYMENT_AMOUNT
--INTO #VP_10_08
--FROM
--	[ODW_10_08_2021]..DC11_LON_FAT
--WHERE
--	LC_TRX_TYP IN ('BR','OV')
--	AND LD_TRX_EFF >= '03/13/2020'
--	AND LC_REV_IND_TYP = ''
--	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
--GROUP BY
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF

--SELECT
--*
--FROM
--	#VP_09_17 P
--SELECT
--*
--FROM
--	#VP_09_24 P
--SELECT
--*
--FROM
--	#VP_10_01 P
--SELECT
--*
--FROM
--	#VP_10_08 P

--SELECT
--p.*
--FROM
--	#VP_09_24 P
--	LEFT JOIN #VP_09_17 P1
--		ON P1.AF_APL_ID = P.AF_APL_ID
--		AND P1.AF_APL_ID_SFX = P.AF_APL_ID_SFX
--		AND P1.LD_TRX_EFF = P.LD_TRX_EFF
--		AND P1.LC_TRX_TYP = P.LC_TRX_TYP
--WHERE 
--	P1.AF_APL_ID IS NULL

--SELECT
--p.*
--FROM
--	#VP_10_01 P
--	LEFT JOIN #VP_09_24 P1
--		ON P1.AF_APL_ID = P.AF_APL_ID
--		AND P1.AF_APL_ID_SFX = P.AF_APL_ID_SFX
--		AND P1.LD_TRX_EFF = P.LD_TRX_EFF
--		AND P1.LC_TRX_TYP = P.LC_TRX_TYP
--WHERE 
--	P1.AF_APL_ID IS NULL

--SELECT
--p.*
--FROM
--	#VP_10_08 P
--	LEFT JOIN #VP_10_01 P1
--		ON P1.AF_APL_ID = P.AF_APL_ID
--		AND P1.AF_APL_ID_SFX = P.AF_APL_ID_SFX
--		AND P1.LD_TRX_EFF = P.LD_TRX_EFF
--		AND P1.LC_TRX_TYP = P.LC_TRX_TYP
--WHERE 
--	P1.AF_APL_ID IS NULL



--SELECT DISTINCT
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF,
--	SUM(LA_TRX) AS PAYMENT_AMOUNT
--FROM
--	[ODW_10_22_2021]..DC11_LON_FAT
--WHERE
--	LC_TRX_TYP IN ('BR','OV')
--	AND LD_TRX_EFF >= '03/13/2020'
--	AND LC_REV_IND_TYP = ''
--	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
--GROUP BY
--	AF_APL_ID,
--	AF_APL_ID_SFX,
--	BF_SSN,
--	LC_TRX_TYP,
--	LD_TRX_EFF

SELECT DISTINCT
	AF_APL_ID,
	AF_APL_ID_SFX,
	BF_SSN,
	LC_TRX_TYP,
	LD_TRX_EFF,
	SUM(LA_TRX) AS PAYMENT_AMOUNT
FROM
	odw..DC11_LON_FAT
WHERE
	LC_TRX_TYP IN ('BR','OV')
	AND LD_TRX_EFF >= '03/13/2020'
	AND LC_REV_IND_TYP = ''
	AND (LD_TRX_ADJ IS NULL OR LD_TRX_ADJ = '')
GROUP BY
	AF_APL_ID,
	AF_APL_ID_SFX,
	BF_SSN,
	LC_TRX_TYP,
	LD_TRX_EFF