--UTNWS44_UHEAA.sql lines 735-754: 
SELECT DISTINCT
	PD10.DF_SPE_ACC_ID
FROM
	UDW..LN10_LON LN10
	INNER JOIN UDW..DW01_DW_CLC_CLU DW01
		ON LN10.BF_SSN = DW01.BF_SSN
		AND LN10.LN_SEQ = DW01.LN_SEQ
	INNER JOIN UDW..PD10_PRS_NME PD10
		ON LN10.BF_SSN = PD10.DF_PRS_ID
	INNER JOIN UDW..PD30_PRS_ADR PD30
		ON LN10.BF_SSN = PD30.DF_PRS_ID
	INNER JOIN ULS.dasforbfed.Zips ZIP
		ON ZIP.ZipCode = SUBSTRING(PD30.DF_ZIP_CDE, 1, 5)
	INNER JOIN ULS.dasforbfed.Disasters DIS
		ON ZIP.DisasterId = DIS.DisasterId
WHERE
	LN10.LA_CUR_PRI = 0.00
	AND LN10.LD_PIF_RPT BETWEEN DATEADD(DAY,-30,CONVERT(DATE,GETDATE())) AND CONVERT(DATE,GETDATE())
	AND DW01.WC_DW_LON_STA = '12'



SELECT * FROM [ULS].[dasforbfed].[ProcessQueue] where AccountNumber = '5114314880'
--SELECT * FROM [ULS].[dasforbfed].[ProcessQueue] where ForbearanceAddedOn is null
SELECT * FROM UDW..PD30_PRS_ADR WHERE DF_PRS_ID = '607607430'
select * from udw..PD31_PRS_INA where df_prs_id = '607607430'
SELECT * FROM ULS.dasforbfed.Zips where ZipCode like '%90680%'--1251'
SELECT * FROM ULS.dasforbfed.Disasters WHERE DisasterId = 1
SELECT * FROM ULS.dasforbfed.Zips WHERE DisasterId = 1
SELECT *  FROM [ULS].[dasforbfed].[ForbearanceTypes]
SELECT * FROM UDW..PD10_PRS_NME WHERE DF_SPE_ACC_ID = '5114314880'
SELECT 
	BF_SSN,
	LN_SEQ,
	LC_STA_LON10,
	LA_CUR_PRI,
	LD_PIF_RPT
FROM UDW..LN10_LON WHERE BF_SSN = '607607430'
SELECT * FROM UDW..WQ20_TSK_QUE WHERE BF_SSN = '607607430'
SELECT * FROM UDW..WQ21_TSK_QUE_HST WHERE BF_SSN = '607607430' and pf_req_act = 'DASFB' order by WF_CRT_DTS_WQ21
select * from udw..LN40_LON_CLM_PCL where BF_SSN = '607607430'
select * from udw..LN90_FIN_ATY  where BF_SSN = '607607430'
select * from UDW.calc.RepaymentSchedules where BF_SSN = '607607430'