DROP TABLE  #POP
SELECT 
	[SSN],
    [LOAN SEQ],
    [LOAN STATUS],
    [CURRENT PRINCIPAL BALANCE],
	LN41.LC_RPT_STA_CRB
 INTO #POP
	FROM 
		[UDW].[dbo].[UNH70859] UNH
	INNER JOIN UDW..LN80_LON_BIL_CRF LN80
		ON LN80.BF_SSN = UNH.SSN
		AND LN80.LN_SEQ = UNH.[LOAN SEQ]
		AND LN80.LD_BIL_DU_LON BETWEEN '02/01/2021' AND '02/28/2021'
		AND LA_BIL_PAS_DU = 0
	INNER JOIN UDW..LN41_LON_CRB_RPT LN41
		ON LN41.BF_SSN = UNH.SSN
		AND LN41.LN_SEQ = UNH.[LOAN SEQ]
		AND LN41.LD_RPT_CRB = '02/28/2021'
		AND LN41.LC_RPT_STA_CRB IN ('78', '80', '82', '83', '84', '93')

SELECT DISTINCT
	p.SSN,
	p.[LOAN SEQ],
	LN80.LA_BIL_CUR_DU,
	LN80.LA_BIL_PAS_DU,
	P.LC_RPT_STA_CRB
FROM
	#POP P
	LEFT JOIN
	(
		SELECT DISTINCT
			LN80.*
		FROM
			UDW..LN80_LON_BIL_CRF LN80
			INNER JOIN
			(
				SELECT
					LN80.BF_SSN,
					LN80.LN_SEQ,
					MIN(LN80.LD_BIL_DU_LON) AS LD_BIL_DU_LON
				FROM 
					UDW..LN80_LON_BIL_CRF LN80
					INNER JOIN #POP P
						ON P.SSN = LN80.BF_SSN
						AND P.[LOAN SEQ] = LN80.LN_SEQ
					INNER JOIN UDW..PD10_PRS_NME PD10
						ON PD10.DF_PRS_ID = LN80.BF_SSN
				WHERE 
					LN80.LC_STA_LON80 = 'A'
					AND CAST(LN80.LD_BIL_DU_LON AS DATE) >= '03/01/2021'
				GROUP BY 
					LN80.BF_SSN,
					LN80.LN_SEQ
			) M_LN80
				ON M_LN80.BF_SSN = LN80.BF_SSN
				AND M_LN80.LN_SEQ = LN80.LN_SEQ
				AND M_LN80.LD_BIL_DU_LON = LN80.LD_BIL_DU_LON
				AND LN80.LC_STA_LON80 = 'A'
				
	) LN80
		ON LN80.BF_SSN = P.SSN
		AND LN80.LN_SEQ = p.[LOAN SEQ]