USE [CSYS]
GO
/****** Object:  Table [dbo].[GENR_LST_BusinessUnits]    Script Date: 04/09/2014 16:24:28 ******/
DROP TABLE [dbo].[GENR_LST_BusinessUnits]
GO
/****** Object:  Table [dbo].[SYSA_DAT_Users]    Script Date: 04/09/2014 16:24:28 ******/
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_WindowsUserName]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_FirstName]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_MiddleInitial]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_LastName]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_EMail]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_Extension]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_Extension2]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_AesAccountId]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_Title]
GO
ALTER TABLE [dbo].[SYSA_DAT_Users] DROP CONSTRAINT [DF_SYSA_DAT_Users_Status]
GO
DROP TABLE [dbo].[SYSA_DAT_Users]
GO
/****** Object:  Table [dbo].[SYSA_DAT_Users]    Script Date: 04/09/2014 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYSA_DAT_Users](
	[SqlUserId] [int] IDENTITY(1,1) NOT NULL,
	[WindowsUserName] [varchar](50) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_WindowsUserName]  DEFAULT (''),
	[FirstName] [varchar](50) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_FirstName]  DEFAULT (''),
	[MiddleInitial] [char](1) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_MiddleInitial]  DEFAULT (''),
	[LastName] [varchar](50) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_LastName]  DEFAULT (''),
	[EMail] [varchar](100) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_EMail]  DEFAULT (''),
	[Extension] [varchar](4) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_Extension]  DEFAULT (''),
	[Extension2] [varchar](4) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_Extension2]  DEFAULT (''),
	[AesAccountId] [char](10) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_AesAccountId]  DEFAULT (''),
	[Title] [varchar](100) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_Title]  DEFAULT (''),
	[Status] [varchar](50) NOT NULL CONSTRAINT [DF_SYSA_DAT_Users_Status]  DEFAULT ('Active'),
	[BusinessUnit] [int] NULL,
	[Role] [int] NULL,
	[AesUserId] [varchar](7) NULL,
 CONSTRAINT [PK_SYSA_DAT_Users] PRIMARY KEY CLUSTERED 
(
	[SqlUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[SYSA_DAT_Users] ON
INSERT [dbo].[SYSA_DAT_Users] ([SqlUserId], [WindowsUserName], [FirstName], [MiddleInitial], [LastName], [EMail], [Extension], [Extension2], [AesAccountId], [Title], [Status], [BusinessUnit], [Role], [AesUserId]) VALUES (1, N'aakerapril', N'April', N' ', N'Aaker', N'aakerapril@utahsbr.edu', N'', N'', N'          ', N'', N'Inactive', 1, 61, NULL)
INSERT [dbo].[SYSA_DAT_Users] ([SqlUserId], [WindowsUserName], [FirstName], [MiddleInitial], [LastName], [EMail], [Extension], [Extension2], [AesAccountId], [Title], [Status], [BusinessUnit], [Role], [AesUserId]) VALUES (2, N'aavalos', N'Alessandra', N' ', N'Avalos', N'aavalos@utahsbr.edu', N'', N'', N'          ', N'', N'Inactive', 1, 61, NULL)
INSERT [dbo].[SYSA_DAT_Users] ([SqlUserId], [WindowsUserName], [FirstName], [MiddleInitial], [LastName], [EMail], [Extension], [Extension2], [AesAccountId], [Title], [Status], [BusinessUnit], [Role], [AesUserId]) VALUES (3, N'abell', N'Anita', N' ', N'Bell', N'abell@utahsbr.edu', N'', N'', N'          ', N'', N'Inactive', 1, 61, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[SYSA_DAT_Users] OFF
/****** Object:  Table [dbo].[GENR_LST_BusinessUnits]    Script Date: 04/09/2014 16:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENR_LST_BusinessUnits](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GENR_LST_BusinessUnits] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UN_GENR_LST_BusinessUnits] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
SET IDENTITY_INSERT [dbo].[GENR_LST_BusinessUnits] ON
INSERT [dbo].[GENR_LST_BusinessUnits] ([ID], [Name]) VALUES (23, N'Account Services')
INSERT [dbo].[GENR_LST_BusinessUnits] ([ID], [Name]) VALUES (40, N'Accounting and Finance')
INSERT [dbo].[GENR_LST_BusinessUnits] ([ID], [Name]) VALUES (41, N'Accounting Branch')
SET IDENTITY_INSERT [dbo].[GENR_LST_BusinessUnits] OFF
