SELECT 
	UNH.[DF_PRS_ID],
	UNH.[DC_PHN] AS DC_PHN_HST,
	ISNULL(PD41.DN_PHN_SEQ,0) + 1 AS DN_PHN_SEQ,
	'N' AS DI_PHN_VLD_HST,
	'' AS DN_PHN_XTN_HST, 
	PD42.DN_DOM_PHN_LCL  AS DN_DOM_PHN_LCL_HST,
	PD42.DN_DOM_PHN_XCH	 AS DN_DOM_PHN_XCH_HST,
	PD42.DN_DOM_PHN_ARA	 AS DN_DOM_PHN_ARA_HST,
	'' AS DI_PHN_WTS_HST,
	'' AS DX_PHN_TZ_HST ,
	'UT01896' AS DF_LST_USR_PD41, 
	'' AS DN_FGN_PHN_INL_HST,
	'' AS DN_FGN_PHN_CNY_HST,
	'' AS DN_FGN_PHN_CT_HST ,
	'' AS DN_FGN_PHN_LCL_HST,
	'CURRENT DATE/TIME' AS DF_LST_DTS_PD41 ,
	'' AS DC_NO_HME_PHN_HST,
	'41' AS DC_PHN_SRC_HST  , 
	'' AS DI_HST_OLY_PD41  ,
	PD42.DC_ALW_ADL_PHN
FROM 
	[UDW].[dbo].[UNH72760'] UNH
	INNER JOIN UDW..PD42_PRS_PHN PD42
		ON PD42.DF_PRS_ID = UNH.DF_PRS_ID
		AND PD42.DC_PHN = UNH.DC_PHN
	LEFT JOIN
	(
		SELECT
			DF_PRS_ID, 
			DC_PHN_HST,
			MAX(DN_PHN_SEQ) AS DN_PHN_SEQ 
		FROM
			UDW..PD41_PHN_HST
		GROUP BY
			DF_PRS_ID, 
			DC_PHN_HST
	) PD41
		ON PD41.DF_PRS_ID = UNH.DF_PRS_ID
		AND PD41.DC_PHN_HST = UNH.DC_PHN