USE BatchProcessing
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0
	
	UPDATE
		[BatchProcessing].[dbo].[Login]
	SET
		Active = 1
	WHERE
		UserName IN ('UT00240','UT00314','UT00553','UT00554','UT00555','UT00564','UT00803','UT00804','UT00805','UT00808','UT00809','UT00810','UT01648','UT01649','UT01650','UT01651','UT01652','UT01885','UT01886','UT01887','UT01888','UT01889','UT01890','UT01892','UT01894','UT01896','UT01898','UT01900','UT01901','UT01902','UT01904')

	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

IF @ROWCOUNT = 62 AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END