/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT 
	AC.SSN
FROM 
	[UDW_Temp].[dbo].[ach compiled] AC
	LEFT OUTER JOIN OPENQUERY
	(
	DUSTER, 
	'
		SELECT 
			* 
		FROM 
			OLWHRM1.BR30_BR_EFT BR30
	') BR30 
		ON BR30.BF_SSN = AC.SSN
	LEFT OUTER JOIN OPENQUERY
	(
	DUSTER,
	'
		SELECT
			*
		FROM
			OLWHRM1.DF10_BR_DFR_REQ DF10
		WHERE
			DF10.LC_DFR_STA = ''A''
			AND CURRENT DATE BETWEEN DF10.LD_DFR_REQ_BEG AND DF10.LD_DFR_REQ_END
	'
	) DF10
		ON DF10.BF_SSN = AC.SSN
	LEFT OUTER JOIN OPENQUERY
	(
	DUSTER,
	'
		SELECT
			*
		FROM
			OLWHRM1.FB10_BR_FOR_REQ FB10
		WHERE
			FB10.LC_FOR_STA = ''A''
			AND CURRENT DATE BETWEEN FB10.LD_FOR_REQ_BEG AND FB10.LD_FOR_REQ_END
	'
	) FB10
		ON FB10.BF_SSN = AC.SSN
WHERE 
	BR30.BF_SSN IS NULL
	AND DF10.BF_SSN IS NULL
	AND FB10.BF_SSN IS NULL
