USE EcorrUheaa
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0

	UPDATE
		UDW..LT20_LTR_REQ_PRC
	SET
		EcorrDocumentCreatedAt = NULL
	WHERE
		RM_DSC_LTR_PRC = 'US09B10P'
		AND RF_SBJ_PRC IN ('634101946','529597863','633125597','114747680','339829502','619343884','109748661','576257046','461962951')	
		AND CAST(EcorrDocumentCreatedAt AS DATE) = '8/6/2020'
	
	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

	UPDATE
		EcorrUheaa..DocumentDetails
	SET
		Active = 0
	WHERE
		DocumentDetailsId IN (6797530,6797531,6797532,6797533,6797534,6797535,6797536,6797537,6797538)

	SELECT @ROWCOUNT = @ROWCOUNT + @@ROWCOUNT, @ERROR = @ERROR + @@ERROR

IF @ROWCOUNT = 19 AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END