USE [BSYS]
GO
/****** Object:  Table [dbo].[MABC_SSN_User_XRef]    Script Date: 5/28/2020 7:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MABC_SSN_User_XRef](
	[RangeID] [int] NOT NULL,
	[UserID] [varchar](7) NOT NULL,
	[WindowsUserName] [nvarchar](50) NOT NULL,
	[SSNRangeBegin] [int] NOT NULL,
	[SSNRangeEnd] [int] NOT NULL,
	[Dept] [nvarchar](50) NOT NULL,
	[UserID2] [varchar](7) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[MABC_SSN_User_XRef] ([RangeID], [UserID], [WindowsUserName], [SSNRangeBegin], [SSNRangeEnd], [Dept], [UserID2]) VALUES (1, N'UT01639', N'ejacobson', 0, 10, N'Account Resolution', N'UT01639')
GO
INSERT [dbo].[MABC_SSN_User_XRef] ([RangeID], [UserID], [WindowsUserName], [SSNRangeBegin], [SSNRangeEnd], [Dept], [UserID2]) VALUES (2, N'UT00258', N'dburnham', 11, 21, N'Account Resolution', N'UT00258')
GO
INSERT [dbo].[MABC_SSN_User_XRef] ([RangeID], [UserID], [WindowsUserName], [SSNRangeBegin], [SSNRangeEnd], [Dept], [UserID2]) VALUES (3, N'UT02970', N'dhalaliku', 22, 33, N'Account Resolution', N'UT02970')
GO

CREATE TABLE [dbo].[MABC_LST_CollQueue](
	[Queue] VARCHAR(10)
)

GO
