/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	'2019 - 2020' AS [PERIOD],
	'Commercial FFELP Loans' AS CATEGORY,
	 COUNT(*) AS TOTAL_LOANS,
	 SUM(LN10.LA_CUR_PRI) AS PRINCIPAL_BALANCE
FROM 
	[AuditUDW].[dbo].[LN10_LON_Apr2019] LN10
	INNER JOIN
	(
		SELECT
			DF_PRS_ID
		FROM
			UDW..PD30_PRS_ADR
		WHERE
			DC_DOM_ST = 'WA'
			AND DI_VLD_ADR = 'Y'
		UNION

		SELECT
			DF_PRS_ID
		FROM
			UDW..PD31_PRS_INA PD31
		WHERE
			PD31.DC_DOM_ST_HST = 'WA'
			AND PD31.DI_VLD_ADR_HST = 'Y'
			AND PD31.DD_CRT_PD31 > '04/23/2019'
	) PD30WA
		ON PD30WA.DF_PRS_ID = LN10.BF_SSN
WHERE
	LN10.LA_CUR_PRI > 0
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.IC_LON_PGM != 'TILP'


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	'MOST RECENT MONTH END' AS [PERIOD],
	'Commercial FFELP Loans' AS CATEGORY,
	 COUNT(*) AS TOTAL_LOANS,
	 SUM(LN10.LA_CUR_PRI) AS PRINCIPAL_BALANCE
FROM 
	UDW.[dbo].LN10_LON LN10
	INNER JOIN
	(
		SELECT
			DF_PRS_ID
		FROM
			UDW..PD30_PRS_ADR
		WHERE
			DC_DOM_ST = 'WA'
			AND DI_VLD_ADR = 'Y'
		UNION

		SELECT
			DF_PRS_ID
		FROM
			UDW..PD31_PRS_INA PD31
		WHERE
			PD31.DC_DOM_ST_HST = 'WA'
			AND PD31.DI_VLD_ADR_HST = 'Y'
			AND PD31.DD_CRT_PD31 > '04/23/2019'
	) PD30WA
		ON PD30WA.DF_PRS_ID = LN10.BF_SSN
WHERE
	LN10.LA_CUR_PRI > 0
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.IC_LON_PGM != 'TILP'


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	'2019 - 2020' AS [PERIOD],
	'Other Loans' AS CATEGORY,
	 COUNT(*) AS TOTAL_LOANS,
	 SUM(LN10.LA_CUR_PRI) AS PRINCIPAL_BALANCE
FROM 
	[AuditUDW].[dbo].[LN10_LON_Apr2019] LN10
	INNER JOIN
	(
		SELECT
			DF_PRS_ID
		FROM
			UDW..PD30_PRS_ADR
		WHERE
			DC_DOM_ST = 'WA'
			AND DI_VLD_ADR = 'Y'
		UNION

		SELECT
			DF_PRS_ID
		FROM
			UDW..PD31_PRS_INA PD31
		WHERE
			PD31.DC_DOM_ST_HST = 'WA'
			AND PD31.DI_VLD_ADR_HST = 'Y'
			AND PD31.DD_CRT_PD31 > '04/23/2019'
	) PD30WA
		ON PD30WA.DF_PRS_ID = LN10.BF_SSN
WHERE
	LN10.LA_CUR_PRI > 0
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.IC_LON_PGM = 'TILP'


/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	'MOST RECENT MONTH END' AS [PERIOD],
	'Other Loans' AS CATEGORY,
	 COUNT(*) AS TOTAL_LOANS,
	 SUM(LN10.LA_CUR_PRI) AS PRINCIPAL_BALANCE
FROM 
	UDW.[dbo].LN10_LON LN10
	INNER JOIN
	(
		SELECT
			DF_PRS_ID
		FROM
			UDW..PD30_PRS_ADR
		WHERE
			DC_DOM_ST = 'WA'
			AND DI_VLD_ADR = 'Y'
		UNION

		SELECT
			DF_PRS_ID
		FROM
			UDW..PD31_PRS_INA PD31
		WHERE
			PD31.DC_DOM_ST_HST = 'WA'
			AND PD31.DI_VLD_ADR_HST = 'Y'
			AND PD31.DD_CRT_PD31 > '04/23/2019'
	) PD30WA
		ON PD30WA.DF_PRS_ID = LN10.BF_SSN
WHERE
	LN10.LA_CUR_PRI > 0
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.IC_LON_PGM = 'TILP'