/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [BF_SSN]
      ,[LN_SEQ]
      ,CONVERT(VARCHAR, LD_BIL_CRT, 101) AS LD_BIL_CRT
      ,[LN_SEQ_BIL_WI_DTE]
      ,[LN_BIL_OCC_SEQ]
      ,[LA_BIL_CUR_DU]
      ,[LA_BIL_PAS_DU]
      ,[LC_STA_LON80]
      ,[LA_NSI_BIL]
      ,[LA_CUR_PRN_BIL]
      ,[LC_LON_STA_BIL]
      ,[LR_INT_BIL]
      ,[LD_LST_DTS_LN80]
      ,[LI_PSB]
      ,[LD_BIL_DU_LON]
      ,[LC_BIL_TYP_LON]
      ,[LI_FNL_BIL_LON]
      ,[LD_STA_LON80]
      ,[LA_BIL_DU_PRT]
      ,[LA_TOT_BIL_STS]
      ,[LA_PCV_BIL_STS]
      ,[LF_DFR_CTL_NUM]
      ,[LF_FOR_CTL_NUM]
      ,[LD_LTE_FEE_ASS]
      ,[LA_LTE_FEE_ASS]
      ,[LI_LTE_FEE_OVR]
      ,[LC_LTE_FEE_WAV_REA]
      ,[LD_BIL_STS_RIR_TOL]
      ,[LI_BIL_DLQ_OVR_RIR]
      ,[LF_USR_DLQ_OVR_RIR]
      ,[LA_LTE_FEE_OTS_PRT]
      ,[LD_LTE_FEE_WAV]
      ,[LD_RP_RTE_2B_DTR]
      ,[LC_RPY_OPT_AWD_BIL]
      ,[LN_CU_SEQ]
      ,[LC_RPD_RLF_ETR]
      ,[LA_LTE_FEE_EST_BIL]
      ,[LN_DAY_FEE_GRC_BIL]
      ,[LA_INT_PD_2DT_BIL]
      ,[LA_FEE_PD_2DT_BIL]
      ,[LA_PRI_PD_2DT_BIL]
      ,[LI_PSV_FGV_BIL_OVR]
      ,[LA_PIO_BIL_PFH]
      ,[LA_RPYE_CTH_ISL]
      ,[LA_RPYE_CTH_STS]
      ,[LA_TOT_NSB_INT_OTS]
      ,[LD_NXT_PAY_DUE_AHD]
      ,[LA_NXT_TOT_DUE_AHD]
      --,[LN_RPS_SEQ]
      --,[LN_GRD_RPS_SEQ]
  FROM [UDW].[dbo].[LN80_LON_BIL_CRF]
  WHERE CAST(LD_BIL_CRT AS DATE) > CAST(dateadd(D, -298, GETDATE()) AS DATE)

  AND BF_SSN IN(
  002689960,
004621726,
004825225,
004849486,
004886582,
005629860,
006745759,
012584770,
015683291,
017684442,
019881066,
020622951,
022522685,
024724534,
024741749,
025685960,
027687000,
030682944,
031727374,
032584581,
033741383,
034628752,
036500261,
040827178,
043744626,
043804552,
044829655,
044862801,
045806822,
046860457,
047768475,
048842314,
049720855,
052729044,
055744939,
055927718,
056987230,
057723344,
059804614,
061669877,
061684834,
061743153,
062744744,
063504885,
063802070,
064480348,
065748559,
067506170,
067786104,
068425826,
068741957,
069788769,
071702170,
072783771,
073600860,
073640588,
074545183,
074707666,
075503254,
075663163,
075782560,
075783266,
077769038,
078680778,
078709508,
078765505,
078766939,
080621513,
081489029,
081543957,
084541000,
084703599,
084722149,
086781284,
087667072,
088767526,
088884519,
089745493,
089760564,
091688236,
091760316,
093803677,
095541477,
099783224,
100586018,
101646446,
102668014,
102762495,
105747663,
105880801,
107706499,
109682274,
110746735,
112847909,
113763767,
113781576,
115764828,
117649454,
117744001,
117783506,
118740767,
119584064,
121746448,
122643321,
126647627,
126668510,
126721875,
127649635,
127740328,
129662709,
129700906,
133620035,
134624282,
134640026,
134668887,
138901797,
142888016,
145507687,
150565986,
154760721,
155785673,
156741462,
158864593,
163604073,
163680090,
164680821,
166726922,
170561015,
171842532,
174567849,
179627046,
181704782,
182644165,
184622306,
184706878,
188608974,
190483805,
195682542,
197602144,
198423187,
198708238,
198709995,
200706534,
200722059,
210501509,
212027635,
214152184,
214254025,
215316092,
215358409,
215731748,
217065906,
217196558,
217621822,
217947386,
218258508,
218820532,
220087580,
222569015,
223157165,
223411521,
223573122,
223598092,
224456974,
224518154,
224773097,
224945748,
225575639,
226139545,
226315687,
227414253,
227438892,
227471861,
227590216,
229158335,
229650012,
230454130,
231232122,
231410117,
231492600,
232313690,
234210898,
237233780,
237633990,
237674253,
237699217,
239139020,
239319664,
239353606,
239631639,
240158241,
241179549,
241595679,
242210701,
243215616,
243677656,
244048482,
245356854,
245450670,
246577798,
247415073,
247493997,
247538166,
248193532,
248495098,
250298536,
250513084,
250731140,
250754787,
250810815,
251697875,
251731888,
252573539,
253672222,
255431576,
256672128,
257048680,
257313626,
257451343,
257613678,
258333082,
258655967,
258798086,
259653272,
260551453,
260993606,
264371635,
266139891,
266370996,
273909279,
279824788,
283868265,
284862847,
285762467,
289743864,
290524201,
291941346,
293745445,
296648126,
296703282,
298827110,
301112724,
301620835,
301826893,
303748757,
303900314,
309988711,
310049962,
313682017,
316023139,
317884311,
321729716,
324706002,
326725437,
328760432,
329822111,
330809817,
331804956,
332802696,
333762293,
335446479,
343846489,
344687102,
345705625,
349569965,
349745158,
350684772,
350862339,
351825159,
352823612,
353841848,
355661835,
356663434,
358720673,
359609955,
359624949,
359682440,
360545384,
360787814,
363068911,
369044486,
369622323,
375081594,
375781797,
376118723,
376900300,
378152472,
379139312,
379781006,
380083239,
384809093,
384946744,
385704532,
385961673,
388725324,
391787538,
393783329,
394867436,
395966203,
397902028,
398903882,
399866306,
401250769,
403119763,
406041883,
407068101,
408657758,
411432942,
411573640,
412632118,
413458593,
413959344,
418532179,
420252887,
421310751,
425654372,
426134181,
426135619,
426517072,
427216569,
427431219,
427678788,
428197291,
428618426,
429417905,
429739212,
430049538,
430796952,
431061173,
431253458,
431257982,
431533730,
431636755,
431739746,
431750497,
432693566,
432695572,
434533367,
434730925,
436371186,
436372340,
438637720,
438673163,
438770083,
439354468,
439719927,
442028762,
442663072,
444580296,
446644972,
448922468,
449914307,
450413082,
450474847,
450611529,
450615044,
450638614,
450755976,
450771068,
450818812,
450839939,
450917938,
450958590,
451639963,
451678242,
451734933,
451832413,
451838381,
452152043,
452516813,
452573369,
452659836,
452731753,
452874143,
452914651,
453130174,
453559747,
453637643,
453954547,
454377758,
454610048,
454679073,
454778056,
455411854,
455616261,
455839451,
455916539,
455918340,
455973217,
456290260,
456558512,
456578515,
456655599,
456890811,
456896094,
456933946,
456976406,
457211837,
457752497,
457896703,
457915316,
457973182,
457976751,
458292724,
458554059,
458559468,
458576476,
458593469,
458650644,
458791383,
458835390,
458854840,
458910127,
458954467,
459153828,
459351980,
459392764,
459733953,
459772789,
459935025,
459951998,
460218721,
460819560,
460952865,
461935847,
461954625,
461977719,
462574061,
462758163,
462854868,
463494054,
463496855,
463573276,
463638618,
463717692,
463814831,
463857368,
463930858,
463972600,
463993503,
464318664,
464338358,
464536506,
464599396,
465170895,
465454741,
465772280,
465812153,
465825796,
466155254,
466754614,
466917313,
466956487,
467256190,
467553148,
467599056,
467637840,
467670169,
467715362,
469881665,
470130031,
470883264,
473881466,
474111663,
480961875,
482311983,
482840382,
486960285,
487923068,
488061963,
488902201,
488907593,
488941963,
488964735,
490867708,
493024084,
493709471,
493886316,
493945804,
493987626,
497926999,
498081887,
498806976,
498867835,
499949284,
500025085,
502689214,
502983794,
503062737,
503172305,
503238890,
504081426,
504151140,
504192603,
504199056,
504982590,
505066827,
505087126,
506069268,
506213045,
507028928,
507213655,
508086152,
508901228,
509902026,
511047175,
511068006,
511132648,
512863703,
514255250,
515827322,
516111205,
516135192,
516211745,
517044969,
517178667,
517527030,
518153411,
518159589,
518178884,
518196931,
518198241,
518212041,
518213839,
518258519,
518315307,
518318689,
518338271,
518394865,
518476885,
518626338,
518985852,
518987662,
519027937,
519040253,
519088712,
519113535,
519152642,
519159299,
519178322,
519213580,
519214093,
519214295,
519215259,
519217004,
519235245,
519312589,
519316548,
519335269,
519336722,
519800014,
519808774,
520048709,
520084255,
520110073,
520132472,
520151111,
520152090,
520152265,
520173378,
520178707,
520190722,
520211641,
520213905,
520232036,
520252478,
520258733,
520414489,
520609351,
520643823,
520767234,
520800746,
520807271,
520864194,
520920360,
521087101,
521111859,
521576819,
522173202,
522233813,
522375812,
523319176,
523515977,
523616815,
523742535,
524114766,
524174371,
524373481,
524571165,
524579973,
524637124,
524981080,
525192945,
525411384,
525591206,
525830654,
526024868,
526590169,
526810893,
526816125,
526994093,
527498570,
527576247,
527792634,
527938022,
527991594,
528049183,
528060671,
528065403,
528083310,
528087116,
528119992,
528171903,
528175236,
528177233,
528179834,
528210239,
528257363,
528257756,
528258385,
528258701,
528258703,
528272641,
528297484,
528315748,
528317750,
528318549,
528334113,
528354565,
528358397,
528373933,
528378745,
528379123,
528395473,
528412000,
528416168,
528419222,
528435349,
528439721,
528451468,
528455423,
528456209,
528477976,
528497039,
528497214,
528511263,
528516832,
528517675,
528518204,
528519296,
528519337,
528532863,
528538897,
528550254,
528555295,
528559861,
528570409,
528575519,
528576323,
528579220,
528579445,
528586015,
528592797,
528594335,
528598406,
528598513,
528611514,
528611691,
528614886,
528615437,
528618660,
528633424,
528637358,
528653118,
528657430,
528670030,
528672386,
528674117,
528675897,
528676281,
528676769,
528677762,
528690376,
528691462,
528692727,
528693946,
528696593,
528703446,
528711330,
528715843,
528731085,
528732739,
528734762,
528735064,
528750807,
528752318,
528755057,
528759114,
528759791,
528760393,
528771470,
528790131,
528791200,
528791964,
528793305,
528794633,
528796224,
528799143,
528799334,
528809207,
528810879,
528830961,
528831007,
528831797,
528832298,
528832613,
528854489,
528855058,
528855326,
528857694,
528873560,
528873778,
528874508,
528875554,
528892374,
528892763,
528897552,
528897570,
528913664,
528949696,
528961739,
528989589,
528991467,
529029152,
529043631,
529064691,
529081599,
529111323,
529112525,
529134538,
529139982,
529151244,
529158395,
529170271,
529172146,
529173908,
529190020,
529192815,
529199234,
529210319,
529252664,
529253090,
529253537,
529272435,
529318861,
529319372,
529319561,
529331957,
529333416,
529338635,
529352838,
529353296,
529373269,
529377893,
529395691,
529395929,
529398251,
529417459,
529430432,
529434070,
529434140,
529455578,
529456782,
529471209,
529476718,
529492280,
529494123,
529513883,
529517337,
529535497,
529538993,
529539522,
529550229,
529572963,
529596679,
529599056,
529616157,
529616196,
529618128,
529630390,
529632060,
529633781,
529645523,
529650483,
529651622,
529651735,
529652190,
529652449,
529653309,
529653601,
529670107,
529672610,
529674752,
529675297,
529675661,
529679788,
529684113,
529690145,
529692116,
529693135,
529696045,
529699269,
529718560,
529722023,
529729174,
529736445,
529736930,
529739689,
529750210,
529750222,
529753445,
529753665,
529757240,
529758949,
529770405,
529774285,
529775588,
529775663,
529777638,
529777780,
529778663,
529779950,
529793017,
529797078,
529803411,
529811847,
529812927,
529816025,
529825293,
529828729,
529830684,
529832311,
529833773,
529835103,
529838931,
529855949,
529872936,
529876183,
529890087,
529890509,
529891015,
529892550,
529893210,
529894329,
529895910,
529897861,
529901499,
529959741,
529970550,
529972019,
529976833,
529976855,
529978289,
529988905,
530021640,
530133770,
530211388,
530397403,
530455666,
530624520,
530707523,
530943970,
531020080,
531047551,
531112296,
531191498,
531827683,
532080977,
532081909,
533023560,
533066330,
533069288,
533134162,
533399029,
533623120,
534134713,
534170530,
534173700,
534219945,
534945957,
535192641,
535788122,
536394766,
536909714,
536984999,
537118741,
537944093,
538178789,
538293045,
539081206,
539137310,
539744288,
539983100,
540116694,
540232357,
540290420,
540293800,
540338754,
540803178,
540948534,
541193500,
541298897,
541332771,
541947244,
542414806,
542860456,
543172672,
543211524,
543212847,
543230368,
543317403,
543356671,
544236416,
544254968,
544259076,
544335115,
544847806,
545994275,
546239879,
546293576,
546935490,
547174687,
547352561,
547434571,
547852674,
547987099,
548481228,
548795384,
549436178,
549458246,
549793991,
549871087,
550158214,
550816833,
550854728,
550950624,
551499785,
551639317,
551735772,
551811797,
551979635,
552691881,
552694323,
553112351,
553471231,
554414107,
554532841,
555315577,
555814915,
555819922,
556393906,
556394049,
556730878,
556939988,
557491593,
557674672,
557938309,
558254936,
558774737,
559411972,
559552668,
559818690,
560610822,
560637634,
560955610,
561379769,
563258420,
564615882,
564635515,
564915426,
564933146,
565451774,
565636707,
566237661,
566416380,
566451431,
566730681,
566975773,
567453792,
567875214,
568632826,
569257781,
569534346,
569818348,
569950243,
570711752,
571611589,
571696766,
571711037,
571761169,
572577627,
572876191,
573271085,
573577110,
573670378,
573758780,
573920010,
573951162,
574029550,
574175007,
574687327,
574801567,
574808168,
574868010,
574882962,
574884981,
574929849,
575114939,
575254654,
575357583,
576215427,
576218383,
576372750,
576434832,
576478027,
576626547,
576982457,
577941849,
579137247,
580076477,
581411225,
581655677,
581735816,
581832900,
582937212,
583952222,
585597904,
585632397,
585692684,
585758532,
586644831,
586669955,
586760324,
587452924,
587596785,
589122145,
589904613,
590403501,
590765938,
591367185,
591723416,
591952063,
592014987,
592322985,
592804721,
594393401,
594443512,
595099453,
595641600,
595642840,
595913826,
598014076,
600109723,
600173734,
600267831,
600328128,
600444555,
600445073,
600540364,
600698391,
600721941,
600729189,
600904333,
601078486,
601092164,
601143140,
601362224,
601768786,
601842707,
601865304,
601942868,
603264200,
603282026,
603441666,
603500891,
604168137,
604229720,
604442018,
604503268,
605127323,
605220121,
605304581,
605383163,
606093766,
606185139,
606207167,
606262645,
606366929,
607057462,
607095548,
607165619,
608122367,
608124077,
608124318,
608361407,
608800364,
609627484,
610108883,
610184205,
610227703,
610389801,
611148051,
611357642,
611784645,
612037864,
612038212,
612050841,
612164736,
612422683,
612442052,
612528933,
612744528,
615076455,
615161756,
615343419,
615367873,
615408729,
615440450,
616039356,
616241353,
616427399,
617018744,
617220249,
617266623,
617424036,
617462129,
617521134,
617728528,
619050411,
619073383,
619569863,
620097794,
620201589,
620496657,
621444352,
622344016,
622416378,
622542738,
623051358,
623057795,
623282176,
623548754,
624106847,
624438345,
625015225,
625163819,
625221935,
625340181,
625471783,
625521120,
625634887,
626051088,
626189379,
626246195,
627056925,
627094540,
627145276,
627269004,
628186398,
628282786,
628400021,
629100914,
629208801,
629746186,
630032718,
630121015,
631015884,
631030051,
631092824,
631181369,
631183195,
631240335,
632104280,
632107180,
633036372,
633079381,
633092009,
634017212,
634053033,
634146374,
634208606,
634807104,
635125078,
635144151,
636011039,
636161274,
637013791,
637039779,
637052548,
637075411,
637093969,
637201728,
638037288,
638109166,
638246997,
639146561,
640014707,
640094915,
640123757,
640125353,
640126934,
641055927,
641109407,
641167027,
642070097,
642071374,
643091660,
643123266,
643145437,
643201178,
644167290,
645012464,
645105051,
645228896,
646052128,
646053386,
646059234,
646074750,
646103405,
646107596,
646125301,
646149345,
646285079,
646562597,
647033954,
647090169,
647091138,
647091199,
647095542,
647183869,
647220859,
647261521,
647325665,
647525274,
671300731,
751092463,
770669306
  )