DROP TABLE IF EXISTS #DATA

DROP TABLE IF EXISTS #DATA1


SELECT DISTINCT
	 DF_PRS_ID
INTO #DATA
FROM
(
SELECT DISTINCT
	DF_PRS_ID
FROM
	UDW..PD30_PRS_ADR PD30
	INNER JOIN UDW..LN10_LON LN10
		ON LN10.BF_SSN = PD30.DF_PRS_ID
WHERE
	DC_DOM_ST = 'IL'
	AND DC_ADR = 'L'
	AND DD_VER_ADR <= '12/31/2019'
	AND DI_VLD_ADR = 'Y'

UNION ALL

SELECT DISTINCT
	PD31.DF_PRS_ID

FROM
	UDW..PD31_PRS_INA PD31
	INNER JOIN UDW..LN10_LON LN10
		ON LN10.BF_SSN = PD31.DF_PRS_ID
	INNER JOIN
	(
		SELECT
			DF_PRS_ID,
			MAX(DN_ADR_SEQ) AS DN_ADR_SEQ
		FROM
			UDW..PD31_PRS_INA
		WHERE
			DD_VER_ADR_HST <= '12/31/2019'
			AND DC_ADR_HST = 'L'
		GROUP BY
			DF_PRS_ID
	) MPD31
		ON MPD31.DF_PRS_ID = PD31.DF_PRS_ID
		AND MPD31.DN_ADR_SEQ = PD31.DN_ADR_SEQ
WHERE
	DC_DOM_ST_HST = 'IL'
) POP

SELECT
	COUNT(DISTINCT LN10.BF_SSN) AS [BORROWER COUNT],
	SUM(LA_CUR_PRI) AS [TOTAL BALANCE]
FROM
	#DATA D
	INNER JOIN AuditUDW..LN10_LON_Dec2019 LN10
	ON LN10.BF_SSN = D.DF_PRS_ID
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.LA_CUR_PRI > 0


SELECT
	LN10.IC_LON_PGM,
	COUNT(DISTINCT LN10.BF_SSN) AS [BORROWER COUNT]
	
	--SUM(LA_CUR_PRI) AS [TOTAL BALANCE]
FROM
	#DATA D
	INNER JOIN AuditUDW..LN10_LON_Dec2019 LN10
	ON LN10.BF_SSN = D.DF_PRS_ID
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.LA_CUR_PRI > 0
GROUP BY
	LN10.IC_LON_PGM

SELECT * INTO #DATA1 FROM OPENQUERY(DUSTER,
'
SELECT DISTINCT
	PD03.DF_PRS_ID, 
	AC_LON_TYP,
	AA_CUR_PRI
FROM 
	OLWHRM1.PD03_PRS_ADR_PHN PD03
	INNER JOIN OLWHRM1.GA01_APP GA01
		ON GA01.DF_PRS_ID_BR = PD03.DF_PRS_ID
	INNER JOIN OLWHRM1.GA10_LON_APP GA10
		ON GA10.AF_APL_ID = GA01.AF_APL_ID
WHERE
	DC_DOM_ST = ''IL''
	AND DD_LST_UPD_ADR <= ''12/31/2019''
	AND AA_CUR_PRI > 0.00

UNION ALL

SELECT DISTINCT
	PD04.DF_PRS_ID, 
	AC_LON_TYP,
	AA_CUR_PRI
FROM 
	OLWHRM1.PD04_ADR_PHN_HST PD04
	INNER JOIN OLWHRM1.GA01_APP GA01
		ON GA01.DF_PRS_ID_BR = PD04.DF_PRS_ID
	INNER JOIN OLWHRM1.GA10_LON_APP GA10
		ON GA10.AF_APL_ID = GA01.AF_APL_ID
WHERE
	DC_DOM_ST_HST = ''IL''
	AND DD_LST_UPD_ADR_HST <= ''12/31/2019''
	AND AA_CUR_PRI > 0.00
')

SELECT
	COUNT(DISTINCT DF_PRS_ID) AS [BORROWER COUNT],
	SUM(AA_CUR_PRI) AS BALANCE
FROM
	#DATA1

SELECT
	AC_LON_TYP,
	COUNT(DISTINCT DF_PRS_ID) AS [BORROWER COUNT]
FROM
	#DATA1
GROUP BY
 AC_LON_TYP

