USE udw
GO

DROP TABLE IF EXISTS #DATA;

WITH PHN
AS
(
SELECT
	DF_PRS_ID,
	DF_SPE_ACC_ID,
	PHN,
	DF_LST_DTS_PD41,
	NEXT_DATE,
	MAX(CONSENT) AS CONSENT
FROM
(
SELECT DISTINCT
	PD10.DF_PRS_ID,
	PD10.DF_SPE_ACC_ID,
	DN_DOM_PHN_ARA_HST + DN_DOM_PHN_XCH_HST + DN_DOM_PHN_LCL_HST AS PHN,
	DF_LST_DTS_PD41,
	LEAD(DF_LST_DTS_PD41, 1) OVER (PARTITION BY PD41.DF_PRS_ID, PD41.DC_PHN_HST ORDER BY DN_PHN_SEQ) AS NEXT_DATE,
	CASE WHEN DC_ALW_ADL_PHN_HST IN ('L','P', 'X') THEN 1 ELSE 0 END AS CONSENT
FROM
	udw..PD41_PHN_HST PD41
	INNER JOIN 
	(
		SELECT DISTINCT
			BF_SSN
		FROM
			udw..LN16_LON_DLQ_HST
	) LN16
		ON LN16.BF_SSN = PD41.DF_PRS_ID
	INNER JOIN udw..PD10_PRS_NME PD10
		ON PD10.DF_PRS_ID = PD41.DF_PRS_ID


UNION ALL
	
SELECT DISTINCT
	PD10.DF_PRS_ID,
	PD10.DF_SPE_ACC_ID,
	DN_DOM_PHN_ARA + DN_DOM_PHN_XCH + DN_DOM_PHN_LCL AS PHN,
	PD40.DF_LST_DTS_PD42,
	GETDATE() AS NEXT_DATE,
	CASE WHEN DC_ALW_ADL_PHN IN ('L','P', 'X') THEN 1 ELSE 0 END AS CONSENT
FROM
	udw..PD42_PRS_PHN PD40
	INNER JOIN 
	(
		SELECT DISTINCT
			BF_SSN
		FROM
			udw..LN16_LON_DLQ_HST
	) LN16
		ON LN16.BF_SSN = PD40.DF_PRS_ID
	INNER JOIN udw..PD10_PRS_NME PD10
		ON PD10.DF_PRS_ID = PD40.DF_PRS_ID
) POP
GROUP BY
	DF_PRS_ID,
	DF_SPE_ACC_ID,
	PHN,
	DF_LST_DTS_PD41,
	NEXT_DATE
)
SELECT
	*,
	ISNULL(NEXT_DATE, CASE WHEN NEXT_DATE IS NULL THEN MAX(DF_LST_DTS_PD41) OVER (PARTITION BY DF_PRS_ID) END) AS FINAL_HST 
INTO #DATA
FROM 
	PHN P
;

DROP TABLE IF EXISTS #NO_CONSENT

SELECT 
	DF_SPE_ACC_ID AS ACCOUNT_NUMBER,
	PHN AS PHONE,
	DF_LST_DTS_PD41 AS CONSENT_BEGIN,
	ISNULL(NEXT_DATE, GETDATE()) AS CONSENT_END
INTO #NO_CONSENT
FROM 
	#DATA
WHERE
	CONSENT = 0
	AND ISNULL(NEXT_DATE, GETDATE()) BETWEEN '01/01/2021' AND '03/03/2021'

SELECT 
	* 
FROM 
	#NO_CONSENT 

SELECT DISTINCT
	DF_SPE_ACC_ID AS ACCOUNT_NUMBER,
	PHN AS PHONE,
	DF_LST_DTS_PD41 AS CONSENT_BEGIN,
	ISNULL(NEXT_DATE, GETDATE()) AS CONSENT_END
FROM 
	#NO_CONSENT NC
	INNER JOIN #DATA D
		ON D.DF_SPE_ACC_ID = NC.ACCOUNT_NUMBER
		AND D.PHN = NC.PHONE
WHERE
	D.CONSENT = 1