USE NobleCalls
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0

	DECLARE @temp table (DF_SPE_ACC_ID VARCHAR(10), phone VARCHAR(10))
	INSERT INTO @temp
		SELECT
			DF_SPE_ACC_ID,
			DN_DOM_PHN_ARA + DN_DOM_PHN_XCH + DN_DOM_PHN_LCL
		FROM
			UDW.dbo.PD42_Phone
		WHERE
			(DN_DOM_PHN_ARA + DN_DOM_PHN_XCH + DN_DOM_PHN_LCL) in('5188595499','8046876370','7572011572','4438208044','4234321597','5857215706','8632555281','8135452421')
			AND di_phn_vld = 'Y' ORDER BY DF_SPE_ACC_ID DESC

	UPDATE 
		NCH 
	SET 
		NCH.ACCOUNTIDENTIFIER = T.DF_SPE_ACC_ID
	FROM 
		NOBLECALLS.DBO.NOBLECALLHISTORY NCH 
		INNER JOIN @TEMP T 
			ON T.PHONE = NCH.PHONENUMBER
	WHERE 
		ISNULL(ACCOUNTIDENTIFIER,'') = '' AND CALLTYPE != 5 


	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

IF @ROWCOUNT = 8 AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END
