
SELECT 
	ISNULL(BU.[Name],'N/A') AS BU,
	COUNT(DISTINCT T.Ticket) AS [TICKET COUNT],
	MONTH(REQUESTED) AS [MONTH],
	YEAR(REQUESTED) AS [YEAR]
FROM 
	NeedHelpUheaa.[dbo].[DAT_Ticket] T
	LEFT JOIN CSYS..GENR_LST_BusinessUnits BU
		ON BU.ID = T.Unit
WHERE 
	Requested BETWEEN '01/01/2019' AND '04/30/2019'
	AND T.[Status] != 'Withdrawn'
GROUP BY
	ISNULL(BU.[Name],'N/A'),
	YEAR(REQUESTED),
	MONTH(REQUESTED)
ORDER BY
	MONTH(REQUESTED),
	YEAR(REQUESTED)