USE UDW
GO

DECLARE @SSN VARCHAR(9) = (SELECT DF_PRS_ID FROM PD10_PRS_NME WHERE DF_SPE_ACC_ID = '8067968270')

SELECT * FROM RS05_IBR_RPS	WHERE BF_SSN = @SSN
SELECT * FROM RS10_BR_RPD	WHERE BF_SSN = @SSN
SELECT * FROM LN65_LON_RPS	WHERE BF_SSN = @SSN