USE UDW;
GO

SELECT
	*
FROM
	AD20_PCV_ATY_ADJ AD20
WHERE
	AD20.LC_TYP_FAT_ADJ_REQ = '09'
	AND AD20.LF_USR_FAT_ADJ_REQ = 'TFXG4'
;

SELECT * FROM OPENQUERY (DUSTER,'
SELECT 
	*
FROM 
	OLWHRM1.AD20_PCV_ATY_ADJ 
WHERE 
	LC_TYP_FAT_ADJ_REQ = ''09''
	AND LF_USR_FAT_ADJ_REQ = ''TFXG4''
');

SELECT DISTINCT
	PD10.DF_SPE_ACC_ID,
	--LN10.LN_SEQ,
	AD20.LC_TYP_FAT_ADJ_REQ,
	AD20.LF_USR_FAT_ADJ_REQ,
	LN16.LC_STA_LON16,
	IIF(LN16.LN_DLQ_MAX > 0,'>0',NULL) AS DLQ_FLAG 
FROM
	LN10_LON LN10
	INNER JOIN PD10_PRS_NME PD10
		ON LN10.BF_SSN = PD10.DF_PRS_ID
	INNER JOIN AD20_PCV_ATY_ADJ AD20
		ON LN10.BF_SSN = AD20.BF_SSN
	INNER JOIN LN16_LON_DLQ_HST LN16
		ON LN10.BF_SSN = LN16.BF_SSN
		AND LN10.LN_SEQ = LN16.LN_SEQ
WHERE
	AD20.LC_TYP_FAT_ADJ_REQ = '09'
	AND AD20.LF_USR_FAT_ADJ_REQ = 'TFXG4'
	AND LN10.LA_CUR_PRI > 0.00
	AND LN10.LC_STA_LON10 = 'R'
	AND LN16.LC_STA_LON16 = '1'
	AND LN16.LN_DLQ_MAX > 0
ORDER BY
	PD10.DF_SPE_ACC_ID;