DROP TABLE IF EXISTS #DC11;

SELECT * INTO #DC11 FROM OPENQUERY(DUSTER,'
	SELECT
		 AF_APL_ID
		,AF_APL_ID_SFX
		,LD_TRX_EFF
		,LA_TRX
		,LC_TRX_TYP
	FROM
		OLWHRM1.DC11_LON_FAT
	WHERE
		DAYS(LD_TRX_EFF) BETWEEN DAYS(''10/01/2017'') AND DAYS(''09/30/2018'')
');

--SELECT * FROM #DC11 ORDER BY LD_TRX_EFF

USE ODW;
GO

SELECT DISTINCT
	 PD01.DF_PRS_ID		AS SSN
	,PD01.DM_PRS_1		AS FirstName
	,PD01.DM_PRS_MID	AS MiddleInitial
	,PD01.DM_PRS_LST	AS LastName
	,GA10.AC_LON_TYP	AS LoanType
	,GA01.AF_APL_ID		AS LoanNumber
	,GA01.AD_APL_DSB_1	AS FirstDisbursement
	,PD01.DD_BRT		AS DateOfBirth
	,DC11.LD_TRX_EFF	AS PaymentDate
	,DC11.LA_TRX		AS PaymentAmount
	,DC11.LC_TRX_TYP	AS PaymentType
FROM
	GA01_APP GA01
	INNER JOIN GA10_LON_APP GA10
		ON GA01.AF_APL_ID = GA10.AF_APL_ID
	INNER JOIN ODW..PD01_PDM_INF PD01
		ON GA01.DF_PRS_ID_BR = PD01.DF_PRS_ID
	INNER JOIN DC01_LON_CLM_INF DC01
		ON GA01.AF_APL_ID = DC01.AF_APL_ID
		AND DC01.AF_APL_ID_SFX = GA10.AF_APL_ID_SFX
	INNER JOIN #DC11 DC11
		ON GA01.AF_APL_ID = DC11.AF_APL_ID
		AND DC01.AF_APL_ID_SFX = DC11.AF_APL_ID_SFX
ORDER BY 
	--PD01.DF_PRS_ID
	--,
	DC11.LD_TRX_EFF
;


--SELECT * FROM OPENQUERY(DUSTER,'
--	SELECT 
--		DF_PRS_ID
--		,LA_RMT_TRX
--		,LD_RMT_TRX_EFF
--	FROM
--		OLWHRM1.RM02_DFL_RMT_DTL
--	--WHERE
--	--	DAYS(LD_RMT_TRX_EFF) BETWEEN DAYS(''10/01/2017'') AND DAYS(''09/30/2018'')

--		FETCH FIRST 10 ROWS ONLY

--');



--SELECT * FROM OPENQUERY(DUSTER,'
--	SELECT 
--		min(LD_RMT_TRX_EFF)
--	FROM
--		OLWHRM1.RM02_DFL_RMT_DTL
--');