SELECT
	COUNT(*) AS LOAN_COUNT,
	COUNT(DISTINCT BF_SSN) AS BWR_COUNT
FROM 
	[AuditUDW].[dbo].[LN10_LON_Dec2020]
where
	LC_STA_LON10 = 'r'
	and LA_CUR_PRI > 0
	and IC_LON_PGM != 'TILP  '

SELECT DISTINCT
	CASE 
		WHEN IC_LON_PGM = 'STFFRD' THEN  'Subsidized Stafford'
		WHEN IC_LON_PGM = 'UNSTFD' THEN  'Unsubsidized Stafford'
		WHEN IC_LON_PGM  IN ('CNSLDN','SUBCNS','SUBSPC', 'UNCNS','UNSPC') THEN  'Consolidation'
		WHEN IC_LON_PGM = 'PLUS' THEN  'PLUS'
		WHEN IC_LON_PGM = 'PLUSGB' THEN  'GradPLUS'
		WHEN IC_LON_PGM = 'SLS' THEN  'SLS'
	END AS LOAN_TYPE,
	SUM(LA_CUR_PRI) AS TOTAL
FROM 
	[AuditUDW].[dbo].[LN10_LON_Dec2020]
where
	LC_STA_LON10 = 'r'
	and LA_CUR_PRI > 0
	and IC_LON_PGM != 'TILP  '
GROUP BY
CASE 
		WHEN IC_LON_PGM = 'STFFRD' THEN  'Subsidized Stafford'
		WHEN IC_LON_PGM = 'UNSTFD' THEN  'Unsubsidized Stafford'
		WHEN IC_LON_PGM  IN ('CNSLDN','SUBCNS','SUBSPC', 'UNCNS','UNSPC') THEN  'Consolidation'
		WHEN IC_LON_PGM = 'PLUS' THEN  'PLUS'
		WHEN IC_LON_PGM = 'PLUSGB' THEN  'GradPLUS'
		WHEN IC_LON_PGM = 'SLS' THEN  'SLS'
	END