USE ULS
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0

	INSERT INTO ArcAddProcessing(ArcTypeId, ArcResponseCodeId, AccountNumber, RecipientId, arc, ScriptId, ProcessOn, Comment, IsReference, IsEndorser, ProcessFrom, ProcessTo, NeededBy, RegardsTo, RegardsCode, CreatedAt, CreatedBy)
	(
		SELECT --Choose 3 for the ArcResponseCodeId, they are different in ULS from CLS
			ArcTypeId, 3, AccountNumber, RecipientId, arc, ScriptId, ProcessOn, Comment, IsReference, IsEndorser, ProcessFrom, ProcessTo, NeededBy, RegardsTo, RegardsCode, CreatedAt, CreatedBy
		FROM
			[CLS].[dbo].ArcAddProcessing
		WHERE
			ArcAddProcessingId = 2323097
	)

	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

	DELETE FROM [CLS].[dbo].ArcAddProcessing
	WHERE ArcAddProcessingId = 2323097

	SELECT @ROWCOUNT = @ROWCOUNT + @@ROWCOUNT, @ERROR = @ERROR + @@ERROR

IF @ROWCOUNT = 2 AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END
