USE BSYS

GO


SELECT
	COUNT(*) AS LST
FROM
	[SYSA_LST_UserIDInfo] UIDS
WHERE
	UIDS.UserID = 'UT09999'

SELECT
	COUNT(*) AS ARCS
FROM
	[dbo].[SYSA_REF_UserID_COMPASSARCs] UIDS
WHERE
	UIDS.UserID = 'UT09999'

SELECT
	COUNT(*) AS QUES
FROM
	[dbo].[SYSA_REF_UserID_COMPASSQueue] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS SPEC
FROM
	[dbo].[SYSA_REF_UserID_COMPASSSpecInfo] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS GRPS
FROM
	[dbo].[SYSA_REF_UserID_Groups] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS QGRPS
FROM
	[dbo].[SYSA_REF_UserID_OneLINKQueueGroups] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS TIERS
FROM
	[dbo].[SYSA_REF_UserID_OneLINKTierLevels] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS MAIL
FROM
	[dbo].[SYSA_REF_UserID_PagecenterMailBoxes] UIDS
WHERE
	UIDS.UserID = 'UT09999'

	SELECT
	COUNT(*) AS SYST
FROM
	[dbo].[SYSA_REF_UserID_Systems] UIDS
WHERE
	UIDS.UserID = 'UT09999'