DROP TABLE IF EXISTS #LP10;

SELECT 
	*
INTO
	#LP10 
FROM 
	OPENQUERY(DUSTER, 
		'
			SELECT 
				IC_LON_PGM,
				PF_RGL_CAT,
				IF_GTR,
				IF_OWN,
				PN_RPD_TRM_MAX,
				PN_RPS_TRM_MAX_XTN
			FROM 
				OLWHRM1.LP10_RPY_PAR
			WHERE
				PC_STA_LPD10 = ''A''
		') LP10
;
--select * from #lp10

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
GO

USE UDW;
GO

SELECT DISTINCT
--validation fields:
	LN10.BF_SSN,
	LN10.IC_LON_PGM,
	LN10.LD_LON_1_DSB,

	PD10.DF_SPE_ACC_ID AS AccountNumber,
	LN10.LN_SEQ,
	CASE
		WHEN LN10.LD_END_GRC_PRD IS NULL
		THEN COALESCE(CONVERT(VARCHAR(10),LN10.LD_END_GRC_PRD),'')
		WHEN LN10.LD_END_GRC_PRD IS NOT NULL
		THEN CONVERT(VARCHAR(10),LDA.max_LD_SCL_SPR)
		ELSE 'ERROR'
	END AS LastDateOfAttendance,
	DW01.WD_LON_RPD_SR AS RepaymentStartDate,
	RS.LC_TYP_SCH_DIS AS PlanType,
	MAX(RS.TermsToDate) OVER(PARTITION BY RS.BF_SSN,RS.LN_SEQ) AS NumberOfTermsOnCurrentPlan,
	LP10.PN_RPD_TRM_MAX AS MaxTerms_STANDARD,
	LP10.PN_RPS_TRM_MAX_XTN AS MaxTerms_EXTENDED,
	--'Only exists in Compass Monitor; not in our tables.' AS MaxTerms_STANDARD,
	--'Only exists in Compass Monitor; not in our tables.' AS MaxTerms_EXTENDED,
	'not applicable; (FL & FG are only available for FED loans)' AS MaxTerms_ALT, 
	RS_CMP.LA_RPS_ISL AS CurrentMonthlyPayment,
	LN10.LA_CUR_PRI AS AccountBalance,
	DAY(RS.LD_RPS_1_PAY_DU) AS DueDate,
	LN80.LD_BIL_CRT AS MostRecentBillSent,
	CASE
		WHEN COALESCE(LTRIM(RTRIM(DW01.WX_OVR_DW_LON_STA)),'') = ''
		THEN DW01.PX_DSC_MDM --description from lk10 
		WHEN DW01.WX_OVR_DW_LON_STA IS NOT NULL
		THEN DW01.WX_OVR_DW_LON_STA
		ELSE 'ERROR'
	END AS BillingStatus

	----VALIDATION FIELDS:
	--,LN10.LC_STA_LON10
	--,DAY(RS.LD_RPS_1_PAY_DU) AS DUE_DATE-- IN (15,22)
	--,LN10.LD_END_GRC_PRD
FROM
	LN10_LON LN10
	INNER JOIN PD10_PRS_NME PD10
		ON LN10.BF_SSN = PD10.DF_PRS_ID
	INNER JOIN calc.RepaymentSchedules RS
		ON LN10.BF_SSN = RS.BF_SSN
		AND LN10.LN_SEQ = RS.LN_SEQ
	INNER JOIN 
	(
		SELECT
			LN80A.BF_SSN,
			LN80A.LN_SEQ,
			LN80A.LD_BIL_CRT
		FROM
			LN80_LON_BIL_CRF LN80A
			INNER JOIN
			(--get most recent bill
				SELECT
					BF_SSN,
					LN_SEQ,
					MAX(LD_BIL_CRT) AS max_LD_BIL_CRT
				FROM
					LN80_LON_BIL_CRF
				WHERE
					LC_STA_LON80 = 'A'
					AND LC_BIL_TYP_LON = 'P'
					AND CONVERT(DATE,LD_BIL_DU_LON) < DATEADD(DAY,21,CONVERT(DATE,GETDATE()))
				GROUP BY
					BF_SSN,
					LN_SEQ
			) LN80_MAX
				ON LN80A.BF_SSN = LN80_MAX.BF_SSN
				AND LN80A.LN_SEQ = LN80_MAX.LN_SEQ
				AND LN80A.LD_BIL_CRT = LN80_MAX.max_LD_BIL_CRT
			WHERE
				LN80A.LC_STA_LON80 = 'A'
				AND LN80A.LC_BIL_TYP_LON = 'P'
	) LN80
		ON LN10.BF_SSN = LN80.BF_SSN
		AND LN10.LN_SEQ = LN80.LN_SEQ
	INNER JOIN 
	(
		SELECT
			DW01A.BF_SSN,
			DW01A.LN_SEQ,
			DW01A.WD_LON_RPD_SR,
			DW01A.WX_OVR_DW_LON_STA,
			DW01A.WC_DW_LON_STA,
			LK10.PM_ATR,
			LK10.PX_ATR_VAL,
			LK10.PX_DSC_MDM
		FROM
			DW01_DW_CLC_CLU DW01A
			INNER JOIN LN10_LON LN10
				ON LN10.BF_SSN = DW01A.BF_SSN
				AND LN10.LN_SEQ = DW01A.LN_SEQ
			INNER JOIN LK10_LS_CDE_LKP LK10
				ON DW01A.WC_DW_LON_STA = LK10.PX_ATR_VAL
		WHERE
			LN10.LA_CUR_PRI > 0.00
			AND LN10.LC_STA_LON10 = 'R'
			AND LK10.PM_ATR = 'WC-DW-LON-STA'
	) DW01
		ON LN10.BF_SSN = DW01.BF_SSN
		AND LN10.LN_SEQ = DW01.LN_SEQ
	LEFT JOIN
	(
		SELECT
			LN13.BF_SSN,
			LN13.LN_SEQ,
			MAX(SD10.LD_SCL_SPR) AS max_LD_SCL_SPR
		FROM
			SD10_STU_SPR SD10
			INNER JOIN LN13_LON_STU_OSD LN13
				ON SD10.LF_STU_SSN = LN13.LF_STU_SSN
				AND SD10.LN_STU_SPR_SEQ = LN13.LN_STU_SPR_SEQ
		WHERE
			SD10.LC_STA_STU10 = 'A'
			--AND LN13.LC_STA_LON13 = 'A'
		GROUP BY
			LN13.BF_SSN,
			LN13.LN_SEQ
	) LDA
		ON LDA.BF_SSN = LN10.BF_SSN
		AND LDA.LN_SEQ = LN10.LN_SEQ
	LEFT JOIN #LP10 LP10
		ON LP10.IC_LON_PGM = LN10.IC_LON_PGM
		AND LP10.PF_RGL_CAT = LN10.LF_RGL_CAT_LP10
		AND LP10.IF_GTR = LN10.IF_GTR
		AND LP10.IF_OWN = LN10.LF_LON_CUR_OWN
	LEFT JOIN calc.RepaymentSchedules RS_CMP --current monthly payment
		ON LN10.BF_SSN = RS_CMP.BF_SSN
		AND LN10.LN_SEQ = RS_CMP.LN_SEQ
		AND RS_CMP.CurrentGradation = 1 --for current monthly payment
WHERE
	LN10.LA_CUR_PRI > 0.00
	AND LN10.LC_STA_LON10 = 'R'
	AND DAY(RS.LD_RPS_1_PAY_DU) IN (15,22)	

	order by IC_LON_PGM
;