USE ULS
GO

BEGIN TRANSACTION
	DECLARE @ERROR INT = 0
	DECLARE @ROWCOUNT INT = 0

	UPDATE
		ArcAddProcessing
	SET
		ProcessedAt = null
	WHERE
		ArcAddProcessingId IN (1042337,
								1042347,
								1042356,
								1042364,
								1042374,
								1042384,
								1042394,
								1042404,
								1042414,
								1042424,
								1042432,
								1042442,
								1042452,
								1042460,
								1042470,
								1042477,
								1042487,
								1042497,
								1042507,
								1042516,
								1042525,
								1042535,
								1042544,
								1042551,
								1042561,
								1042570,
								1042580,
								1042589,
								1042598,
								1042607,
								1042615,
								1042623,
								1042632,
								1042642,
								1042650,
								1042659,
								1042669,
								1042675,
								1042685,
								1042694,
								1042701,
								1042711,
								1042720,
								1042727,
								1042736,
								1042746,
								1042756,
								1042766,
								1042776,
								1042786,
								1042804,
								1042814,
								1042824,
								1042834,
								1042844,
								1042854,
								1042864,
								1042874,
								1042884,
								1034252,
								1034258,
								1034264,
								1034265,
								1034268,
								1034272,
								1034277,
								1034275,
								1034283,
								1034284,
								1034291,
								1034292,
								1034299,
								1034300,
								1034305,
								1034307,
								1034313,
								1034314,
								1034321,
								1034323,
								1034322,
								1034326,
								1034331,
								1034330,
								1034335,
								1034338,
								1034339,
								1034344,
								1034346,
								1034345,
								1034353,
								1034354,
								1034355,
								1034359,
								1034363,
								1034364,
								1034366,
								1034368,
								1034373,
								1034375,
								1034376,
								1034382,
								1034383,
								1034385,
								1034391,
								1034392,
								1034394,
								1034400,
								1034401,
								1034403,
								1034407,
								1034409,
								1034412,
								1034416,
								1034415,
								1034420,
								1034423,
								1034424,
								1034429,
								1034432,
								1034433,
								1034435,
								1034440,
								1034441,
								1034443,
								1034448,
								1034450,
								1034452,
								1034457,
								1034458,
								1034460,
								1034467,
								1034466,
								1034469,
								1034474,
								1034475,
								1034477,
								1034481,
								1034483,
								1034486,
								1034489,
								1034490,
								1034495,
								1034497,
								1034498,
								1034504,
								1034506,
								1034507,
								1034513,
								1034516,
								1034515,
								1034522,
								1034523,
								1034524,
								1034529,
								1034532,
								1034533,
								1034538,
								1034540,
								1034542,
								1034547,
								1034548,
								1034551,
								1034556,
								1034557,
								1034558,
								1034562,
								1034566,
								1034567,
								1034570,
								1034571,
								1034576,
								1034579,
								1034580,
								1034585,
								1034587,
								1034589,
								1034592,
								1034595,
								1034597,
								1034599,
								1034604,
								1034606,
								1034608,
								1034612,
								1034614,
								1034617,
								1034620,
								1034623,
								1034625,
								1034628,
								1034631,
								1034633,
								1034637,
								1034638,
								1034641,
								1034646,
								1034647,
								1034648,
								1034654,
								1034655,
								1034657,
								1034663,
								1034664,
								1034665,
								1034671,
								1034672,
								1034674,
								1034680,
								1034681,
								1034683,
								1034688,
								1034690,
								1034692,
								1034697,
								1034698,
								1034700,
								1034706,
								1034707,
								1034708,
								1034712,
								1034714,
								1034717,
								1034721,
								1034722,
								1034724,
								1034731,
								1034730,
								1034732,
								1034739,
								1034740,
								1034741,
								1034747,
								1034748,
								1034749,
								1034756,
								1034758,
								1034757,
								1034766,
								1034763,
								1034767,
								1034771,
								1034772,
								1034773,
								1034779,
								1034780,
								1034781,
								1034788,
								1034789,
								1034790,
								1034798,
								1034797,
								1034799,
								1034805,
								1034806,
								1034808,
								1034814,
								1034815,
								1034817,
								1034824,
								1034823,
								1034826,
								1034831,
								1034832,
								1034835,
								1034836,
								1034839,
								1034843,
								1034845,
								1034846,
								1034853,
								1034854,
								1034855,
								1034862,
								1034863,
								1034865,
								1034871,
								1034872,
								1034880,
								1034879,
								1034887,
								1034888,
								1034889,
								1034891,
								1033551,
								1033557,
								1033560,
								1033564,
								1033568,
								1033571,
								1033572,
								1033577,
								1033579,
								1033584,
								1033586,
								1033592,
								1033594,
								1033599,
								1033601,
								1033607,
								1033609,
								1033616,
								1033618,
								1033619,
								1033628,
								1033627,
								1033635,
								1033637,
								1033642,
								1033638,
								1033647,
								1033648,
								1033649,
								1033657,
								1033656,
								1033664,
								1033659,
								1033665,
								1033669,
								1033670,
								1033672,
								1033678,
								1033680,
								1033681,
								1033687,
								1033691,
								1033690,
								1033696,
								1033699,
								1033700,
								1033705,
								1033709,
								1033711,
								1033710,
								1033720,
								1033719,
								1033721,
								1033729,
								1033730,
								1033731,
								1033738,
								1033740,
								1033745,
								1033741,
								1033751,
								1033750,
								1033752,
								1033759,
								1033760,
								1033762,
								1033770,
								1033768,
								1033771,
								1033777,
								1033778,
								1033786,
								1033785,
								1033781,
								1033791,
								1033792,
								1033793,
								1033799,
								1033802,
								1033803,
								1033808,
								1033811,
								1033813,
								1033818,
								1033820,
								1033823,
								1033824,
								1033831,
								1033832,
								1033830,
								1033840,
								1033841,
								1033842,
								1033848,
								1033850,
								1033852,
								1033856,
								1033855,
								1033862,
								1033867,
								1033868,
								1033871,
								1033877,
								1033875,
								1033880,
								1033882,
								1033883,
								1033891,
								1033892,
								1033890,
								1033900,
								1033901,
								1033902,
								1033910,
								1033911,
								1033912,
								1033919,
								1033917,
								1033922,
								1033926,
								1033927,
								1033932,
								1033937,
								1033936,
								1033942,
								1033943,
								1033944,
								1033952,
								1033954,
								1033953,
								1033961,
								1033962,
								1033963,
								1033971,
								1033972,
								1033973,
								1033980,
								1033981,
								1033989,
								1033984,
								1033990,
								1033994,
								1033996,
								1033995,
								1034002,
								1034005,
								1034006,
								1034010,
								1034014,
								1034019,
								1034016,
								1034022,
								1034026,
								1034027,
								1034031,
								1034035,
								1034038,
								1034045,
								1034037,
								1034047,
								1034048,
								1034049,
								1034056,
								1034058,
								1034060,
								1034059,
								1034067,
								1034069,
								1034075,
								1034070,
								1034079,
								1034080,
								1034081,
								1034088,
								1034089,
								1034091,
								1034098,
								1034099,
								1034100,
								1034108,
								1034109,
								1034117,
								1034116,
								1034110,
								1034121,
								1034120,
								1034122,
								1034130,
								1034131,
								1034132,
								1034138,
								1034139,
								1034144,
								1034146,
								1034149,
								1034155,
								1034156,
								1034154,
								1034164,
								1034165,
								1034166,
								1034171,
								1034172,
								1034176,
								1034180,
								1034181,
								1034190,
								1034191,
								1034186,
								1034197,
								1034196,
								1034198,
								1034205,
								1034204,
								1034208)

	-- Save/Set the row count and error number (if any) from the previously executed statement
	SELECT @ROWCOUNT = @@ROWCOUNT, @ERROR = @@ERROR

IF @ROWCOUNT = 498 AND @ERROR = 0
	BEGIN
		PRINT 'Transaction committed'
		COMMIT TRANSACTION
		--ROLLBACK TRANSACTION
	END
ELSE
	BEGIN
		PRINT 'ROWCOUNT:  ' + CAST(@ROWCOUNT as VARCHAR(10))
		PRINT 'ERROR:  ' + CAST(@ERROR as VARCHAR(10))
		PRINT 'Transaction NOT committed'
		ROLLBACK TRANSACTION
	END
