-----CORNERSTONE---------
---ARCS---
SELECT
	DISTINCT PF_REQ_ACT
FROM
	OPENQUERY(LEGEND,'
		SELECT
			PF_REQ_ACT
		FROM
			PKUB.US50_USR_ACT_VLD
		WHERE
			PF_USR IN (''ut00204'',''ut00205'',''ut00221'',''ut00240'',''ut00314'',''ut00553'',''ut00554'',''ut00555'',''ut00564'',''UT00801'',''UT00802'',''UT00803'',''UT00804'',''UT00805'',''UT00806'',''UT00807'',''UT00808'',''UT00809'',''UT00810'',''UT01648'',''UT01649'',''UT01650'',''UT01651'',''UT01652'',''UT01885'',''UT01886'',''UT01887'',''UT01888'',''UT01889'',''UT01890'',''UT01891'',''UT01892'',''UT01893'',''UT01894'',''UT01895'',''UT01896'',''UT01897'',''UT01898'',''UT01899'',''UT01900'',''UT01901'',''UT01902'',''UT01903'',''UT01904'')
		ORDER BY
			PF_REQ_ACT
	')
ORDER BY
	PF_REQ_ACT

---QUEUES---
SELECT
	DISTINCT [Queue]
FROM
	OPENQUERY(LEGEND,'
		SELECT
			WF_QUE || WF_SUB_QUE AS Queue
		FROM
			PKUB.WQ60_TSK_PL_ASN
		WHERE
			PF_USR IN (''ut00204'',''ut00205'',''ut00221'',''ut00240'',''ut00314'',''ut00553'',''ut00554'',''ut00555'',''ut00564'',''UT00801'',''UT00802'',''UT00803'',''UT00804'',''UT00805'',''UT00806'',''UT00807'',''UT00808'',''UT00809'',''UT00810'',''UT01648'',''UT01649'',''UT01650'',''UT01651'',''UT01652'',''UT01885'',''UT01886'',''UT01887'',''UT01888'',''UT01889'',''UT01890'',''UT01891'',''UT01892'',''UT01893'',''UT01894'',''UT01895'',''UT01896'',''UT01897'',''UT01898'',''UT01899'',''UT01900'',''UT01901'',''UT01902'',''UT01903'',''UT01904'')
		ORDER BY
			Queue
	')
ORDER BY
	[Queue]


------UHEAA------
---ARCS---
SELECT
	DISTINCT PF_REQ_ACT
FROM
	OPENQUERY(DUSTER,'
		SELECT
			PF_REQ_ACT
		FROM
			OLWHRM1.US50_USR_ACT_VLD
		WHERE
			PF_USR IN (''ut00204'',''ut00205'',''ut00221'',''ut00240'',''ut00314'',''ut00553'',''ut00554'',''ut00555'',''ut00564'',''UT00801'',''UT00802'',''UT00803'',''UT00804'',''UT00805'',''UT00806'',''UT00807'',''UT00808'',''UT00809'',''UT00810'',''UT01648'',''UT01649'',''UT01650'',''UT01651'',''UT01652'',''UT01885'',''UT01886'',''UT01887'',''UT01888'',''UT01889'',''UT01890'',''UT01891'',''UT01892'',''UT01893'',''UT01894'',''UT01895'',''UT01896'',''UT01897'',''UT01898'',''UT01899'',''UT01900'',''UT01901'',''UT01902'',''UT01903'',''UT01904'')
		ORDER BY
			PF_REQ_ACT
	')
ORDER BY
	PF_REQ_ACT

---QUEUES---
SELECT
	DISTINCT [Queue]
FROM
	OPENQUERY(DUSTER,'
		SELECT
			WF_QUE || WF_SUB_QUE AS Queue
		FROM
			OLWHRM1.WQ60_TSK_PL_ASN
		WHERE
			PF_USR IN (''ut00204'',''ut00205'',''ut00221'',''ut00240'',''ut00314'',''ut00553'',''ut00554'',''ut00555'',''ut00564'',''UT00801'',''UT00802'',''UT00803'',''UT00804'',''UT00805'',''UT00806'',''UT00807'',''UT00808'',''UT00809'',''UT00810'',''UT01648'',''UT01649'',''UT01650'',''UT01651'',''UT01652'',''UT01885'',''UT01886'',''UT01887'',''UT01888'',''UT01889'',''UT01890'',''UT01891'',''UT01892'',''UT01893'',''UT01894'',''UT01895'',''UT01896'',''UT01897'',''UT01898'',''UT01899'',''UT01900'',''UT01901'',''UT01902'',''UT01903'',''UT01904'')
		ORDER BY
			Queue
	')
ORDER BY
	[Queue]