USE [UDW]
GO
/****** Object:  StoredProcedure [dbo].[BorrowersSearch]    Script Date: 6/23/2020 8:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BorrowersSearch]
	@FirstName VARCHAR(13) = NULL,
	@LastName VARCHAR(23) = NULL,
	@MiddleInitial VARCHAR(1) = NULL,
	@DOB VARCHAR(10) = NULL,
	@Address VARCHAR(30) = null,
	@City VARCHAR(20) = null,
	@StateCode VARCHAR(2) = null,
	@Zip VARCHAR(17) = null,
	@Phone VARCHAR(10) = null,
	@Email VARCHAR(254) = null,
	@AccountIdentifier VARCHAR(10) = null
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE 
	@PD10 BIT = 0,
	@PD30 BIT = 0,
	@PD32 BIT = 0,
	@PD40 BIT = 0

IF @FirstName IS NOT NULL
BEGIN
	SET @PD10 = 1
END
IF @LastName IS NOT NULL
BEGIN
	SET @PD10 = 1
END
IF @DOB IS NOT NULL
BEGIN
	SET @PD10 = 1
END
IF @MiddleInitial IS NOT NULL
BEGIN
	SET @PD10 = 1
END
IF @Address IS NOT NULL
BEGIN
	SET @PD30 = 1
END
IF @City IS NOT NULL
BEGIN
	SET @PD30 = 1
END
IF @StateCode IS NOT NULL
BEGIN
	SET @PD30 = 1
END
IF @Zip IS NOT NULL
BEGIN
	SET @PD30 = 1
END
IF @Phone IS NOT NULL
BEGIN
	SET @PD40 = 1
END
IF @Email IS NOT NULL
BEGIN
	SET @PD32 = 1
END

DECLARE @MatchingSSNs TABLE (SSN CHAR(9))
IF @AccountIdentifier IS NOT NULL
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10 
	WHERE 
		DF_SPE_ACC_ID = @AccountIdentifier
		OR
		DF_PRS_ID = @AccountIdentifier
END
--1
ELSE IF @PD10 = 1 AND @PD30 = 0 AND @PD32 = 0 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10 
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--2
ELSE IF @PD10 = 1 AND @PD30 = 1 AND @PD32 = 0 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND (@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--3
ELSE IF @PD10 = 1 AND @PD30 = 0 AND @PD32 = 1 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', ''))
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--4
ELSE IF @PD10 = 1 AND @PD30 = 0 AND @PD32 = 0 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', ''))
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--5
ELSE IF @PD10 = 1 AND @PD30 = 1 AND @PD32 = 1 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND (@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--6
ELSE IF @PD10 = 1 AND @PD30 = 0 AND @PD32 = 1 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD10.DF_PRS_ID
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--7
ELSE IF @PD10 = 1 AND @PD30 = 1 AND @PD32 = 0 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND (@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--8
ELSE IF @PD10 = 1 AND @PD30 = 1 AND @PD32 = 1 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD10.DF_PRS_ID 
	FROM 
		PD10_PRS_NME PD10
		INNER JOIN PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD10.DF_PRS_ID
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD10.DF_PRS_ID
	WHERE 
		(@FirstName IS NULL OR PD10.DM_PRS_1 LIKE @FirstName) 
		AND (@LastName IS NULL OR PD10.DM_PRS_LST LIKE @LastName) 
		AND (@MiddleInitial IS NULL OR PD10.DM_PRS_MID LIKE @MiddleInitial) 
		AND (@DOB IS NULL OR PD10.DD_BRT =  REPLACE(@DOB, '%', '')) 
		AND (@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD10.DF_PRS_ID,1,1) != 'P' 
END
--9
ELSE IF @PD10 = 0 AND @PD30 = 1 AND @PD32 = 0 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD30.DF_PRS_ID 
	FROM 
		PD30_PRS_ADR PD30
	WHERE 
		(@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND	SUBSTRING(PD30.DF_PRS_ID,1,1) != 'P' 
END
--10
ELSE IF @PD10 = 0 AND @PD30 = 1 AND @PD32 = 1 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD30.DF_PRS_ID 
	FROM 
		PD30_PRS_ADR PD30
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD30.DF_PRS_ID
	WHERE 
		(@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND	SUBSTRING(PD30.DF_PRS_ID,1,1) != 'P' 
END
--11
ELSE IF @PD10 = 0 AND @PD30 = 1 AND @PD32 = 0 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD30.DF_PRS_ID 
	FROM 
		PD30_PRS_ADR PD30
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD30.DF_PRS_ID
	WHERE 
		(@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD30.DF_PRS_ID,1,1) != 'P' 
END
--12
ELSE IF @PD10 = 0 AND @PD30 = 1 AND @PD32 = 1 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD30.DF_PRS_ID 
	FROM 
		PD30_PRS_ADR PD30
		INNER JOIN PD32_PRS_ADR_EML PD32
			ON PD32.DF_PRS_ID = PD30.DF_PRS_ID
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD30.DF_PRS_ID
	WHERE 
		(@Address IS NULL OR PD30.DX_STR_ADR_1 LIKE @Address OR PD30.DX_STR_ADR_2 LIKE @Address)
		AND (@City IS NULL OR PD30.DM_CT LIKE @City) 
		AND (@StateCode IS NULL OR PD30.DC_DOM_ST LIKE @StateCode) 
		AND (@Zip IS NULL OR PD30.DF_ZIP_CDE LIKE @Zip)
		AND (@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD30.DF_PRS_ID,1,1) != 'P' 
END
--13
ELSE IF @PD10 = 0 AND @PD30 = 0 AND @PD32 = 1 AND @PD40 = 0
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD32.DF_PRS_ID 
	FROM 
		PD32_PRS_ADR_EML PD32
	WHERE 
		(@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND	SUBSTRING(PD32.DF_PRS_ID,1,1) != 'P' 
END
--14
ELSE IF @PD10 = 0 AND @PD30 = 0 AND @PD32 = 1 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD32.DF_PRS_ID 
	FROM 
		PD32_PRS_ADR_EML PD32
		INNER JOIN PD42_PRS_PHN PD40
			ON PD40.DF_PRS_ID = PD32.DF_PRS_ID
	WHERE 
		(@Email IS NULL OR PD32.DX_ADR_EML LIKE @Email)
		AND (@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD32.DF_PRS_ID,1,1) != 'P' 
END
--15
ELSE IF @PD10 = 0 AND @PD30 = 0 AND @PD32 = 0 AND @PD40 = 1
BEGIN
	INSERT INTO @MatchingSSNs
	SELECT DISTINCT 
		PD40.DF_PRS_ID 
	FROM 
		PD42_PRS_PHN PD40
	WHERE 
		(@Phone IS NULL OR PD40.DN_DOM_PHN_ARA + PD40.DN_DOM_PHN_XCH + PD40.DN_DOM_PHN_LCL LIKE @Phone OR PD40.DN_FGN_PHN_CNY + PD40.DN_FGN_PHN_CT + PD40.DN_FGN_PHN_LCL LIKE @Phone) 
		AND	SUBSTRING(PD40.DF_PRS_ID,1,1) != 'P' 
END


SELECT 
	PD10.DF_PRS_ID AS SSN, 
    MAX(LTRIM(RTRIM(PD10.DM_PRS_1))) AS FirstName, 
    MAX(LTRIM(RTRIM(PD10.DM_PRS_LST))) AS LastName, 
    MAX(LTRIM(RTRIM(PD10.DM_PRS_MID))) AS MiddleInitial,  
    MAX(PD10.DD_BRT) AS DOB, 
    MAX(PD30.DX_STR_ADR_1) AS Address1, 
    MAX(PD30.DX_STR_ADR_2) AS Address2, 
    MAX(PD30.DM_CT) AS City,
    MAX(PD30.DC_DOM_ST) AS StateCode, 
    MAX(PD30.DF_ZIP_CDE) AS Zip, 
	MAX(CASE WHEN PD40.DC_PHN = 'H' THEN ISNULL(NULLIF(PD40.DN_DOM_PHN_ARA + ' ' + PD40.DN_DOM_PHN_XCH + ' ' + PD40.DN_DOM_PHN_LCL, '  '), NULLIF(DN_FGN_PHN_CNY + ' ' + DN_FGN_PHN_CT + ' ' + DN_FGN_PHN_LCL, '  ')) END) AS HomePhone,
	MAX(CASE WHEN PD40.DC_PHN = 'H' AND PD40.DC_ALW_ADL_PHN IN ('L','P','X')  THEN 'Y' ELSE 'N' END) AS HomePhoneConsent,
	MAX(CASE WHEN PD40.DC_PHN = 'W' THEN ISNULL(NULLIF(PD40.DN_DOM_PHN_ARA + ' ' + PD40.DN_DOM_PHN_XCH + ' ' + PD40.DN_DOM_PHN_LCL, '  '), NULLIF(DN_FGN_PHN_CNY + ' ' + DN_FGN_PHN_CT + ' ' + DN_FGN_PHN_LCL, '  ')) END) AS WorkPhone,
	MAX(CASE WHEN PD40.DC_PHN = 'W'  AND PD40.DC_ALW_ADL_PHN IN ('L','P','X')  THEN 'Y' ELSE 'N' END) AS WorkPhoneConsent,
	MAX(CASE WHEN PD40.DC_PHN = 'A' THEN ISNULL(NULLIF(PD40.DN_DOM_PHN_ARA + ' ' + PD40.DN_DOM_PHN_XCH + ' ' + PD40.DN_DOM_PHN_LCL, '  '), NULLIF(DN_FGN_PHN_CNY + ' ' + DN_FGN_PHN_CT + ' ' + DN_FGN_PHN_LCL, '  ')) END) AS AlternatePhone,
	MAX(CASE WHEN PD40.DC_PHN = 'A'  AND PD40.DC_ALW_ADL_PHN IN ('L','P','X')  THEN 'Y' ELSE 'N' END) AS AlternatePhoneConsent,
    MAX(CASE WHEN PD32.DC_ADR_EML = 'H' THEN PD32.DX_ADR_EML END) AS HomeEmail,
    MAX(CASE WHEN PD32.DC_ADR_EML = 'W' THEN PD32.DX_ADR_EML END) AS WorkEmail,
    MAX(CASE WHEN PD32.DC_ADR_EML = 'A' THEN PD32.DX_ADR_EML END) AS AlternateEmail
FROM
	@MatchingSSNs S
	INNER JOIN PD10_PRS_NME PD10
		ON PD10.DF_PRS_ID = S.SSN
	LEFT JOIN PD30_PRS_ADR PD30 
		ON PD10.DF_PRS_ID = PD30.DF_PRS_ID
	LEFT JOIN PD32_PRS_ADR_EML PD32 
		ON PD32.DF_PRS_ID = PD10.DF_PRS_ID
	LEFT JOIN PD42_PRS_PHN PD40 
		ON PD40.DF_PRS_ID = PD10.DF_PRS_ID
 GROUP BY 
	PD10.DF_PRS_ID

