USE UDW
GO

SELECT DISTINCT
	 DF10.BF_SSN
	,PD10.DF_SPE_ACC_ID  
	,(LTRIM(RTRIM(PD10.DM_PRS_LST)) + ', ' + LTRIM(RTRIM(PD10.DM_PRS_1))) [NAME]
	,LN50.LD_DFR_APL
	,LN50.LD_DFR_BEG
	,LN50.LD_DFR_END
FROM
	LN10_LON LN10
	INNER JOIN LN50_BR_DFR_APV LN50
		ON LN10.BF_SSN = LN50.BF_SSN
		AND LN10.LN_SEQ = LN50.LN_SEQ
	INNER JOIN DF10_BR_DFR_REQ DF10
		ON DF10.BF_SSN = LN50.BF_SSN
		AND DF10.LF_DFR_CTL_NUM = LN50.LF_DFR_CTL_NUM
	INNER JOIN PD10_PRS_NME PD10
		ON DF10.BF_SSN = PD10.DF_PRS_ID
WHERE
	LN50.LC_STA_LON50 = 'A'
	AND DF10.LC_DFR_TYP = '13'
	AND	DF10.LC_DFR_STA = 'A'
	AND CAST(LN50.LD_DFR_APL AS DATE) BETWEEN '2017-01-01' AND '2017-12-31'
ORDER BY
	LN50.LD_DFR_APL
