USE [ODW]
GO
/****** Object:  StoredProcedure [dbo].[GetCoBorrowersForBorrower]    Script Date: 12/5/2019 9:39:15 AM ******/


SELECT DISTINCT
	
	PD01.DF_SPE_ACC_ID AS CoBorrowerAccountNumber,
	GA01.DF_PRS_ID_BR AS BorrowerSsn,
	GA10.AF_APL_ID AS AF_APL_ID,
	GA10.AF_APL_ID_SFX AS AF_APL_ID_SF,
	GA10.AF_APL_ID + GA10.AF_APL_ID_SFX AS UniqueId,
	GA10.AA_CUR_PRI AS LOAN_BALANCE,
	oq.PX_MDM_DSC AS LOAN_STATUS,
	oq1.PX_MDM_DSC AS LOAN_STATUS_REASON,
	 ga10.AC_LON_TYP,
	 LN10.LA_CUR_PRI AS COMPASS_BALANCE
FROM
	ODW..GA01_APP GA01
	LEFT JOIN ODW..GA10_LON_APP GA10
		ON GA01.AF_APL_ID = GA10.AF_APL_ID
	LEFT JOIN ODW..PD01_PDM_INF PD01
		ON GA01.DF_PRS_ID_EDS = PD01.DF_PRS_ID
	LEFT JOIN ODW..GA14_LON_STA GA14
		ON GA14.AF_APL_ID = GA10.AF_APL_ID
		AND GA14.AF_APL_ID_SFX = GA10.AF_APL_ID_SFX
	LEFT JOIN ODW..DC01_LON_CLM_INF DC01
		ON DC01.AF_APL_ID = GA10.AF_APL_ID
		AND DC01.AF_APL_ID_SFX = GA10.AF_APL_ID
	LEFT JOIN UDW..LN10_LON LN10
		ON LN10.LF_LON_ALT  = GA10.AF_APL_ID
		AND LN10.LN_LON_ALT_SEQ = GA10.AF_APL_ID_SFX
	LEFT JOIN 
	(
		SELECT * FROM OPENQUERY(DUSTER,
		'
			SELECT * FROM OLWHRM1.LK01_LGS_CDE_LKP
		')
	) OQ
		ON OQ.PM_ATR = 'AC-LON-STA-TYP'
		AND OQ.PX_CDE_VAL = GA14.AC_LON_STA_TYP
	LEFT JOIN 
	(
		SELECT * FROM OPENQUERY(DUSTER,
		'
			SELECT * FROM OLWHRM1.LK01_LGS_CDE_LKP
		')
	) OQ1
		ON OQ1.PM_ATR = 'AC-LON-STA-REA'
		AND OQ1.PX_CDE_VAL = GA14.AC_LON_STA_REA
WHERE
	GA01.AC_EDS_TYP = 'E'
	--AND GA14.AC_STA_GA14 = 'A' 
 --   AND GA14.AC_LON_STA_TYP NOT IN ('AE','PF','PC','PN','CA','AL')
	--AND GA10.AA_CUR_PRI > 0.00
	AND  GA10.AC_LON_TYP IN ('PL','GB')
	--AND GA01.DF_PRS_ID_BR = '529904500'
	AND 
	(
		LN10.LA_CUR_PRI > 0 
		--OR
		-- oq.PX_MDM_DSC NOT LIKE '%PAID%'
		 OR (GA14.AC_LON_STA_TYP NOT IN ('AE','PF','PC','PN','CA','AL') AND GA14.AC_STA_GA14 = 'A' )
		 )

