

DROP TABLE IF EXISTS #DATA
DROP TABLE IF EXISTS #DATA1


SELECT DISTINCT
	 DF_PRS_ID,
	 LA_CUR_PRI
INTO #DATA
FROM
(
SELECT DISTINCT
	DF_PRS_ID,
	SUM(LN10.LA_CUR_PRI) AS LA_CUR_PRI
FROM
	UDW..PD30_PRS_ADR PD30
	INNER JOIN UDW..LN10_LON LN10
		ON LN10.BF_SSN = PD30.DF_PRS_ID
WHERE
	DC_DOM_ST = 'RI'
	AND DC_ADR = 'L'
	AND DI_VLD_ADR = 'Y'
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.LA_CUR_PRI > 0
GROUP BY
	DF_PRS_ID

) POP

SELECT
	COUNT(DISTINCT D.DF_PRS_ID) AS [BORROWER COUNT],
	SUM(LA_CUR_PRI) AS [TOTAL BALANCE]
FROM
	#DATA D
	

SELECT
	D.DF_PRS_ID,
	LA_CUR_PRI AS [TOTAL BALANCE]
	
	--SUM(LA_CUR_PRI) AS [TOTAL BALANCE]
FROM
	#DATA D

SELECT * INTO #DATA1 FROM OPENQUERY(DUSTER,
'
SELECT DISTINCT
	PD03.DF_PRS_ID, 
	GA10.AF_APL_ID,
	SUM(AA_CUR_PRI) AS AA_CUR_PRI
FROM 
	OLWHRM1.PD03_PRS_ADR_PHN PD03
	INNER JOIN OLWHRM1.GA01_APP GA01
		ON GA01.DF_PRS_ID_BR = PD03.DF_PRS_ID
	INNER JOIN OLWHRM1.GA10_LON_APP GA10
		ON GA10.AF_APL_ID = GA01.AF_APL_ID
WHERE
	DC_DOM_ST = ''RI''
	AND AA_CUR_PRI > 0.00
	and DI_VLD_ADR = ''Y''
GROUP BY
	PD03.DF_PRS_ID,
	GA10.AF_APL_ID
')

SELECT
	COUNT(DISTINCT DF_PRS_ID) AS [BORROWER COUNT],
	SUM(AA_CUR_PRI) AS [TOTAL BALANCE]
FROM
	#DATA1

SELECT
	DF_PRS_ID,
	AF_APL_ID,
	AA_CUR_PRI AS [TOTAL BALANCE]
FROM
	#DATA1


