DROP TABLE IF EXISTS #DATA

--875
SELECT  
	UNH.DF_PRS_ID,
	PD10.DF_SPE_ACC_ID,
	UNH.[DC_PHN],
	PD42.DN_DOM_PHN_ARA + PD42.DN_DOM_PHN_XCH + PD42.DN_DOM_PHN_LCL AS PHN
INTO #DATA
FROM 
	[UDW].[dbo].[UNH72719] UNH
	INNER JOIN UDW..PD10_PRS_NME PD10
		ON PD10.DF_PRS_ID = UNH.DF_PRS_ID
	INNER JOIN UDW..PD42_PRS_PHN PD42
		ON PD42.DF_PRS_ID = UNH.DF_PRS_ID
		AND PD42.DC_PHN = UNH.DC_PHN

--INSERT INTO ULS..ArcAddProcessing
SELECT DISTINCT
	2 AS ARC_TYPE,
	null as res, 
	D.DF_SPE_ACC_ID,
	NULL AS RECIPID,
	'TCPAB' AS ARC,
	NULL ACT_TYPE,
	NULL ACT_CONTACT,
	'UNH 72719' AS SCRIPT_ID,
	GETDATE() AS PROCESS_ON,
	'Invalidated Phone number(s) ' + STUFF(
		(
			SELECT 
				' ' + SUB.PHN AS [text()]
			FROM 
				#DATA SUB
			WHERE
				SUB.DF_PRS_ID = D.DF_PRS_ID
				
		FOR XML PATH('')
		)
		,1,1, '') + ' due to phone number reassignment information received from PossibleNow' AS  CMT,
		0 AS IS_REF,
		0 IS_END,
		NULL AS PROCESSFROM,
		NULL PROCESSTO,
		NULL NEEDEDBY,
		NULL REGARDSTO,
		NULL REGARDCODE,
		NULL LN_ATY_SEQ,
		0 PROCESSINGATTP,
		GETDATE() CREATEDAT,
		'UNH 72719',
		NULL
FROM
	#DATA D

--SELECT DISTINCT
--							AY20.BF_SSN,
--							STUFF(
--							(
--								SELECT 
--									' ' + SUB.LX_ATY AS [text()]
--								FROM 
--									AY20_ATY_TXT SUB
--								WHERE
--									SUB.BF_SSN = AY20.BF_SSN
--									AND SUB.LN_ATY_SEQ = AY20.LN_ATY_SEQ
--							FOR XML PATH('')
--							)
--							,1,1, '') AS LX_ATY
--						FROM	
--							AY10_BR_LON_ATY AY10
--							INNER JOIN AY15_ATY_CMT AY15
--								ON AY10.BF_SSN = AY15.BF_SSN
--								AND AY10.LN_ATY_SEQ = AY15.LN_ATY_SEQ
--							INNER JOIN AY20_ATY_TXT AY20
--								ON AY15.BF_SSN = AY20.BF_SSN
--								AND AY15.LN_ATY_SEQ = AY20.LN_ATY_SEQ
--								AND AY15.LN_ATY_CMT_SEQ = AY20.LN_ATY_CMT_SEQ
--							INNER JOIN PD10_PRS_NME PD10
--								ON PD10.DF_PRS_ID = AY20.BF_SSN
	