@{
	ViewBag.Title = "Service Member Benefits";
}

@section Meta {
	<meta name="description" content="The Servicemembers Civil Relief Act (SCRA) is a benefit to those who serve in the Uniformed Services." />
}

<h1>Service Member Benefits</h1>

<p>
	We appreciate the sacrifices you make for us and we are dedicated to provide you with the benefits you deserve. The following is a list of benefits you may be eligible for. If you have any questions or would like assistance in any way, please contact us toll-free at (844) 255-8326.
</p>

<h2>Thank you for your service</h2>
<p>As America’s servicemen and servicewomen, you’ve always been there for us when we needed you. The Department of Education and your student loan servicers appreciate the sacrifices you make for our country and we want to be there for you, too. Our teams of dedicated customer care representatives can help you access benefits available on your loans, review repayment options, and help you create a plan to manage your student loans while you are far from home.</p>

<h2>Benefits for members of the armed forces</h2>
<p>In acknowledgement of your service to our country, there are special benefits and repayment options for your student loans available from the U.S. Department of Education and the U.S. Department of Defense. Contact your student loan servicer for additional information on these options, including eligibility information and what documentation you should provide to receive the benefit.</p>
<div class="panel panel-default">
	<table class="table" title="Benefits for Members of the Armed Forces">
		<tr>
			<th scope="col">Benefit*</th>
			<th scope="col">Description</th>
		</tr>
		<tr>
			<td>Servicemembers Civil Relief Act (SCRA) Interest Rate Cap</td>
			<td>Interest on federal student loans obtained prior to your military service is limited to 6&#37; during periods of active duty. The interest rate limitation also applies to any private education loans you may have.</td>
		</tr>
		<tr>
			<td>Military Service Deferment</td>
			<td>You can postpone federal student loan repayment during certain periods of active duty, such as during war, other military operation, or national emergency, and immediately following active duty.</td>
		</tr>
		<tr>
			<td>Public Service Loan Forgiveness</td>
			<td>You may qualify for forgiveness of the remaining balance of your Direct Loans when you’ve made 120 qualifying payments after October 1, 2007, while employed in public service, including military service.</td>
		</tr>
		<tr>
			<td>Deferments After Active Duty</td>
			<td>You can postpone repayment while you prepare to return to school following your active duty.</td>
		</tr>
		<tr>
			<td>0&#37; Interest</td>
			<td>While you are serving in a hostile area that qualifies you for special pay, you do not have to pay interest on Direct Loans made on or after October 1, 2008, for up to 60 months.</td>
		</tr>
		<tr>
			<td>Repayment Based on Income</td>
			<td>Repayment plans that base your monthly payment on your income are available. Under these plans, you may qualify for a low or zero payment amount with the possibility of forgiveness of the remaining balance in the future.</td>
		</tr>
		<tr>
			<td>HEROES Act Waiver</td>
			<td>While you are on active duty, the Department of Education waives many of the documentation requirements attached to program benefits. For example, if you are on a payment plan based on your income and military service prevents you from providing updated information on your family size and income, you can request to have your monthly payment amount maintained.</td>
		</tr>
		<tr>
			<td>Department of Defense (DOD) Repayment of Your Loans</td>
			<td>In certain circumstances, as determined by the DOD, all or a portion of your loans may be repaid by the DOD.</td>
		</tr>
		<tr>
			<td>Veterans Total and Permanent Disability Discharge</td>
			<td>If you have a service-connected disability, you may qualify for discharge of your federal student loans.</td>
		</tr>
	</table>
</div>
    *Additional benefits may be available on Perkins Loans, which are made by the school you attended.
<br /><br />
<p>You can find more information on all these options in the <a href="~/forms/Publications/Military-Student-Loan-Benefits-Brochure.pdf" title="Download Military Student Loan Benefits Brochure">Military Student Loan Benefits Brochure</a></p>
<h2>Helpful tips for active duty or if you are deployed</h2>
<div class="panel">
    <ol type="1">
        <li>Consider granting power of attorney to an individual you trust to allow them to manage your financial matters, including your student loans. The person to whom you give power of attorney can sign documents and act on your behalf. The legal assistance office on your military base can assist with establishing a power of attorney. As an alternative, you can provide your servicer with the name of the person you approve to receive information about your loan.</li>
        <li>Establish an account on your servicer’s website, which will allow you to view information about your student loan and make payments online.</li>
        <li>Provide your servicer with your current contact information, including an e-mail address, to ease communication.</li>
        <li>Make interest payments, even if you have military deferment available to you. This will keep your balance from increasing and could save you money in the long run.</li>
        <li>Review your repayment options. Repayment plans based on your income may provide a better outcome for federal student loans, as you may qualify for a low payment and loan forgiveness.</li>
        <li>Sign up for automatic payments to help keep your loan in good standing.</li>
        <li>Place an active duty alert on your credit report to reduce the risk that you’ll become a victim of identity theft. When a business sees an active duty alert on your credit report, it must verify your identity before issuing credit. You may designate a personal representative (a spouse or another trusted person) who can act on your behalf to verify your identity or remove your active duty alert if needed.</li>
    </ol>
</div>

    <h2>Useful student loan resources</h2>

<div class="panel panel-default">
	<table class="table" title="Useful student loan resources">
        <tr>
            <th scope="col">Resource</th>
            <th scope="col">Description</th>
        </tr>
        <tr>
            <td>
                <strong>Federal Student Aid</strong>
                <br />
                StudentAid.gov • 1-800-4-FED-AID
            </td>
            <td>Learn more about repayment plans, deferment and forbearance, and other options to help you repay your federal student loans.</td>
        </tr>
        <tr>
            <td>
                <strong>National Student Loan Data System (NSLDS®)</strong>
                <br />
                nslds.ed.gov
            </td>
            <td>Find out who is servicing your federal loans with NSLDS’s comprehensive database.</td>
        </tr>
        <tr>
            <td>
                <strong>DOD Student Loan Repayment Program</strong>
                <br />
                <span style="white-space: nowrap; font-size: 12px;">http://www.militaryonesource.mil</span>
            </td>
            <td>Information and resources for student loan repayment in various service branches.</td>
        </tr>
        <tr>
            <td>
                <strong>Equifax</strong> - Equifax.com
                <br />
                <strong>Experian</strong> - Experian.com
                <br />
                <strong>TransUnion</strong> - Transunion.com
            </td>
            <td>These are nationwide consumer reporting agencies where you can place an active duty alert on your credit report. Simply enter “active duty alert” in the website search box for forms and contact information.</td>
        </tr>
        <tr>
            <td>
                <strong>Veterans Disability Discharge Program</strong>
                <br />
                disabilitydischarge.com
            </td>
            <td>Get more information on loan discharge for disabled veterans.</td>
        </tr>
    </table>
</div>