@{
	ViewBag.Title = "Tips for Service Members";
}

@section Meta {
	<meta name="description" content="Service members: Follow these five steps to make sure you don't have to worry about your student loans while you're serving our country." />
}

<h1>Tips for Service Members</h1>

<p>
	We know it can be difficult to keep up on your student loans while you're serving our country. That's why we put together this list of things you can do to make sure you don't have to worry about your student loans while you're away.
</p>

<ol>
	<li><strong>Update Your Contact Information</strong> &#8212; Before you leave, log into <a href="@MyCornerstoneLoan.UrlHelpers.AccountAccessUrl">Account Access</a> and make sure your address, phone number and email address are current. This way you'll receive any information we send to help you stay up-to-date. If you haven't signed up for an account click this link to get started: <a href="https://myaccount.mycornerstoneloan.org/auth/index.cfm">Register for Account Access</a>.</li>
	<li>
		<strong>Designate Someone as an Authorized Third Party</strong> &#8212; You can give us permission to talk with someone you trust about your account. This could be your spouse, parents or someone else you trust to gather information about your account. Just remember, although authorized third parties can receive specific information about your account, they can't make changes to your account. You can download the authorization for by clicking this link: <a href="@Url.Content("~/forms/Third%20Party%20Authorization.pdf")">Third Party Authorization Form</a>. Once you complete the form send it to the following address.
		<address>
			<strong>CornerStone</strong><br />
			PO Box 145122<br />
			Salt Lake City, UT<br />
			84114-5122
		</address>
	</li>
	<li><strong>Designate Someone with Power of Attorney</strong> &#8212; You may not always have reliable access to communicate while on active duty. You can designate someone you trust to have Power of Attorney (POA) so they can make decisions or changes on your account. Contact the Judge Advocate General's Corps for more information on POA.</li>
	<li><strong>Understand Your Repayment Options</strong> &#8212; It's important that you don't have to worry about keeping up with your payment while on active duty. If you're already confident that you have make your payments, you don't need to worry. You have options. One option is Pay As You Earn repayment &#8212; under this plan, your payment is based on your monthly income and your family size. Your payment may be lower than your current payment, in some cases your payment can be &#36;0. Learn more about this plan by visiting the <a href="@Url.Content("~/Payments/PayAsYouEarn")">Pay As You Earn</a> page.</li>
	<li><strong>Find Out More About Public Service Loan Forgiveness (PSLF)</strong> &#8212; This program was created to encourage graduates to pursue careers in the public sector. After making 120 qualifying monthly payments the remaining balance (principal and interest) of your student loans can be forgiven. Learn more about PSLF by clicking this link: <a href="http://studentaid.ed.gov/repay-loans/forgiveness-cancellation/charts/public-service" rel="external">Public Service Loan Forgiveness</a>.</li>
	<li><strong>Sign Up for Automatic Payments</strong> &#8212; Keep your loan in good standing by ensuring your payment is made each month. Click here for more information on <a href="@Url.Content("~/Payments/AutoPay")">Automatic Payments</a>.</li>
	<li><strong>Take Advantage of Active Duty Alerts</strong> &#8212; You can have an alert placed on your credit report while you're on active duty that requires businesses to verify your identity before issuing credit. This can reduce your risk of identity theft while you're serving our country. You can designated a personal representative who can verify your identity or remove your active duty alert.</li>
</ol>
