@{
	ViewBag.Title = "ContactUs";
}

@section Meta {
	<meta name="description" content="Contact CornerStone if you have questions about student loans." />
}

<h1>Contact CornerStone</h1>

<div class="autopayBenefits">
	<div class="col-1">
		<h2>
			Customer Service Hours (all times Mountain)
		</h2>
		<p>
			Walk-In: Monday - Friday 8am - 5pm<br />
			*We do not accept cash payments.<br />
			Call Center:
			<br />
			Monday - Thursday 6am - 7pm<br />
			Friday 6am - 5pm
		</p>
		<h2>
			Contact Numbers
		</h2>
		<p>
			Toll Free: (800) 663-1662<br />
			Fax: (801) 366-8400
		</p>

		@*
			<h3 style="color:#FF6600; font-weight:normal;">Scan this code using a QR code reader to add CornerStone to your contact list.</h3>
			<br />
			<img src="images/New%20CS%20QR%20Code.png" alt="Scan this code with a QR code reader for our contact information." title="Scan this code using a QR code reader for our contact information." />
		*@
	</div>
	<div id="contactus" class="col-2">
		<h2>
			Mailing Address
		</h2>
		<p>
			P.O. Box 145122
			<br />
			Salt Lake City, UT
			<br />
			84114-5122
		</p>
		<h2>
			In Person
		</h2>
		<p>
			Board of Regents Building, The Gateway<br />
			60 South 400 West<br />
			Salt Lake City, UT 84101-1284
		</p>
		<hr/>
		<h4>
			<a href="http://maps.google.com/maps?q=60+S+400+W+Salt+Lake+City+UT,+84101-1284&hl=en&sll=37.0625,-95.677068&sspn=48.77566,52.998047&t=h&z=16"
				 target="_blank" rel="external">Click here for a building location map</a>
		</h4>
	</div>
</div>
