@{
	ViewBag.Title = "Privacy";
}

@section Meta {
	<meta name="description" content="Your privacy is important to CornerStone. Rest assured that we offer robust privacy protection for your student loan information." />
}

<h2>Privacy</h2>

<div id="privacy">
	<div class="left-header" id="facts">
		<div class="header">FACTS</div>
		<div class="content">
			WHAT DOES THE U.S. DEPARTMENT OF EDUCATION (Dept. of Ed)<br />
			DO WITH YOUR PERSONAL INFORMATION?
		</div>
	</div>
	<div class="left-header">
		<div class="header">Why?</div>
		<div class="content">
			Financial companies choose how they share your personal information. Federal law gives
			consumers the right to limit some but not all sharing. Federal law also requires us to tell you how
			we collect, share, and protect your personal information. Please read this notice carefully to
			understand what we do.
		</div>
	</div>
	<div class="left-header">
		<div class="header">What?</div>
		<div class="content">
			<p>The types of personal information we collect and share depend on the product or service you have with us. This information can include:</p>
			<ul>
				<li>Social Security number and account balances</li>
				<li>Payment history and account transactions</li>
				<li>Credit history and transaction history</li>
			</ul>
			<p>When you are <i>no longer</i> our customer, we continue to share your information as described in this notice.</p>
		</div>
	</div>
	<div class="left-header">
		<div class="header">How?</div>
		<div class="content">
			All financial companies need to share customers’ personal information to run their everyday
			business. In the section below, we list the reasons financial companies can share their
			customers’ personal information; the reasons the Dept. of Ed chooses to share; and
			whether you can limit this sharing.
		</div>
	</div>
	<table class="personal-info" title="Personal Information">
		<tr>
			<th scope="col">Reasons we can share your personal information</th>
			<th scope="col">Does the Dept. of Ed share?</th>
			<th scope="col">Can you limit this sharing?</th>
		</tr>
		<tr>
			<td class="left-align">
				<strong>For our everyday business purposes –</strong><br />
				such as to process your transactions, maintain
				your account(s), respond to court orders and
				legal investigations, or report to credit bureaus
			</td>
			<td>Yes</td>
			<td>No</td>
		</tr>
		<tr>
			<td class="left-align">
				<strong>For our marketing purposes –</strong><br />
				to offer our products and services to you
			</td>
			<td>No</td>
			<td>We don't share</td>
		</tr>
		<tr>
			<td class="left-align">
				<b>For joint marketing with other financial companies</b>
			</td>
			<td>No</td>
			<td>We don't share</td>
		</tr>
		<tr>
			<td class="left-align">
				<strong>For our affiliates’ everyday business purposes –</strong><br />
				information about your transactions and experiences
			</td>
			<td>No</td>
			<td>We don't share</td>
		</tr>
		<tr>
			<td class="left-align">
				<strong>For our affiliates’ everyday business purposes –</strong><br />
				information about your creditworthiness
			</td>
			<td>No</td>
			<td>We don't share</td>
		</tr>
		<tr>
			<td class="left-align">
				<strong>For nonaffiliates to market to you</strong>
			</td>
			<td>No</td>
			<td>We don't share</td>
		</tr>
	</table>
	<div class="left-header" id="questions">
		<div class="header">Questions?</div>
		<div class="content">
			Call CornerStone at 800-663-1662 or go to <a href="https://mycornerstoneloan.org" title="https://mycornerstoneloan.org">https://mycornerstoneloan.org</a>
		</div>
	</div>
	<table title="Who we are">
		<tr>
			<th colspan="2" class="left-align" scope="col">Who we are</th>
		</tr>
		<tr>
			<td class="left-col"><strong>Who is providing this notice?</strong></td>
			<td>The U.S. Department of Education (Dept. of Ed)</td>
		</tr>
	</table>
	<table title="What We do">
		<tr>
			<th colspan="2" class="left-align" scope="col">What we do</th>
		</tr>
		<tr>
			<td class="left-col"><strong>How does the Dept. of Ed protect my personal information?</strong></td>
			<td>
				To protect your personal information from unauthorized access
				and use, we use security measures that comply with federal law.
				These measures include computer safeguards and secured files
				and buildings.
			</td>
		</tr>
		<tr>
			<td class="left-col"><strong>How does the Dept. of Ed collect my personal information?</strong></td>
			<td>
				<p>We collect your personal information, for example, when you:</p>
				<ul>
					<li>apply for a loan or open an account</li>
					<li>provide account information or give us your contact information</li>
					<li>pay us by check</li>
				</ul>
				<p>
					We also collect your personal information from others, such as credit
					bureaus, affiliates, or other companies.
				</p>
			</td>
		</tr>
		<tr>
			<td class="left-col"><strong>Why can’t I limit all sharing?</strong></td>
			<td>
				<p>Federal law gives you the right to limit only</p>
				<ul>
					<li>sharing for affiliates’ everyday business purposes – information about your creditworthiness</li>
					<li>affiliates from using your information to market to you</li>
					<li>sharing for nonaffiliates to market to you</li>
				</ul>
				<p>State laws and individual companies may give you additional rights to limit sharing.</p>
			</td>
		</tr>
	</table>
	<table title="Definitions">
		<tr>
			<th colspan="2" class="left-align" scope="col">Definitions</th>
		</tr>
		<tr>
			<td class="left-col"><strong>Affiliates</strong></td>
			<td>
				<p>Companies related by common ownership or control. They can be financial and nonfinancial companies.</p>
				<ul>
					<li><em>The Dept. of Ed has no affiliates.</em></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="left-col"><strong>Nonaffiliates</strong></td>
			<td>
				<p>
					Companies not related by common ownership or control. They can be financial and nonfinancial companies.
				</p>
				<ul>
					<li><em>The Dept. of Ed does not share with nonaffiliates so they can market to you.</em></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="left-col"><b>Joint marketing</b></td>
			<td>
				<p>
					A formal agreement between nonaffiliated financial companies that together market financial products or services to you.
				</p>
				<ul>
					<li><i>The Dept. of Ed doesn't jointly market.</i></li>
				</ul>
			</td>
		</tr>
	</table>
	<h3>
		<a href="@Url.Content("~/forms/Publications/PRIVACY NOTICE 6_2016.pdf")">Download printer-friendly version (PDF)</a>
	</h3>
</div>
