#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
}

#content .header
{
	color: #875;
}

#content form
{
	display: inline;
}

#content .document
{
	color: #234;
}
