#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
}

#content .header
{
	color: #FF0000;
}

#content form
{
	display: inline;
}

#content .document
{
	color: #FF6600;
}
