#content h1, #content h3, #content h2
{
	font-family: "Tempus Sans ITC";
	color: #FFFF00;
}
#content {
	color: #FF6600;
}
#content table {cursor: pointer;}

#content td
{
	display: block;
	height: 2.5em;
	text-align: center;
	font: bold 120% Arial;
	background-color: #FF6600;
	border-style: outset;
	border-width: 1px;
	color: #000000;
}

#content a:link, #content a:visited {
	color: #FF0000;
}
#content a:hover, #content a:active {
	color: #FF0000;
}

#content td:hover {
	background-color: #666666;
}
#content thead td {
	color: #000000;
	background-color: #FF0000;
	font-size: x-large;
}

#content thead td:hover {
	color: #000000;
	background-color: #FF0000;
	font-size: x-large;
}

#nonMenu td {
	background-color: transparent;
	font-size: small;
	border-width: 0px;
	border-style: none;
	font: normal 100% Arial;
}
#nonMenu td:hover {
	background-color: transparent;
}
#adminMenu td {
	height: 25px;
	padding: 0;
}
#adminMenu a:link, #adminMenu a:visited  {
	color: #000000;
}
#adminMenu td:hover {
	height: 25px;
}

#AMenu1 td{
	text-align: left;
}
#AMenu2 td{
	text-align: left;
}
#AMenu3 td{
	text-align: left;
}
#AMenu4 td{
	text-align: left;
}
#AMenu5 td{
	text-align: left;
}