body
{
	text-align: center;
}

.MainBodyDiv
{
	border: medium outset #000000;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.HeaderDiv
{
	display: none;
}

.SystemLinkDiv
{
	display: none;
}

.ImageDiv
{
	background-image: url(   '/Shared/Images/PortalBackground.jpg' );
	height: 757px;
	padding-right: 50px;
	padding-left: 50px;
}
input
{
	width: 150px;
}
.AppImage
{
	border: medium outset;
	width: 100%;
}
.AppControl
{
	margin: 25px;
	display: inline-block;
}
.AppText
{
	font-family: Verdana;
	color: White;
	width: 100%;
	text-align: center;
}
img
{
	border: 0px;
}
a:link
{
	text-decoration: none;
}
