USE [CentralData]
GO
/****** Object:  StoredProcedure [cmplqcrpt].[GetClosedQueues]    Script Date: 5/21/2021 8:38:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Only needed the first time to create the schema
--CREATE SCHEMA cmplqcrpt
GO

CREATE PROCEDURE [cmplqcrpt].[GetClosedQueues]
	@QUEUE VARCHAR(8),
	@BEGIN DATETIME,
	@END DATETIME
AS
	SELECT
		WQ21.WF_QUE
		,WQ21.WF_SUB_QUE
		,PD10.DF_SPE_ACC_ID
		,WQ21.WD_ACT_REQ AS DT_OPEN
		,WQ21.WF_LST_DTS_WQ20  AS DT_CLOSED
		,CASE
			WHEN GX25.XM_USR_1 IS NULL AND GX25.XM_USR_LST IS NULL THEN WQ21.WF_USR_ASN_TSK
			ELSE LTRIM(RTRIM(GX25.XM_USR_1)) + ' ' + LTRIM(RTRIM(GX25.XM_USR_LST))
		END AS PROCESSOR
		,LK10.PX_DSC_SHO
	FROM
		UDW.[dbo].[WQ21_TSK_QUE_HST] WQ21
		LEFT JOIN UDW.[dbo].[PD10_PRS_NME] PD10
			ON WQ21.BF_SSN = PD10.DF_PRS_ID
		LEFT JOIN UDW.[dbo].[GX25_USR] GX25
			 ON	WQ21.WF_USR_ASN_TSK = GX25.XF_USR
		LEFT JOIN UDW..LK10_LS_CDE_LKP LK10
			ON LK10.PM_ATR = 'WC-STA-WQUE20'
			AND LK10.PX_ATR_VAL = WQ21.WC_STA_WQUE20
	WHERE
		WQ21.WC_STA_WQUE20 IN ('C','X')
		AND WQ21.WF_QUE = @QUEUE
		AND WQ21.WD_INI_TSK BETWEEN CAST(@BEGIN AS DATE) AND CAST(@END AS DATE)
	ORDER BY
		WQ21.WD_ACT_REQ,
		WQ21.WF_LST_DTS_WQ20