#content .header
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
	color: #FF0000;
}

#content form
{
	display: inline;
}

#content dl
{
	font-family: "Century Gothic";
	color: #FF6600;
}

#content dt
{
	font-size: x-large;
}

#content dd
{
	font-size: large;
}
