#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
	color: #764;
}

#content strong
{
	font-variant: small-caps;
	color: #431;
}

#content h2
{
	position: relative;
	font-size: x-large;
	color: #188;
}
