body
{
}
.FlowManagementTab
{
	border: thin outset #000000;
	background-color: #F0F0F0;
	text-align: center;
}
.FlowManagementTabButton
{
	border-style: none;
	border-width: thick;
	background-color: #F0F0F0;
	text-align: center;
}
.StepManagementTab
{
	border: thin outset #000000;
	background-color: #C0C0CC;
	text-align: center;
}
.StepManagementTabButton
{
	border-style: none;
	border-width: thick;
	background-color: #C0C0CC;
	text-align: center;
}
.ResearchFlowStepsTab
{
	border: thin outset #000000;
	background-color: #CCCCCC;
	text-align: center;
}
.ResearchFlowStepsTabButton
{
	border-style: none;
	border-width: thick;
	background-color: #CCCCCC;
	text-align: center;
}
.StepStaffAssignmentTab
{
	border: thin outset #000000;
	background-color: #999999;
	text-align: center;
}
.StepStaffAssignmentTabButton
{
	border-style: none;
	border-width: thick;
	background-color: #999999;
	text-align: center;
}
.TabPartHeader
{
	background-color: #000000;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}
.DescriptionTextBoxes
{
	width: 95%;
	height: 95%;
}
.TDsForDescriptionTextBoxes
{
	height: 100px;
}
#lblChangeFlow_FlowID
{
	margin-right: 10px;
}
.WideLeftMarginButtons
{
	margin-left: 30px;
}
.FlowSequenceNumberLabel
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 10px;
	margin-bottom: 7px;
}
