input {display: inline;}

#content h1, #content h3
{
	font-family: "Arno Pro";
}

#content table {cursor: pointer;}

#content td
{
	display: block;
	height: 2.5em;
	text-align: center;
	font: bold 120% "Century Gothic";
	background-color: #EC5;
	border-style: outset;
	border-width: 1px;
}

#content a:link, #content a:visited {color: #45C;}
#content a:hover, #content a:active {color: #B52;}

#content td:hover {background-color: #FA7;}
#content thead td {
	color: #000000;
	background-color: #FF9900;
	font-size: x-large;
}
#content thead td:hover {
	color: #000000;
	background-color: #FF9900;
	font-size: x-large;
}

#nonMenu td {
	background-color: transparent;
	font-size: small;
	border-width: 0px;
	border-style: none;
	font: normal 100% "Century Gothic";
}
#nonMenu td:hover {
	background-color: transparent;
}

#adminMenu td {
	height: 25px;
	padding: 0;
}
#adminMenu td:hover {
	height: 25px;
}

#AMenu1 td{
	text-align: left;
}
#AMenu2 td{
	text-align: left;
}
#AMenu3 td{
	text-align: left;
}
#AMenu4 td{
	text-align: left;
}
#AMenu5 td{
	text-align: left;
}

