#content
{
	font-family: "Papyrus";
	font-size: large;
}

#content a
{
	color: #000;
}

#content h2
{
	position: relative;
	left: 20%;
	color: #660;
}

#content form
{
	display: inline;
}

#content .listItem, #content .document
{
	font-family: "Century Gothic";
	color: #635;
}
