#content
{
	font-family: "Papyrus";
	font-size: large;
}

#content h2
{
	position: relative;
	left: 20%;
	color: #660;
}

#content a
{
	font-family: "Century Gothic";
	color: #635;
}
