@model COMPFAFSA.Models.User

@{
    ViewBag.Title = "AddUserSchoolFailure";
}

<body>
    <div class="body-content-margins">
        <h2>Failed to assign school to user.</h2><br />

        <div>
            @Html.ActionLink("Back to List of Schools", "ManageUserSchools", new { id = Model.UserId })
        </div>
    </div>
</body>
