
@{
    ViewBag.Title = "DeleteSuccess";
}

<body>
    <div class="body-content-margins">
        <h2>Successfully deleted user.</h2><br />

        <div>
            @Html.ActionLink("Back to Manage Users", "ManageUsers")
        </div>
    </div>
</body>


