
@{
    ViewBag.Title = "UnlockSuccess";
}

<body>
    <div class="body-content-margins">
        <h2>Account successfully unlocked.</h2>
    </div>
    <div>
        @Html.ActionLink("Back to Manage Users", "ManageUsers")
    </div>
</body>

