<div class="row educator_blurb">
    <div class="col-md-12 background-color-light-blue centered">
            <h2 class="font-color-black centered" style="padding-top: 10px;"><b><strong>How to get an account to view student-level FAFSA data</strong></b></h2>
            <h4 class="font-color-white centered"><strong>Only one counselor or educator per school may have an account</strong></h4>
            <h4 class="font-color-white centered" style="padding-bottom: 10px;">Please call 801-321-7245 and a member of the USHE staff will work with you to create your new account or help your current account holder log in</h4>
    </div>
</div>