@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<body>
    <div class="body-content-margins">
        <hgroup>
            <h1 class="text-danger">Locked out.</h1>
            <h2 class="text-danger">This account has been locked out. Please contact a member of the USHE team at 801-321-7245.</h2>
        </hgroup>
    </div>
</body>
