@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uheaa Scheduler</title>
    <script src="~/Plugins/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/Plugins/jquery-ui/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <link href="~/Plugins/jquery-ui/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Plugins/handlebars/handlebars-v3.0.0.js"></script>
    <script src="~/Plugins/handlebars-intl/dist/handlebars-intl.min.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/javascript/updown.js"></script>
    <script type="text/javascript" src="~/Content/javascript/dragdrop.js"></script>
    <script type="text/javascript" src="~/Content/javascript/workspace.js"></script>
    <script type="text/javascript" src="~/Content/javascript/scheduler-sync.js"></script>
    <script type="text/javascript" src="~/Content/javascript/court.js"></script>
    <link rel="stylesheet" href="~/Content/css/workspace.css" />
    @if (IsSectionDefined("Head"))
    {
        RenderSection("Head");
    }
</head>
<body>
    <script type="text/template" id="request-template">
        <tr data-priority-id="{{RequestPriorityId}}">
            <td class="pty-col">{{Priority}}</td>
            <td class="type-col">{{RequestType}}</td>
            <td class="id-col">{{RequestId}}</td>
            <td class="name-col">{{Name}}</td>
            <td class="status-col">{{Status}}</td>
            <td class="time-col">{{DevBeginString}}</td>
            <td class="time-col">{{DevEndString}}</td>
            <td class="time-col">{{TestBeginString}}</td>
            <td class="time-col">{{TestEndString}}</td>
            <td class="updown">
                <img alt="Up" class="up" src="/Content/images/up-icon.png" />
                <img alt="Down" class="down" src="/Content/images/down-icon.png" />
            </td>
            <td class="assign-court"><a href="/Scheduler/MoveToMyCourt?requestId={{RequestId}}&requestType={{RequestType}}">Move to my Court</a></td>
        </tr>
    </script>
    <script type="text/template" id="table-header-template">
        <tr class="header">
            <th class="pty-col">Pty.</th>
            <th class="type-col">Type</th>
            <th class="id-col">ID</th>
            <th class="name-col">Name</th>
            <th class="status-col">Status</th>
            <th class="time-col">DevBegin</th>
            <th class="time-col">DevEnd</th>
            <th class="time-col">TestBegin</th>
            <th class="time-col">TestEnd</th>
            <th class="updown"></th>
            <th class="assign-court"></th>
        </tr>
    </script>
    <div id="navbar">
        <div>
            <img src="~/Content/images/uheaa-logo.png" alt="Uheaa" />
            Task Scheduler
            <a href="/Home/TestTypeToggle" style="font-size:8px;">[change user type]</a>
            <div class="run-info">
                <label></label>
                <span>[Run Now]</span>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
