#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
}

#content a
{
	color: #18A;
}

#content h2
{
	position: relative;
	left: 30%;
	color: #188;
}

#content form
{
	display: inline;
}

#content .listItem
{
	color: #764;
}
