#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
	color: #FF6600;
}

#content a
{
	color: #F93;
}

#content h2
{
	position: relative;
	left: 30%;
	color: #FFFF00;
}

#content form
{
	display: inline;
}

#content .listItem
{
	color: #FF0000;
}
