#content
{
	font-family: "Tempus Sans ITC";
	font-size: large;
	font-weight: bold;
	color: #FF6600;
}

#content strong
{
	font-variant: small-caps;
	color: #FF6600;
}

#content h2
{
	position: relative;
	font-size: x-large;
	color: #FF0000;
}
