@{
	ViewBag.Title = "Alternative Format";
}

<h1>Alternative Format</h1>

<p>
    Current and prospective borrowers are entitled to receive any student loan related communication or document in an accessible, alternative format. Borrowers interested in receiving student aid forms, student loan statements, notices, written communications, and publications in alternative formats should contact us directly at (800) 663-1662 or by email at <a href="mailto:CustomerService@MyCornerStoneLoan.org" title="customerservice@mycornerstoneloan.org">CustomerService@MyCornerStoneLoan.org</a>. CornerStone offers various alternative formats such as Braille, large print, audio CD, and digital navigable formats supported by computers and digital talking-book players, delivered through data CD, email, or other electronic means.
</p>