@{
	ViewBag.Title = "Borrower Benefits";
}

@section Meta {
	<meta name="description" content="CornerStone offers you the best borrower benefits in student loans. You can qualify for interest rate reductions save money over the life of your loan." />
}

<h1>CornerStone Borrower Benefits</h1>

<h2>There are three borrower benefits (or repayment incentives) available for Direct Loans.</h2>
<ol>
	<li>An interest rate reduction for enrolling in automatic payments.</li>
	<li>An interest rebate for on-time payments.</li>
	<li>An interest rate reduction for Direct Consolidation Loans</li>
</ol>

<h2>Interest Rate Reduction for Automatic Payments</h2>
<p>
	Borrowers who enroll in the automatic payment program receive a <strong>0.25% interest rate reduction</strong>.
	The interest rate reduction only applies during periods
	while you're in repayment; not for in-school, grace, deferment or forbearance. If
	you have two non-sufficient funds (NSF) occurrences within a 12-month period, you
	will be removed from the automatic payment program, but you can reapply for automatic
	payments at any time, and receive the interest rate reduction.
</p>

<h2>Interest Rebate for On-Time Payments</h2>
<p>
	When your loans were disbursed, you were given a <strong>rebate</strong> of a percentage
	of your principal balance. (See the tables below.) Although the rebate was applied
	when your loans were disbursed, if you made a late payment within the first 12 months
	of repayment, the rebate amount was added back to your principal balance. Payments
	have to be made within six calendar days after the due date to be "on time." The
	interest rebate was eliminated for loans first disbursed on or after July 1, 2012.
</p>

<div class="panel panel-default">
	<div class="panel-heading">Direct Subsidized and Direct Unsubsidized Loans</div>
	<table class="table" title="Borrower benefits for Direct Loans">
		<tr>
			<th class="tblHead" scope="col">
				First Disbursement Date
			</th>
			<th class="tblHead" scope="col">
				Interest Rebate
			</th>
		</tr>
		<tr>
			<td>
				On or after July 1, 2000 and before July 1, 2009
			</td>
			<td>
				1.5%
			</td>
		</tr>
		<tr>
			<td>
				On or after July 1, 2009 and before July 1, 2010
			</td>
			<td>
				1.0%
			</td>
		</tr>
		<tr>
			<td>
				On or after July 1, 2010 and before July 1, 2012
			</td>
			<td>
				0.5%
			</td>
		</tr>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">PLUS Loans</div>
	<table class="table" title="Borrower Benefits for PLUS Loans">
		<tr>
			<th class="tblHead" scope="col">
				First Disbursement Date
			</th>
			<th class="tblHead" scope="col">
				Interest Rebate
			</th>
		</tr>
		<tr>
			<td>
				On or after July 1, 2000 and before July 1, 2012
			</td>
			<td>
				1.5%
			</td>
		</tr>
	</table>
</div>

<h2>Interest Rate Reduction for Direct Consolidation Loans</h2>
<p>
	For a short time between October 1, 2000 and October 1, 2001 borrowers who consolidated
	their loans into the Federal Direct Loan Program received a <strong>0.8% interest rate reduction</strong>.
	To retain the benefit, a borrower had to make the first
	12 payments on time and any payment made during deferment or forbearance periods
	did not count as one of the required 12 payments.
</p>