@{
    ViewBag.Title = "Consolidation";
}

<h1>Consolidation</h1>
<p>
    Much like a consolidation loan for other types of debt, federal student loan customers can combine all of their student loans into one new consolidation loan that is guaranteed by the Department of Education. This allows customers to have their loans serviced in one place, under one interest rate.
</p>
<p>
    There are several pros and cons to consolidation. Please review the following list before making a decision:
</p>
<p>
    Pro:
    <ul>
        <li>All loans will be serviced in one place
        <li>Extended terms (months) to repay, which may result in a lower monthly payment
        <li>More repayment options
        <li>Expanded loan forgiveness options
        <li>No origination fees
    </ul>
    Cons:
    <ul>
        <li>Extended terms may increase the total amount of interest paid
        <li>Loss of borrower-benefits (i.e. Interest discounts provided by your previous Guarantor)
        <li>Loss of qualifying payments towards IDR forgiveness
        <li>Loss of qualifying payments towards Public Service Loan Forgiveness (PSLF)
    </ul>
</p>
<h1>How to Apply</h1>
<p>
    If you are interested in consolidating your loans, you may apply online at StudentLoans.Gov.
</p>
<p>
    The Department of Education has assigned Navient to originate and process all new consolidation loans for NFP’s (Not-For-Profits). After submitting your application, Navient will begin the origination process. Please be advised, this process can take anywhere from 30 - 90 days to complete. If you have questions regarding the status of your application, you will need to contact Navient directly through one of the contacts below:
    <ul>
        <li>Email: <a href="mailto:ED_Consolidation_Orig@navient.com" title="ED_Consolidation_Orig@navient.com">ED_Consolidation_Orig@navient.com</a>
        <li>Fax: (866) 233-8899
        <li>Phone: (800) 722-1300
        <li>Hours: Monday – Thursday 8 am – 9 pm ET and Friday 8 am – 8 pm ET
    </ul>
</p>
<p>
    Once your new consolidation loan has been created, it will be transferred to the servicer you selected on your application. For additional information regarding consolidation, please visit
    <a href="https://studentaid.ed.gov/sa/repay-loans/consolidation" title="https://studentaid.ed.gov/sa/repay-loans/consolidation">https://studentaid.ed.gov/sa/repay-loans/consolidation.</a>
</p>