@{
	ViewBag.Title = "Income-Driven Repayment Plans";
}

@section Meta {
	<meta name="description" content="Income-Driven Repayment plans base your payments on your income." />
	<meta name="keywords" content="pay, repay, payment, income-driven, IDR, income-based, IBR, pay as you earn, lower, income-contingent, information, federal, student, loan" />
}

<h1>Income-Driven Repayment Plans</h1>

<p>
    Under the Income-Driven Repayment plans, your monthly payment is calculated based on your income and family size. With a monthly payment based on your income and family size, your payment could be as low as $0.
</p>
<p>
    If you are interested in receiving more information or applying for this repayment option, please visit the
    <a href="https://studentloans.gov/myDirectLoan/ibrInstructions.action" rel="external" >Federal Student Aid website.</a> Here you will find several tools that can be used to determine eligibility and estimate monthly payments under each of the specific Income-Driven Repayment plans.
</p>
