@{
	ViewBag.Title = "ThirdParty Authorization";
}

@section Meta {
	<meta name="description" content="Your privacy is important at CornerStone." />
}

<h1>Third Party Authorization</h1>

<p>
	You can give others the authority to find out details about your student loan account
	by filling out the <a href="https://mycornerstoneloan.org/Home/Forms#AccountForms" target="_blank">Third Party Authorization</a> form and returning it to CornerStone. Authorizing
	a third party can be helpful if you will be out of the country for an extended period
	of time or if your parents or spouse are working with you to repay your loans.
</p>

<h2>More about Third Parties</h2>

<div class="alert alert-success">
	<p>An Authorized Third Party <strong>CAN</strong>:</p>
	<ul>
		<li>Talk to a customer service representative for you, or on your behalf.</li>
		<li>Give a customer service representative information about changes to your address or phone number.</li>
		<li>Ask us to mail or fax your loan inforamtion.</li>
	</ul>
</div>

<div class="alert alert-danger">
	<p>An Authorized Third Party <strong>CANNOT</strong>:</p>
	<ul>
		<li>Get online access to your account.</li>
		<li>Make online payments for you.</li>
		<li>Change or adjust your loans.</li>
	</ul>
</div>
