@{
	ViewBag.Title = "";
}

@section Meta {
	<meta name="description" content="CornerStone has many options available to you in the case of delinquency. Give us a call if you are having difficulty repaying your student loans." />
}

<h1>Delinquency and Default</h1>

<h2>Delinquency</h2>
<p>
	If you think that you may have trouble paying your student loan bill there are many
	options to help! Take a look at changing your repayment plan or postponing payments
	and if you have questions don't hesitate to contact us, we're here to help you!
</p>

<p>
	There are consequences if you stop making payments without making arrangements with
	us first, and none of them are good. If you avoid the problem too long, you eventually
	default, and then the real problems start! Fewer options are available to help you,
	and on top of that, your credit report is messed up which makes it harder to buy
	a car, rent an apartment, buy a house, or get a job!
</p>

<div class="alert alert-warning">
	<strong>Don't go down that path!</strong> Keep in contact with us and let us explain
	just how borrower-friendly the federal student loan programs are!
</div>

<h2>Default</h2>
<p>
	Default occurs when you persistently fail to make payments as required. Default
	is <strong>very serious</strong> and may result in:
</p>
<ul>
	<li>Loss of federal and state income tax refunds and other federal payments.</li>
	<li>Legal action.</li>
	<li>Assessment of collection charges including attorney fees.</li>
	<li>Loss of professional license.</li>
	<li>Loss of eligibility for other student financial assistance under most federal benefit programs.</li>
	<li>Loss of eligibility for deferments.</li>
	<li>Negative credit reports.</li>
	<li>Wage garnishment.</li>
</ul>

<p>
	See the terms of your promissory note for additional details. CornerStone has many
	options that can help you avoid default such as changing your repayment plan or
	postponing payments. Please contact a CornerStone representative if you have difficulty
	making your scheduled payments.
</p>
