@{
	ViewBag.Title = "Due Date";
}

@section Meta {
	<meta name="description" content="CornerStone gives you options to change your payment due date to make it easy for you to make your payments when it's convenient for you." />
}

<h1>Due Date Changes</h1>

<div class="row">
	<div class="col-md-7">
		<p>
            At CornerStone we want you to have the ability to make your account as comfortable as possible. Make sure to change your due date to a time that makes it easy for you to make your payment. For example, you may want your due date to be close to the same time as your other bills or when you know you'll have money in your account.
            <strong>Your account has to be current (no delinquency) to change your due date.</strong>
        </p>
		<h2>How to Change your Due Date</h2>
		<p>Just contact Customer Service at 800-663-1662 and we'll be happy to take care of it for you.</p>
	</div>
	<div class="col-md-5">
		<img src="@Url.Content("~/images/duedate.png")" alt="Due Date Picture" title="Change your Due Date" class="img-responsive" />
	</div>
</div>
