@{
	ViewBag.Title = "Loan Statement";
}

<h1>Loan Statement</h1>

<p>
    Alternative formats of student loan documents are available electronically online as well as by mail. 
    If you are in need of assistance or interested in requesting alternative formats, <a href="~/ContactUs">contact us directly.</a>  
</p>