@{
	ViewBag.Title = "Loan Verification";
}

@section Meta {
	<meta name="description" content="Loan verification letters are available anytime to prove your student loan information for other lenders." />
}

<h1>Loan Verification Letter</h1>

<h2>What is a Loan Verification Letter?</h2>
<p>A loan verification letter or Credit Reference Letter is a document that a lender may request when you apply for a mortgage or other loan to verify your debt level. The loan verification letter includes your loan details and your monthly payment amount. If you're not in repayment, the letter will include an estimated monthly payment amount. You'll get your actual monthly payment amount before you go into repayment. You can print one anytime, just log into <a href="@MyCornerstoneLoan.UrlHelpers.AccountAccessUrl">Account Access</a> and look at the bottom-right for the link.</p>

<h2>What Information is on the Loan Verification Letter?</h2>
<p>The letter includes your name, your overall status, your total monthly payment amount and the following information for each loan.</p>
<ul>
	<li>Loan Number</li>
	<li>Disbursement Date</li>
	<li>Loan Program</li>
	<li>Original Loan Amount</li>
	<li>Current Principal Balance</li>
	<li>Monthly Payment Amount</li>
	<li>Repayment Term (in months)</li>
	<li>Interest Rate</li>
	<li>Days Delinquency (if any)</li>
</ul>

<h2>How do I get a Loan Verification Letter?</h2>
<p>Now you don't have to wait for the mail. You can print one anytime in <a href="@MyCornerstoneLoan.UrlHelpers.AccountAccessUrl">Account Access</a>.</p>
