@{
    ViewBag.Title = "Generate and Download Reports";
}

<h2>Generate and Download Reports</h2>
<ul id="main-options">
    <li>
        <a href="/Reports/BySchool">Reports by School</a>
    </li>
    <li>
        <a href="/Reports/ByRecipient">Reports by Recipient</a>
    </li>
</ul>

