USE [CentralData]
GO
/****** Object:  StoredProcedure [bwrwatuhe].[GetWatchListData]    Script Date: 8/13/2021 1:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [bwrwatuhe].[GetWatchListData]
AS

DECLARE @ARC VARCHAR(5) = 'CRDRV'

SELECT DISTINCT
	PD10.DF_SPE_ACC_ID AS AccountNumber, PD10.DF_PRS_ID,
	PD10.DM_PRS_1 AS FirstName,
	PD10.DM_PRS_LST AS LastName,
	PD10.DM_PRS_MID AS MiddleInitial,
	CASE
		WHEN PD30.DC_DOM_ST != '' THEN PD30.DC_DOM_ST
		WHEN PD30.DM_FGN_ST != '' THEN 'FC'
	END AS [State],
	MAX(LN16.LN_DLQ_MAX) OVER (PARTITION BY LN16.BF_SSN, LN16.LN_SEQ) + 1 AS DaysDelinquent,
	SUM(LN10.LA_CUR_PRI) OVER (PARTITION BY LN10.BF_SSN) AS TotalRemainingBalance,
	CONVERT(VARCHAR(10), AY10.LastReviewDate, 101) AS LastReviewDate
FROM
	UDW..PD10_PRS_NME PD10
	INNER JOIN UDW..PD30_PRS_ADR PD30
		ON PD30.DF_PRS_ID = PD10.DF_PRS_ID
		AND PD30.DC_ADR = 'L'
	INNER JOIN UDW..LN10_LON LN10
		ON LN10.BF_SSN = PD10.DF_PRS_ID
	LEFT JOIN
	( --Exclude any account that received a CRDRV ARC in the past 180 days
		SELECT DISTINCT
			BF_SSN
		FROM
			UDW..AY10_BR_LON_ATY
		WHERE
			PF_REQ_ACT = @ARC
			AND LC_STA_ACTY10 = 'A'
			AND LD_ATY_REQ_RCV >= CAST(GETDATE() - 180 AS DATE)
	) RecentArc
		ON RecentArc.BF_SSN = PD10.DF_PRS_ID
	LEFT JOIN
	( --Get the date of the most recent CRDRV ARC that is older than 180 days old
		SELECT DISTINCT
			AY10.BF_SSN,
			LN_ATY_SEQ,
			MAX(LD_ATY_REQ_RCV) OVER (PARTITION BY BF_SSN) LastReviewDate
		FROM
			UDW..AY10_BR_LON_ATY AY10
		WHERE
			AY10.PF_REQ_ACT = @ARC
			AND AY10.LC_STA_ACTY10 = 'A'
			AND LD_ATY_REQ_RCV < CAST(GETDATE() - 180 AS DATE)
	) AY10 
		ON AY10.BF_SSN = PD10.DF_PRS_ID
	INNER JOIN UDW..LN16_LON_DLQ_HST LN16
		ON LN16.BF_SSN = LN10.BF_SSN
		AND LN16.LN_SEQ = LN10.LN_SEQ
	INNER JOIN UDW..DW01_DW_CLC_CLU DW01
		ON DW01.BF_SSN = LN10.BF_SSN
		AND DW01.LN_SEQ = LN10.LN_SEQ
WHERE
	LN10.LA_CUR_PRI > 0.00
	AND LN10.LC_STA_LON10 = 'R'
	AND LN10.IC_LON_PGM != 'TILP'
	AND LN16.LN_DLQ_MAX + 1 >= 90
	AND LN16.LC_STA_LON16 = 1
	AND DW01.WC_DW_LON_STA NOT IN (6,12,16,17,18,19,20,21)
	AND DW01.WX_OVR_DW_LON_STA != 'CNSLD-STOP PURSUIT'
	AND RecentArc.BF_SSN IS NULL --Make sure to remove any borrower with a CRDRV ARC in the past 180 days
ORDER BY
	DaysDelinquent DESC,
	TotalRemainingBalance DESC