#content .header
{
	font-family: "Papyrus";
	font-size: large;
	font-weight: bold;
	color: #EB6;
}

#content form
{
	display: inline;
}

#content dl
{
	font-family: "Century Gothic";
	color: #635;
}

#content dt
{
	font-size: x-large;
}

#content dd
{
	font-size: large;
}