#content
{
	font-size: large;
}

#content .header
{
	font-family: "Papyrus";
	font-weight: bold;
	color: #EB6;
}

#content form
{
	display: inline;
}

#content .document
{
	font-family: "Century Gothic";
	color: #635;
}
