@{
	ViewBag.Title = "Military Service Deferment";
}

@section Meta {
	<meta name="description" content="The Servicemembers Civil Relief Act (SCRA) is a benefit to those who serve in the Uniformed Services." />
}

<h1>Military Service Deferment</h1>

<p>You can postpone your student loan payments while you're serving on active duty Military Service or National Guard duty, during a war or other military operation or a national emergency and for 180 days after you complete your military service.</p>

<h2>How to Qualify</h2>
<p>You can qualify if you are serving on active duty during a war or other military operation, or national emergency; or if you're performing qualifying National Guard duty during a war or other military operation, or national emergency. Qualifying loan types include Stafford loans, PLUS loans and Consolidation loans.</p>

<h2>How to Apply</h2>
<ol>
	<li>Download the <a href="https://mycornerstoneloan.org/Home/Forms#DefermentForms">Military Service Deferment Request</a>.</li>
	<li>
		Complete and return the form and make sure to include the required documentation. You can include documentation in one of two ways.
		<ul>
			<li>Send a copy of your military orders or written statement from your commanding or personnel officer; or</li>
			<li>Have your commanding or personnel officer certify your military service using section 4 of the deferment form.</li>
		</ul>
	</li>
</ol>

<h2>Other Important Information</h2>
<p>Under this deferment, you're not required to make payments toward principal on your loans and will not be charged interest on your subsidized loans. You <i>will</i> be charged interest on your unsubsidized loans unless you qualify for the interest accrual benefit while you're on active duty.</p>
<p>
	You can qualify for the interest accrual benefit if your loans were disbursed on or after October 1, 2008. No interest will be charged on your Direct Loan program loans or Direct Consolidation loans that repaid Direct or FFEL loans for up to 60 months. You must meet the following criteria to qualify.
</p>
<ul>
	<li>You qualify for the military service deferment AND</li>
	<li>You serve in an area of hostilities in which service qualifies for special pay under <a href="http://www.ssa.gov/OP_Home/comp2/D-USC-37.html">Section 310 Title 37 of the U.S. Code</a>.</li>
</ul>

<div class="alert alert-warning">
	If you have any questions about the Military Service Deferment please call one of our Service Member Solutions Specialists at 1-844-255-8326.
</div>
