@{
	ViewBag.Title = "Post-Active Duty Student Deferment";
}

@section Meta {
	<meta name="description" content="The Servicemembers Civil Relief Act (SCRA) is a benefit to those who serve in the Uniformed Services." />
}

<h1>Post-Active Duty Student Deferment</h1>

<p>This deferment is for borrowers who were enrolled in school or within six months of leaving school when called into military service and have completed their military service.</p>
<p>You can receive this deferment for up to 13 months after you complete your military service or until you enroll in school on at least a half-time basis.</p>

<h2>How to Qualify</h2>
<p>You can qualify if you were called to active duty and <strong>ALL</strong> of the following apply.</p>
<ul>
	<li>You are a member of the National Guard or Armed Forces Reserve including a member in retired status when activated.</li>
	<li>Your service includes a period on or after October 1, 2007.</li>
	<li>You were enrolled in a qualifying school on at least a half-time basis at the time of, or within six months prior to being called or ordered to active service.</li>
</ul>
<h2>How to Apply</h2>
<ol>
	<li>Download the <a href="https://mycornerstoneloan.org/Home/Forms#DefermentForms">Post-Active Duty Student Deferment Request</a>.</li>
	<li>
		Complete and return the form and make sure to include the required documentation. You can include documentation in one of two ways.
		<ul>
			<li>Send a copy of your military orders or written statement from your commanding or personnel officer; or</li>
			<li>Have your commanding or personnel officer certify your military service using section 4 of the deferment form.</li>
		</ul>
	</li>
</ol>

<div class="alert alert-warning">
	If you have any questions about the Post-Active Duty Student Deferment please call one of our Service Member Solutions Specialists at <a href="tel:1-844-255-8326">1-844-255-8326</a>.
</div>
