@{
	ViewBag.Title = "Service Member Resources";
}

@section Meta {
	<meta name="description" content="The Servicemembers Civil Relief Act (SCRA) is a benefit to those who serve in the Uniformed Services." />
}

<h1>Service Member Resources</h1>

<p>
	We appreciate the sacrifices you make for us and we are dedicated to provide you with the benefits you deserve. The following is a list of benefits you may be eligible for. If you have any questions or would like assistance in any way, please call one of our Service Member Solutions Specialists at (844) 255-8326.
</p>

<div class="panel panel-default">
	<div class="panel-heading">
		Benefits for Members of the Armed Services
	</div>
	<table class="table" title="Benefits for Members of the Armed Services">
		<tr>
			<th scope="col">Resource</th>
			<th scope="col">Description</th>
		</tr>
		<tr>
			<td>
				<strong><a href="http://studentaid.ed.gov/" rel="external" target="_blank">Federal Student Aid</a></strong>
				<br />
				1-800-4-FED-AID
			</td>
			<td>Learn more about repayment plans, deferment and forbearance, and other options to help you repay your federal student loans.</td>
		</tr>
		<tr>
			<td>
				<strong>
					<a href="https://nsldsFAP.ed.gov" rel="external" target="_blank">National Student Loan Data System (NSLDS)</a>
				</strong>
			</td>
			<td>Find out who services your federal loans with the comprehensive NSLDS database.</td>
		</tr>
		<tr>
			<td>
				<strong>
					<a href="http://www.militaryonesource.mil" rel="external" target="_blank">DOD Student Loan Repayment Program</a>
				</strong>
			</td>
			<td>Information and resources for student loan repayment in various service branches.</td>
		</tr>
		<tr>
			<td>
				<strong><a href="https://scra.dmdc.osd.mil/scra/#/home" rel="external" target="_blank">Service Civil Relief Act (SCRA)</a></strong>
			</td>
			<td>More information about the benefits available through the SCRA.</td>
		</tr>
		<tr>
			<td>
				<strong><a href="http://www.equifax.com/home/en_us" rel="external" target="_blank">Equifax</a></strong><br />
				<strong><a href="http://www.experian.com/" rel="external" target="_blank">Experian</a></strong><br />
				<strong><a href="http://www.transunion.com/" rel="external" target="_blank">TransUnion</a></strong>
			</td>
			<td>Nationwide consumer reporting agencies where you can place an active duty alert on your credit reprt. Search for "active duty alert" in the website searchbox for more information</td>
		</tr>
		<tr>
			<td>
				<strong>
					<a href="https://www.disabilitydischarge.com/" rel="external" target="_blank">Veterans Disability Discharge Program</a>
				</strong>
			</td>
			<td>More information about loan discharge for disabled veterans.</td>
		</tr>
	</table>
</div>
