@{
	ViewBag.Title = "Servicemembers Civil Relief Act (SCRA)";
}

@section Meta {
	<meta name="description" content="The Servicemembers Civil Relief Act (SCRA) is a benefit to those who serve in the Uniformed Services." />
}

<h1>Servicemembers Civil Relief Act (SCRA)</h1>

<div class="alert alert-warning">
	The SCRA offers protections for service members and their families in many areas, including student loans. Through the SCRA, your interest rate can be lowered to 6&#37; if your current interest rate is more than 6&#37;.
</div>

<h2>If you meet the following criteria you can qualify for the interest rate benefit.</h2>
<ul>
	<li>
		You must be an active duty member of the Uniformed Services
		<ul>
			<li>Army</li>
			<li>Navy</li>
			<li>Air Force</li>
			<li>Marines</li>
			<li>Coast Guard</li>
			<li>National Guard (You must be on active duty for more than 30 consecutive days responding to a national emergency declared by the President and supported by federal funds.)</li>
			<li>Commissioned Officer of the Public Health Service</li>
			<li>Commissioned Officer of the National Oceanic and Atmospheric Administration (NOAA)</li>
			<li>A U.S. citizen serving with a U.S. ally force in the prosecution of war or military access</li>
		</ul>
	</li>
	<li>Your loans must have been disbursed before the date you were called to military service.</li>
	<li>You must make your request within 180 days of your last day of military service.</li>
</ul>
<p>You can request the interest benefit by submitting a request to us with documentation that shows the effective dates of your service. Documentation includes your military ID, military orders or a letter from your commanding officer. Please send your request to one of the following addresses.<br /></p>
<h3>Mail:</h3>
<address style="margin-left: 40px; font-size: 14.5px;">
	<strong>CornerStone</strong><br />
	PO Box 145122<br />
	Salt Lake City, UT <br />
	84114-5122
</address>

<h3>Walk-In:</h3>
<address style="margin-left: 40px;font-size: 14.5px;">
	<strong>Board of Regents Building, The Gateway</strong><br />
	60 South 400 West<br />
	Salt Lake City, UT<br />
	84101-1284<br />
</address>

<h3>Other:</h3>
<p>
	E-Mail: <a href="mailto:ServiceMembers@mycornerstoneloan.org">Servicemembers@mycornerstoneloan.org</a><br />
	Toll-Free Phone:  <strong>(844) 255-8326</strong><br />
	Fax: <strong>(801) 366-8400</strong>
</p>
