<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SessionTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <SessionTester.Properties.Settings>
            <setting name="AutoStartSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PurgeDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CornerStoneUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="CornerStonePassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="UheaaUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="UheaaPassword" serializeAs="String">
                <value/>
            </setting>
        </SessionTester.Properties.Settings>
    </userSettings>
</configuration>
