<h3><a href="@Url.Content("~/forms/Publications/GradPlan_Brochure.pdf")" target="_blank">Click here to download the handout.</a></h3>

<h3>Details of the Plan</h3>
<p>
	On the Graduated Repayment plan, you pay a small monthly amount (typically, interest
	only) at the beginning of the repayment period. Your payment will increase gradually
	over the life of your loans. The amount of interest you pay over the life of the
	loan is higher with this option than with the Standard Repayment option.
</p>
<h3>Loan Types</h3>
<ul>
	<li>Stafford Subsidized</li>
	<li>Stafford Unsubsidized</li>
	<li>Consolidation</li>
	<li>Graduate PLUS</li>
	<li>Parent PLUS</li>
	<li>PLUS Consolidation</li>
</ul>

<h3>Payments</h3>
<p>
	If your loan was disbursed on or after July 1, 2006, your minimum monthly payment
	is monthly accrued interest. If your loan was disbursed before July 1, 2006, your
	minimum monthly payment is the greater of your monthly accrued interest or 50% of
	your standard payment amount. Your monthly payment will increase every two years
	during the repayment term. Although your payment will increase, no payment will
	be more than three times any other payment.
</p>
<h3>Repayment Terms</h3>
<p>
	If your loan was disbursed before July 1, 2006, your maximum repayment term is 12
	- 30 years and is determined by your loan balance when you entered repayment and
	your loan type. If your loan was disbursed on or after July 1, 2006, the repayment
	term can be 10 - 30 years based on your loan balance when you entered repayment
	and loan type.
</p>
<h3>How to Apply</h3>
<p>
	Complete the <a href="https://mycornerstoneloan.org/Home/Forms#PaymentForms" target="_blank" id="linkRepaymentForm">Repayment Plan Selection Form</a> and return it to CornerStone.
</p>