<h3><a href="@Url.Content("~/forms/Publications/ICRPlan_Brochure.pdf")" target="_blank">Click here to download the handout.</a></h3>

<h3>Details of the Plan</h3>
<p>
	The Income-Contingent Repayment (ICR) plan is designed to make repayment easier
	by basing your monthly payment on your income and student-loan debt. This repayment
	plan is intended to help students who pursue careers with lower salaries, including
	careers in public service. Because your income and family size can change from year-to-year,
	you have to provide your income and family size each year.
</p>

<h3>Loan Types</h3>
<ul>
	<li>Stafford Subsidized</li>
	<li>Stafford Unsubsidized</li>
	<li>Consolidation</li>
	<li>Graduate PLUS</li>
</ul>

<h3>Payments</h3>
<p>
	Your monthly payment is based on your adjusted gross income (AGI), family size and
	loan balance upon entering repayment. Your monthly payment will be the lesser of
	the following calculations.
</p>
<ol>
	<li>
		The monthly payment amount calculated on a Standard Repayment plan with a 12-year
		term multiplied by an income percentage factor corresponding to your AGI.
	</li>
	<li>
		20% of your monthly discretionary income (your AGI minus the poverty level for your
		state and family size).
	</li>
</ol>
<p>
	If your calculated payment is $0 or less, your payment will be $0. If your calculated
	payment is greater than $0 and less than or equal to $5, your payment will be $5.
	If your calculated payment is more than $5, your monthly payment will be the calculated
	amount.
</p>

<h3>Repayment Terms</h3>
<p>
	The maximum repayment term is 25 years. If your loans are not repaid after 25 years, the remaining balance will be forgiven.
</p>

<h3>How to Apply</h3>
<p>
	Complete the <a href="https://mycornerstoneloan.org/Home/Forms#PaymentForms" target="_blank">Income-Driven Repayment Plan Request Form</a> and return it to CornerStone.
	You are required to provide documentation of your income. You may include either
	one of the following with your Income-Driven Repayment Plan Request Form.
</p>
<ul style="list-style-type: disc; padding-left: 20px;">
	<li>
		A copy of your most recent federal tax return or authorization for the IRS to provide
		your income information to the Department of Education.
	</li>
	<li>
		Documentation of your current income (for example, pay stubs) if the AGI reported
		on your most recently filed tax return does not reflect your current income.
	</li>
</ul>

<h3>Other Information</h3>
<p>
	If your calculated payment amount is less than the interest that accrues each month,
	the unpaid interest will be added to the principal balance of your loan each year
	until the principal balance is 10% higher than the balance of the loan at the time
	you entered repayment. Once the principal balance has reached the 10% limit, interest
	will continue to accrue but will not be added to the principal balance.
</p>