<h3><a href="@Url.Content("~/forms/Publications/PAYEPlan_Brochure.pdf")" target="_blank">Click here to download the handout.</a></h3>

<h3>Details of the Plan</h3>
<p>
	The Pay As You Earn repayment plan was designed to limit your monthly payment to
	an affordable amount based on your income and family size.
</p>

<h3>Loan Types</h3>
<h4>Direct Loans</h4>
<ul>
	<li>Stafford Subsidized</li>
	<li>Stafford Unsubsidized</li>
	<li>Consolidation</li>
	<li>Graduate PLUS</li>
</ul>

<h3>Payments</h3>
<ul>
	<li>
		In order to qualify for Pay As You Earn, you must be experiencing a partial financial
		hardship. A partial financial hardship means that the annual payments on a Standard
		Repayment plan exceed 10% of the difference between your AGI and 150% of the poverty
		level for your state and family size.
	</li>
	<li>
		Another qualification is that you had no outstanding Direct Loan or FFELP loan balance
		before October 1, 2007 and you must have a Direct Loan disbursement on or after
		October 1, 2011.
	</li>
	<li>
		You must reapply each year and your monthly payment amount may be adjusted based
		on changes to your income, family size or the poverty level for your state.
	</li>
</ul>

<h3>Repayment Terms</h3>
<p>
	The maximum repayment term is 20 years. If your loans are not repaid after 20 years,
	the remaining balance will be forgiven.
</p>
	

<h3>How to Apply</h3>
<p>
	Complete the <a href="https://mycornerstoneloan.org/Home/Forms#PaymentForms" target="_blank">Income-Driven Repayment Plan Request Form</a> and return it to CornerStone.
	Or sign into <a href="https://studentloans.gov/myDirectLoan/index.action" rel="external" target="_blank">StudentLoans.gov</a> to apply online. You are required to provide
	documentation of your income. You may include either one of the following with your Income-Driven Repayment Plan Request Form.
</p>
<ul style="list-style-type: disc; padding-left: 20px;">
	<li>
		A copy of your most recent federal tax return or authorization for the IRS to provide
		your income information to the Department of Education.
	</li>
	<li>
		Documentation of your current income (for example, pay stubs) if the AGI reported
		on your most recently filed tax return does not reflect your current income.
	</li>
</ul>

<h3>Other Information</h3>
<p>
	If the calculated payment is less than the interest that accrues each month on subsidized
	loans or the subsidized portion of a Consolidation loan, you will not be charged
	the unpaid interest on those loans for three years from when you begin repayment
	under the Pay As You Earn repayment plan, excluding periods of Economic Hardship
	Deferment.
</p>
