@{
	ViewBag.Title = "AutoPay";
}

@section Meta {
	<meta name="description" content="CornerStone's Automatic Payment service is an easy way to repay your loans and earn an interest rate reduction." />
}

<h1>Automatic Payments</h1>

<p>Enroll in automatic payments to simplify the repayment of your student loans!</p>

<h2>Benefits of Automatic Payments</h2>
<ul>
	<li>You will save money! When you’re in an active repayment status and enrolled in Autopay, you will qualify for a 0.25% interest rate reduction.
    <li>You’ll never miss a payment again! Automatic payments are the most convenient way to make payments on your student loans.
    <li>Automatic payments make budgeting easy! Your monthly payment will be drawn on the same day each month, allowing you to manage your finances with ease.
    <li>You can pay off your student loans sooner! Automatic payments gives you the option of allotting an additional amount of money towards your loans each month, allowing you to pay down your loans faster.
    <li>Signing up for automatic payments is free!
</ul>

<h2>How to Apply for Automatic Payments</h2>
<p>You can quickly sign-up for automatic payments directly through <a href="https://myaccount.mycornerstoneloan.org/authentication/" title="CornerStone Account Login">your online account.</a> When applying for automatic payments, you will need to be prepared to provide your individual banking information. </p>
<ol>
	<li>Sign into <a href="https://myaccount.mycornerstoneloan.org/authentication/" title="CornerStone Account Login">your online account.</a>
	<li>Click the Payments and Billing tab
    <li>Select Automatic Payments
    <li>Follow the instructions under Sign Up for Autopay
</ol>
<p>Please be advised, if your due date falls within three business of signing up for automatic payments, you will be required to make a manual payment to cover that months bill and your automatic payments will begin withdrawing on the following due date.</p>
<hr />

<h2 id="faqHome">Automatic Payment FAQ</h2>

<ul>
	<li>
		<h4 class="question">How do automatic payments work?</h4>
		<p class="answer">
            Once you’re enrolled in Autopay, your monthly minimum will be deducted from the specified bank account on your monthly due date. No manual payments are required!
		</p>
	</li>
	<li>
		<h4 class="question">How much notice do I have to give to stop an automatic payment from being withdrawn?</h4>
		<p class="answer">
            You must allow at-least three business days prior to your payment due date in order to stop an automatic payment from being drawn.
            <br /><br />
            For due dates that fall on a weekend, we must still receive notification three business days beforehand in order to successfully cancel the payment.
		</p>
	</li>
	<li>
		<h4 class="question">Can I pay more than my monthly minimum? </h4>
		<p class="answer">
            Absolutely! You can specify an additional amount to be withdrawn when filling out the form.  Please be aware that the additional amount will be withdrawn every month. If you’re looking to just make an additional one-time payment, we recommend scheduling a manual payment for the extra amount you’d like to pay that month. 
		</p>
	</li>
	<li>
		<h4 class="question">How does the 0.25% interest rate reduction work?</h4>
		<p class="answer">
            When you’re enrolled in Autopay and your account is in an active repayment status, you will receive a 0.25% interest rate reduction on all of your loans. This could save you hundreds, even thousands over the life of the loan!
            <br /><br />
            Please be advised, during any postponement period, including forbearance and deferment time, the reduction will be suspended. However, once the postponement ends, it will be reinstated.
		</p>
	</li>
	<li>
		<h4 class="question">When is my automatic payment withdrawn if my due date falls on a weekend or holiday?</h4>
		<p class="answer">
            Your payment will be withdrawn on the next business day, but will always be posted to our system as of the due date in order to keep your account current. Your payment will <b>never</b> be drawn before your due date.
		</p>
	</li>
    <li>
        <h4 class="question">How do I know if I’ve already signed up for automatic payments?</h4>
        <p class="answer">
            Log into your <a href="https://myaccount.mycornerstoneloan.org/authentication/" title="CornerStone Account Login">online account</a> and select “Payments and Billing” on the left-hand side, and then select “Automatic Payments.” If you’re already signed up for automatic payments, it will list your account and payment information. If you have not signed up, it will allow you to enter your banking information.
        </p>
    </li>
    <li>
        <h4 class="question">How do I stop an automatic payment from being drawn if my due date is less than three business days away?</h4>
        <p class="answer">
            Unfortunately, the electronic withdrawal process prevents us from altering or canceling automatic payments within three business days of the payment due date. If you need to cancel a payment after this time has passed, we encourage you to contact your bank and request a one-time stop payment.
        </p>
    </li>
    <li>
        <h4 class="question">When should l expect my automatic payments to take effect once I’ve applied?</h4>
        <p class="answer">
            Your online request will be processed automatically; however, if you’ve already been billed for the current month, your automatic payments will not begin withdrawing until your next due date. Generally, bills are sent out 21 days prior to your due date. If you’ve already received your bill, please make a manual payment to cover your outstanding bill. Once your enrolled in Autopay, your online portal will display your upcoming direct debit date, and the amount to be withdrawn within the Account Summary page.
        </p>
    </li>
    <li>
        <h4 class="question">How can I make changes to my automatic payments?</h4>
        <p class="answer">
            If you need to change your current banking information, you will need to reapply with your updated information.
            <br /><br />
            If you’re looking to adjust the additional amount being withdrawn each month, or cancel your Autopay, give one of our Loan Specialists a call today!
        </p>
    </li>
</ul>