@{
	ViewBag.Title = "Loan Payoff";
}

@section Meta {
	<meta name="description" content="Paying off your student loans is a great accomplishment. Contact CornerStone to get your payoff amount and to make arrangements to complete your payments." />
}

<h1>Loan Payoff</h1>

<img src="@Url.Content("~/images/woman-dancing.png")" alt="Woman Dancing" title="Woman Dancing" class="img-responsive" style="float:right;" />

<div>
	<h2>How to Pay Off Your Loans</h2>
	<ul>
		<li>Online</li>
		<li>Check-by-phone</li>
		<li>Check or money order</li>
	</ul>
</div>

<div>
	<h3>Pay Off Your Loan Online</h3>
	<ol>
		<li>Click "Loan Payoff" under Payments & Billing,</li>
		<li>Select the loans you want to pay off and the date you want to pay them off then click "Request a Payoff Amount"</li>
		<li>Enter your payoff information</li>
		<li>Click "Make a Payoff Payment"</li>
		<li><em>(Optional)</em> Have a five-minute dance party because your loans are paid off!</li>
	</ol>
</div>

<div>
	<h3>Pay Off Your Loan Via Check-by-Phone</h3>
	<p>
		You can also make a payoff free-of-charge over the phone by calling CornerStone toll free (1-800-663-1662) M - Th 6 AM - 7 PM or F 6 AM - 5 PM Mountain Time.
	</p>
</div>

<div>
	<h3>Pay Off Your Loan via Check or Money Order</h3>
	<p>
		If you are going to make your payoff using a check or money order, please contact
		CornerStone at 1-800-663-1662 to discuss your payoff amount. Interest accrues daily
		on your student loan account, so you will need to make arrangements to pay all of
		your interest and principal balance.
	</p>

	<p>Send the payment to the following address:</p>

	<address>
		<strong>U.S. Department of Education</strong><br />
		CornerStone Education Loan Services<br />
		P.O. Box 105189<br />
		Atlanta, GA 30348-5189.
	</address>
</div>
