<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OPSWebEntry.TempCache" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OPSWebEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OPSWebEntry.TempCache>
            <setting name="SerializedPayment" serializeAs="String">
                <value />
            </setting>
        </OPSWebEntry.TempCache>
        <OPSWebEntry.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="TrayNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayMinimize" serializeAs="String">
                <value>True</value>
            </setting>
        </OPSWebEntry.Properties.Settings>
    </userSettings>
</configuration>
