<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<runtime>
			<assemblyBinding xmlns="urn:schemas=microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="Uheaa.Common" culture="neutral" />
					<codeBase version="1.0.0.0" href="file://c:/users/evan/desktop/Uheaa.Common.dll"/>
				</dependentAssembly>
			</assemblyBinding>
		</runtime>
</configuration>