
@{
    ViewBag.Title = "CreateSuccess";
}

<body>
    <div class="body-content-margins">
        <h2>User successfully created.</h2><br />

        <div>
            @Html.ActionLink("Back to Manage Users", "ManageUsers")
        </div>
    </div>
</body>
