@{
	ViewBag.Title = "Plan";
}

<h1>Plan Your Communications</h1>

<img src="@Url.Content("~/images/schoolcommsplan.png")" alt="Plan to communicate with your student borrowers." class="img-responsive" title="Plan, Communicate, Track" style="padding-left: 125px;" />

<h2>Introduction</h2>
<p>
	How do you plan to communicate with your students? As we all know they can be difficult
	to keep track of especially after they leave school. With the rules about making
	sure to keep default and delinquency rates low it is extremely important to have
	an effective plan to communicate with them.
</p>
<p>
	Before we start talking about how they prefer to be contacted, we need to look at
	a few strategies to make this important job easier to manage. Unfortunately no one-size-fits-all
	appeal works in every situation, however, there is a selection of things you can
	try that have proven effective in many situations.
</p>

<h2>Prioritize</h2>
<p>
	First, decide how much time and energy you can spare for these efforts. Take a look
	at your recent cohort default rates and delinquency numbers to get started. If your
	numbers are high, you may need to make a greater effort to reach out to at-risk
	students. If your numbers are consistently low you may not have to spend as much
	time. And remember, you can always rely on CornerStone to help you.
</p>

<h2>Segment</h2>
<img style="margin-left: 10px; padding-right: 5px; float: right; border: none; cursor: pointer;" src="@Url.Content("~/images/segmentation.png")"
			alt="When segmenting your student borrowers your segments should be measurable, accessible, different, durable and substantial."
			title="Segmenting your student borrowers." />
<p>
	Second, segment your student borrower population into intuitive groups to help you
	manage them better. We have found that it helps to separate them by their level
	of delinquency first. You can create "buckets" of borrowers that have the same range
	of delinquency. From there, it's up to you to further segment them into logical
	groups, for example, you may want to group them by major or by loan balance or even
	by geographic area. These smaller groups will help you target the borrowers that
	need the most counseling. The added bonus of segmenting your student borrower population
	is that it makes it easier to track your progress and what strategies work with
	which populations.
</p>

<h2>Use Your Knowledge</h2>
<p>
	It's time to start contacting your student borrowers. When communicating here are
	a few things to keep in mind.
</p>
<ul>
	<li>Do you know what their preferred method of communication is?</li>
	<li>Can they afford to make a payment</li>
	<li>Have they talked to their student loan servicers?</li>
	<li>Does your school and financial aid office have a social media presence?</li>
	<li>What are the messages you would like to share with your student borrowers?</li>
	<li>Will Your message be different depending on delinquency, major, loan balance, etc.?</li>
</ul>
