@{
	ViewBag.Title = "How Are Payments Applied?";
}

@section Meta {
	<meta name="description" content="CornerStone offers many ways to make your payments including automatic payments, online payments, free phone payments and payments through the mail." />
}

<h2>How Are Payments Applied?</h2>
<p>
Payments are typically applied first to fees (if applicable), then to outstanding accrued interest, and then to the principal balance. 
However, payments made under an Income-Based Repayment plan are applied first to outstanding accrued interest, then to fees (if applicable), 
and then to the principal balance.
</p>