@{
	ViewBag.Title = "Pay As You Earn Repayment";
}

@section Meta {
	<meta name="description" content="Pay As You Earn repayment is another repayment plan that makes it easier to repay your student loans." />
}

<h1>Pay As You Earn Repayment</h1>

<h2>What is Pay As You Earn Repayment?</h2>
<p>Pay As You Earn repayment is a student loan repayment plan for student loan borrowers who had no outstanding federal (Direct Loan or FFEL) student loan balance as of October 1, 2007 and who had a loan disbursed on or after October 1, 2011. The monthly payment on this plan is based on your income.</p>

<h2>How do I qualify for Pay As You Earn Repayment?</h2>
<p>You have to qualify for a <strong>partial financial hardship</strong>. That is, your monthly payment on the Standard Repayment Plan is higher than the amount you have to pay under Pay As You Earn. Visit <a href="http://studentaid.ed.gov/repay-loans/understand/plans/pay-as-you-earn/calculator" rel="external" target="_blank">http://studentaid.ed.gov</a> and find out if you may qualify for Pay As You Earn Repayment.</p>

<h2>What types of loans are eligible to be repaid under Pay As You Earn Repayment?</h2>
<p>Only Federal Direct Loans can be repaid through Pay As You Earn, although your FFELP loans can be taken into account to determine whether you qualify for partial financial hardship.</p>

<p>The following Direct Loans are eligible to be repaid through Pay As You Earn.</p>
<ul>
	<li>
		Direct Subsidized Loans
	</li>
	<li>
		Direct Unsubsidized Loans
	</li>
	<li>
		Direct PLUS Loans for graduate or professional students
	</li>
	<li>
		Direct Consolidation Loans without underlying Parent PLUS Loans
	</li>
</ul>
<h2>How is my payment calculated under Pay As You Earn?</h2>
<p>The formula for monthly payments under this plan is 10% of the difference between your adjusted gross income (AGI) and 150% of the poverty guideline for your family size and where you live.</p>
<p>Your payment will be adjusted each year based on changes to your income and family size. Your payments are always less than the 10-year monthly payment under the Standard Repayment plan and are usually less than your payment under other repayment plans. The repayment period for Pay As You Earn Repayment is 20 years, after which your remaining balance will be forgiven.</p>
<h2>What else do I need to know about Pay As You Earn Repayment?</h2>
<ul>
	<li>The government will pay any unpaid accrued interest on your Direct Subsidized Loans for up to three consecutive years from the date you start paying under Pay As You Earn.</li>
	<li>If your payment doesn't cover your monthly interest, the interest will not be capitalized while you have a partial financial hardship.</li>
	<li>If you work full-time in a public service organization, you may qualify for Public Service Loan Forgiveness after you make 120 on-time, full payments under Pay As You Earn.</li>
	<li>Because your payment will be lower under Pay As You Earn, you may pay more interest over the life of your loan.</li>
	<li>If you qualify for forgiveness after 20 years you may have to pay taxes on the amount that is forgiven.</li>
</ul>
<h2>How do I apply for Pay As You Earn Repayment?</h2>
<p>The easiest way to apply for Pay As You Earn is to complete the electronic version of the form at <a href="https://studentloans.gov/myDirectLoan/index.action" rel="external" target="_blank" onclick="trackOutboundLink(this, 'Outbound Links', 'studentloans.gov'); return false;">StudentLoans.gov</a>. Some of the benefits of completing the application online are you can submit your application faster, you may be able to link to the IRS to enter your income (you may be able to complete the application without leaving the website), and the online application guides you through the application to make it easier to use.</p>

<p>Or you can fill out the <a href="https://mycornerstoneloan.org/Home/Forms#PaymentForms">Income-Driven Repayment Plan Request Form</a> and return it to your servicer.</p>

<p>If you have any questions about Pay As You Earn, please contact CornerStone.</p>
