CREATE PROCEDURE [achrevfed].[AchReviewAddWork]
AS

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	IF OBJECT_ID('tempdb..#POP') IS NOT NULL 
		DROP TABLE #POP

	IF OBJECT_ID('tempdb..#POP_R2') IS NOT NULL 
		DROP TABLE #POP_R2

	IF OBJECT_ID('tempdb..#POP_R3') IS NOT NULL 
		DROP TABLE #POP_R3

	IF OBJECT_ID('tempdb..#POP_R4') IS NOT NULL 
		DROP TABLE #POP_R4

	SELECT DISTINCT
		PD10.DF_SPE_ACC_ID,
		PD10.DF_PRS_ID,
		PD10.DM_PRS_1,
		PD10.DM_PRS_LST,
		RM30.LC_RMT_REV_REA_REJ,
		LN90.LD_FAT_EFF,
		REV1.DATECOUNT AS ConsecNSF,
		LN10.LN_SEQ
	INTO 
		#POP
	FROM
		CDW..PD10_PRS_NME PD10
		INNER JOIN CDW..BR30_BR_EFT BR30
			ON BR30.BF_SSN = PD10.DF_PRS_ID
		INNER JOIN CDW..LN83_EFT_TO_LON LN83
			ON LN83.BF_SSN = BR30.BF_SSN
			AND LN83.BN_EFT_SEQ = BR30.BN_EFT_SEQ
			AND LN83.LC_STA_LN83 IN ('A','D')
		INNER JOIN CDW..LN10_LON LN10
			ON LN10.BF_SSN = LN83.BF_SSN
			AND LN10.LN_SEQ = LN83.LN_SEQ
		INNER JOIN CDW..LN90_FIN_ATY LN90
			ON LN90.BF_SSN = LN10.BF_SSN
			AND LN90.LN_SEQ = LN10.LN_SEQ
		INNER JOIN 
		(
			SELECT
				BF_SSN,
				LN_SEQ,
				MAX(LD_FAT_EFF) OVER(PARTITION BY BF_SSN, LN_SEQ) AS PaymentDate
			FROM
				CDW..LN90_FIN_ATY
			WHERE
				LC_STA_LON90 = 'A'
				AND PC_FAT_TYP = '10'
				AND PC_FAT_SUB_TYP = '10'
		) LastPayment
			ON LastPayment.BF_SSN = LN90.BF_SSN
			AND LastPayment.LN_SEQ = LN90.LN_SEQ
			AND LastPayment.PaymentDate = LN90.LD_FAT_EFF
			AND LN90.LC_FAT_REV_REA ='1' --Make sure the most recent 10 10 was indeed a reversal (excludes borrowers who's most recent payment worked)
		INNER JOIN CDW..LN94_LON_PAY_FAT LN94
			ON LN94.BF_SSN = LN90.BF_SSN
			AND LN94.LN_SEQ = LN90.LN_SEQ
			AND LN94.LN_FAT_SEQ = LN90.LN_FAT_SEQ
		INNER JOIN CDW..RM30_BR_RMT RM30
			ON RM30.LD_RMT_BCH_INI = LN94.LD_RMT_BCH_INI
			AND RM30.LC_RMT_BCH_SRC_IPT = LN94.LC_RMT_BCH_SRC_IPT
			AND RM30.LN_RMT_BCH_SEQ = LN94.LN_RMT_BCH_SEQ
			AND RM30.LN_RMT_SEQ = LN94.LN_RMT_SEQ
			AND RM30.LN_RMT_ITM = LN94.LN_RMT_ITM
			AND RM30.LN_RMT_ITM_SEQ = LN94.LN_RMT_ITM_SEQ
		LEFT JOIN /*GETS ALL INSTANCES OF REVERSED PAYMENTS*/
		(
			SELECT
				a.BF_SSN,
				a.LN_SEQ, 
				COUNT(1) DATECOUNT
			FROM 
			(
				SELECT
					LN90.BF_SSN,
					LN90.LN_SEQ,
					LN90.LD_FAT_EFF,
					LAG(LN90.LD_FAT_EFF, 1) OVER (PARTITION BY LN90.BF_SSN, LN90.LN_SEQ ORDER BY LN90.LD_FAT_EFF) PrevDate,
					LAG(LN90.LD_FAT_EFF, 2) OVER (PARTITION BY LN90.BF_SSN, LN90.LN_SEQ ORDER BY LN90.LD_FAT_EFF) BeforePrevDate
				FROM 
					CDW..LN90_FIN_ATY LN90
					INNER JOIN CDW..LN94_LON_PAY_FAT LN94
						ON LN94.BF_SSN = LN90.BF_SSN
						AND LN94.LN_SEQ = LN90.LN_SEQ
						AND LN94.LN_FAT_SEQ = LN90.LN_FAT_SEQ
					INNER JOIN CDW..BR30_BR_EFT BR30
						ON BR30.BF_SSN = LN90.BF_SSN
						AND BR30.BC_EFT_STA = 'A'
					INNER JOIN CDW..LN83_EFT_TO_LON LN83
						ON LN83.BF_SSN = BR30.BF_SSN
						AND LN83.BN_EFT_SEQ = BR30.BN_EFT_SEQ
						AND LN83.LC_STA_LN83 IN ('A','D')
						AND LN83.LN_SEQ = LN90.LN_SEQ
					INNER JOIN CDW..RM30_BR_RMT RM30
						ON RM30.LD_RMT_BCH_INI = LN94.LD_RMT_BCH_INI
						AND RM30.LC_RMT_BCH_SRC_IPT = LN94.LC_RMT_BCH_SRC_IPT
						AND RM30.LN_RMT_BCH_SEQ = LN94.LN_RMT_BCH_SEQ
						AND RM30.LN_RMT_SEQ = LN94.LN_RMT_SEQ
						AND RM30.LN_RMT_ITM = LN94.LN_RMT_ITM
						AND RM30.LN_RMT_ITM_SEQ = LN94.LN_RMT_ITM_SEQ
						AND RM30.LC_RMT_STA  = 'A'
						--AND RM30.LC_RMT_REV_REA_REJ NOT IN ('02','03','04','05')
						AND RM30.LC_RMT_BCH_IPT_REV = 'E'
					LEFT JOIN
					(
						SELECT
							BF_SSN,
							COALESCE(MAX(LD_ATY_REQ_RCV), '01/01/1960') AS LD_ATY_REQ_RCV
						FROM
							CDW..AY10_BR_LON_ATY
						WHERE
							PF_REQ_ACT = 'RMACH'
							AND LC_STA_ACTY10 = 'A'
						GROUP BY
							BF_SSN
					) AY10
						ON AY10.BF_SSN = LN90.BF_SSN
				WHERE 
					LN90.LD_FAT_EFF > COALESCE(AY10.LD_ATY_REQ_RCV, '01/01/1960')
					AND LN90.PC_FAT_TYP = '10' 
					AND LN90.PC_FAT_SUB_TYP = '10'
					AND LN90.LC_FAT_REV_REA = '1' --Reversed
					AND LN90.LC_STA_LON90 ='A'
					AND LN90.LD_FAT_EFF BETWEEN LN83.LD_EFT_EFF_BEG AND COALESCE(LN83.LD_EFT_EFF_END, CAST(GETDATE() AS DATE))
					AND LN90.LD_FAT_EFF BETWEEN CAST(DATEADD(MONTH,-6,GETDATE()) AS DATE) AND CAST(GETDATE() AS DATE) --make sure this occured in the last 6 months
			) a
			LEFT JOIN CDW..LN90_FIN_ATY LN90Between
				ON LN90Between.BF_SSN = a.BF_SSN
				AND LN90Between.LN_SEQ = a.LN_SEQ
				AND LN90Between.LC_STA_LON90 = 'A'
				AND LN90Between.PC_FAT_TYP = '10'
				AND LN90Between.PC_FAT_SUB_TYP = '10'
				AND LN90Between.LC_FAT_REV_REA = '' --non reversed 1010 payment within triple nsf window
				AND LN90Between.LD_FAT_EFF BETWEEN a.BeforePrevDate AND a.LD_FAT_EFF
			WHERE 
				(
					(
						DATEADD(DAY, -33, a.LD_FAT_EFF) <= a.PrevDate 
						AND DATEADD(DAY, -27, a.LD_FAT_EFF) >= a.PrevDate
						AND DATEADD(DAY, -33, a.PrevDate) <= a.BeforePrevDate
						AND DATEADD(DAY, -27, a.PrevDate) >= a.BeforePrevDate
					)
					OR
					(
						DATEADD(DAY, -33, a.LD_FAT_EFF) <= a.PrevDate 
						AND DATEADD(DAY, -27, a.LD_FAT_EFF) >= a.PrevDate
						AND a.BeforePrevDate IS NULL
					)
					OR
					(
						a.PrevDate IS NULL
						AND a.BeforePrevDate IS NULL
					)
				)
				--DATEDIFF(DAY, a.PrevDate, a.LD_FAT_EFF) BETWEEN 27 AND 33 AND DATEDIFF(DAY, a.BeforePrevDate, a.PrevDate) BETWEEN 27 AND 33
				AND a.LD_FAT_EFF BETWEEN CAST(DATEADD(MONTH,-6,GETDATE()) AS DATE) AND CAST(GETDATE() AS DATE) --make sure this occured in the last 6 months
				AND LN90Between.BF_SSN IS NULL --didnt have a good payment within the window of bad ones
			GROUP BY
				a.BF_SSN,
				a.LN_SEQ
		) REV1
			ON LN10.BF_SSN = REV1.BF_SSN
			AND LN10.LN_SEQ = REV1.LN_SEQ
	WHERE
		LN10.LA_CUR_PRI > 0
		AND LN10.LC_STA_LON10 = 'R'
		AND BR30.BC_EFT_STA = 'A'
		AND (LN90.PC_FAT_TYP = '10' AND LN90.PC_FAT_SUB_TYP = '10')
		AND LN90.LC_FAT_REV_REA = '1'
		AND RM30.LC_RMT_STA  = 'A'
		AND LN90.LD_FAT_EFF BETWEEN LN83.LD_EFT_EFF_BEG AND COALESCE(LN83.LD_EFT_EFF_END, CAST(GETDATE() AS DATE))
		AND RM30.LC_RMT_BCH_IPT_REV = 'E'
		AND LN90.LD_FAT_EFF BETWEEN CAST(DATEADD(MONTH,-6,GETDATE()) AS DATE) AND CAST(GETDATE() AS DATE) --make sure this occured in the last 6 months

	--R2 POPULATION
	SELECT DISTINCT
		P.DF_SPE_ACC_ID,
		(LTRIM(RTRIM(P.DM_PRS_1)) + ' ' + LTRIM(RTRIM(P.DM_PRS_LST))) AS NAME,
		ISNULL(PAST_DUE.DAYS_DELQ,0) AS DAYS_DELQ,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 1 THEN PD40.CONSENT ELSE '' END) OVER (PARTITION BY PD40.DF_PRS_ID) AS HOME_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 1 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS HOME_PHONE,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 2 THEN PD40.CONSENT ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS ALT_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 2 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS ALT_PHONE,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 3 THEN PD40.CONSENT ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS WORK_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 3 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS WORK_PHONE,
		LTRIM(RTRIM(PD30.DX_STR_ADR_1)) AS DX_STR_ADR_1,
		LTRIM(RTRIM(PD30.DX_STR_ADR_2)) AS DX_STR_ADR_2,
		LTRIM(RTRIM(PD30.DX_STR_ADR_3)) AS DX_STR_ADR_3,
		LTRIM(RTRIM(PD30.DM_CT)) AS DM_CT,
		LTRIM(RTRIM(PD30.DC_DOM_ST)) AS DC_DOM_ST,
		LTRIM(RTRIM(PD30.DF_ZIP_CDE)) AS DF_ZIP_CDE,
		MAX(LN10.LF_LON_CUR_OWN) OVER (PARTITION BY LN10.BF_SSN) AS LF_LON_CUR_OWN,
		ISNULL(AMT_DUE.AMOUNT_DUE, 0.00) AS AMOUNT_DUE,
		SUM(LN10.LA_CUR_PRI) OVER (PARTITION BY LN10.BF_SSN) AS TOTAL_BALANCE,
		P.LN_SEQ AS LN_SEQ,
		P.DF_PRS_ID AS DF_PRS_ID
	INTO 
		#POP_R2
	FROM
		#POP P
		INNER JOIN CDW..LN10_LON LN10
			ON LN10.BF_SSN = P.DF_PRS_ID
		INNER JOIN CDW..DW01_DW_CLC_CLU DW01
			ON DW01.BF_SSN = LN10.BF_SSN
			AND DW01.LN_SEQ = LN10.LN_SEQ
		LEFT JOIN CDW..PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = P.DF_PRS_ID
			AND PD30.DC_ADR = 'L'
		LEFT JOIN
		(
			SELECT
				PHN_RNK.DF_PRS_ID,
				ISNULL(PHN_RNK.BorrPhone, '') AS BorrPhone,
				ISNULL(PHN_RNK.CONSENT,'') AS CONSENT,
				ROW_NUMBER() OVER (PARTITION BY PHN_RNK.DF_PRS_ID ORDER BY PHN_RNK.CONSENT, PHN_RNK.RNK) AS PHN_PRIORITY
			FROM
			(
				SELECT
					PD40.DF_PRS_ID,
					CASE PD40.DC_PHN 
						WHEN 'H' THEN 1
						WHEN 'A' THEN 2
						WHEN 'W' THEN 3
						WHEN 'M' THEN 4
						ELSE 5
					END AS RNK,
					CASE 
						WHEN PD40.DC_ALW_ADL_PHN IN ('L','Q','P') THEN 'Y'
						ELSE 'N'
					END AS CONSENT,
					COALESCE
					(
						CAST(NULLIF
						(
							RTRIM(PD40.DN_DOM_PHN_ARA)  + 
							RTRIM(PD40.DN_DOM_PHN_XCH)  + 
							RTRIM(PD40.DN_DOM_PHN_LCL)
							, '--'
						) AS VARCHAR(250)),   
						NULLIF
						(
							RTRIM(PD40.DN_FGN_PHN_INL)  + 
							RTRIM(PD40.DN_FGN_PHN_CNY)  + 
							RTRIM(PD40.DN_FGN_PHN_CT)   + 
							RTRIM(PD40.DN_FGN_PHN_LCL)
							, '---'
						),
						'NO PHONE NUMBER ON RECORD'
					) [BorrPhone]
				FROM
					CDW..PD40_PRS_PHN PD40
				WHERE
					PD40.DI_PHN_VLD = 'Y'
			) PHN_RNK
		) PD40
			ON PD40.DF_PRS_ID = P.DF_PRS_ID
		LEFT JOIN /*GETS THE BORROWERS CURRENT AMOUNT DUE*/
		(
			SELECT
				LN80.BF_SSN,
				SUM(LN80.LA_BIL_PAS_DU + LN80.LA_BIL_CUR_DU + LN80.LA_LTE_FEE_OTS_PRT) AS AMOUNT_DUE
			FROM
				CDW..LN80_LON_BIL_CRF LN80
			WHERE 
				LN80.LC_BIL_TYP_LON = 'P'
				AND LN80.LC_STA_LON80 = 'A'
				AND CAST(LN80.LD_BIL_CRT AS DATE) > CAST(DATEADD(DAY, -31, GETDATE()) AS DATE)
			GROUP BY
				LN80.BF_SSN
		) AMT_DUE
			ON AMT_DUE.BF_SSN = P.DF_PRS_ID
		LEFT JOIN 
		(
			SELECT
				LN16.BF_SSN,
				(MAX(LN16.LN_DLQ_MAX) + 1) AS DAYS_DELQ
			FROM
				CDW..LN16_LON_DLQ_HST LN16
			WHERE
				LN16.LC_STA_LON16 = '1'
			GROUP BY
				LN16.BF_SSN
		)PAST_DUE
			ON PAST_DUE.BF_SSN = P.DF_PRS_ID
	WHERE
		LC_RMT_REV_REA_REJ NOT IN ('02','03','04','05') 
		AND P.ConsecNSF >= 3
	ORDER BY 
		DF_SPE_ACC_ID


	INSERT INTO achrevfed.ACHReview
	(
		[AccountNumber],
		[Name],
		[DaysDelq],
		[HomeConsent],
		[HomePhone],
		[AltConsent],
		[AltPhone],
		[WorkConsent],
		[WorkPhone],
		[DX_STR_ADR_1],
		[DX_STR_ADR_2],
		[DX_STR_ADR_3],
		[DM_CT],
		[DC_DOM_ST],
		[DF_ZIP_CDE],
		[LF_LON_CUR_OWN],
		[AmountDue],
		[TotalBalance]
	)
	SELECT DISTINCT --Need distinct because of the loan sequence left in POP2
		P.DF_SPE_ACC_ID, 
		P.NAME, 
		P.DAYS_DELQ, 
		P.HOME_CONSENT,
		P.HOME_PHONE,
		P.ALT_CONSENT,
		P.ALT_PHONE,
		P.WORK_CONSENT,
		P.WORK_PHONE,
		P.DX_STR_ADR_1,
		P.DX_STR_ADR_2,
		P.DX_STR_ADR_3,
		P.DM_CT,
		P.DC_DOM_ST,
		P.DF_ZIP_CDE,
		P.LF_LON_CUR_OWN,
		P.AMOUNT_DUE, 
		P.TOTAL_BALANCE
	FROM 
		#POP_R2 P

	----R3 POPULATION
	SELECT DISTINCT
		POP.DF_SPE_ACC_ID,
		POP.DF_PRS_ID,
		POP.DM_PRS_1,
		POP.DM_PRS_LST,
		POP.LC_RMT_REV_REA_REJ
	INTO 
		#POP_R3
	FROM 
		#POP pop
	LEFT JOIN
	(
		SELECT
			BF_SSN,
			COALESCE(MAX(LD_ATY_REQ_RCV), CAST('01/01/1960' AS DATE)) AS LD_ATY_REQ_RCV
		FROM
			CDW..AY10_BR_LON_ATY
		WHERE
			PF_REQ_ACT = 'APREQ'
		GROUP BY
			BF_SSN
	) AY10
		ON AY10.BF_SSN = POP.DF_PRS_ID
	WHERE
		LC_RMT_REV_REA_REJ IN ('02','03','04','05')
		AND (POP.LD_FAT_EFF > COALESCE(AY10.LD_ATY_REQ_RCV, CAST('01/01/1960' AS DATE)))

	----R4 POPULATION
	----CoBorrowers on the same account that need letters sent
	SELECT DISTINCT
		PD10.DF_SPE_ACC_ID,
		(LTRIM(RTRIM(PD10.DM_PRS_1)) + ' ' + LTRIM(RTRIM(PD10.DM_PRS_LST))) AS NAME,
		ISNULL(PAST_DUE.DAYS_DELQ,0) AS DAYS_DELQ,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 1 THEN PD40.CONSENT ELSE '' END) OVER (PARTITION BY PD40.DF_PRS_ID) AS HOME_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 1 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS HOME_PHONE,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 2 THEN PD40.CONSENT ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS ALT_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 2 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS ALT_PHONE,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 3 THEN PD40.CONSENT ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS WORK_CONSENT,
		MAX(CASE WHEN PD40.PHN_PRIORITY = 3 THEN PD40.BorrPhone ELSE ''  END) OVER (PARTITION BY PD40.DF_PRS_ID) AS WORK_PHONE,
		LTRIM(RTRIM(PD30.DX_STR_ADR_1)) AS DX_STR_ADR_1,
		LTRIM(RTRIM(PD30.DX_STR_ADR_2)) AS DX_STR_ADR_2,
		LTRIM(RTRIM(PD30.DX_STR_ADR_3)) AS DX_STR_ADR_3,
		LTRIM(RTRIM(PD30.DM_CT)) AS DM_CT,
		LTRIM(RTRIM(PD30.DC_DOM_ST)) AS DC_DOM_ST,
		LTRIM(RTRIM(PD30.DF_ZIP_CDE)) AS DF_ZIP_CDE,
		MAX(LN10.LF_LON_CUR_OWN) OVER (PARTITION BY LN10.BF_SSN) AS LF_LON_CUR_OWN,
		ISNULL(AMT_DUE.AMOUNT_DUE, 0.00) AS AMOUNT_DUE,
		SUM(LN10.LA_CUR_PRI) OVER (PARTITION BY LN10.BF_SSN) AS TOTAL_BALANCE,
		LN20.BF_SSN AS BorrowerSsn
	INTO
		#POP_R4
	FROM
		#POP_R2 P
		INNER JOIN CDW..LN20_EDS LN20
			ON LN20.BF_SSN = P.DF_PRS_ID
			AND P.LN_SEQ = LN20.LN_SEQ
			AND LN20.LC_EDS_TYP = 'M'
			AND LN20.LC_STA_LON20 = 'A'
		INNER JOIN CDW..PD10_PRS_NME PD10
			ON LN20.LF_EDS = PD10.DF_PRS_ID
		INNER JOIN CDW..LN10_LON LN10
			ON LN20.BF_SSN = LN10.BF_SSN
		INNER JOIN CDW..DW01_DW_CLC_CLU DW01
			ON DW01.BF_SSN = LN20.BF_SSN
			AND DW01.LN_SEQ = LN20.LN_SEQ
		LEFT JOIN CDW..PD30_PRS_ADR PD30
			ON PD30.DF_PRS_ID = LN20.LF_EDS
			AND PD30.DC_ADR = 'L'
		LEFT JOIN
		(
			SELECT
				PHN_RNK.DF_PRS_ID,
				ISNULL(PHN_RNK.BorrPhone, '') AS BorrPhone,
				ISNULL(PHN_RNK.CONSENT,'') AS CONSENT,
				ROW_NUMBER() OVER (PARTITION BY PHN_RNK.DF_PRS_ID ORDER BY PHN_RNK.CONSENT, PHN_RNK.RNK) AS PHN_PRIORITY
			FROM
			(
				SELECT
					PD40.DF_PRS_ID,
					CASE PD40.DC_PHN 
						WHEN 'H' THEN 1
						WHEN 'A' THEN 2
						WHEN 'W' THEN 3
						WHEN 'M' THEN 4
						ELSE 5
					END AS RNK,
					CASE 
						WHEN PD40.DC_ALW_ADL_PHN IN ('L','Q','P') THEN 'Y'
						ELSE 'N'
					END AS CONSENT,
					COALESCE
					(
						CAST(NULLIF
						(
							RTRIM(PD40.DN_DOM_PHN_ARA)  + 
							RTRIM(PD40.DN_DOM_PHN_XCH)  + 
							RTRIM(PD40.DN_DOM_PHN_LCL)
							, '--'
						) AS VARCHAR(250)),   
						NULLIF
						(
							RTRIM(PD40.DN_FGN_PHN_INL)  + 
							RTRIM(PD40.DN_FGN_PHN_CNY)  + 
							RTRIM(PD40.DN_FGN_PHN_CT)   + 
							RTRIM(PD40.DN_FGN_PHN_LCL)
							, '---'
						),
						'NO PHONE NUMBER ON RECORD'
					) [BorrPhone]
				FROM
					CDW..PD40_PRS_PHN PD40
				WHERE
					PD40.DI_PHN_VLD = 'Y'
			) PHN_RNK
		) PD40
			ON PD40.DF_PRS_ID = LN20.LF_EDS
		LEFT JOIN /*GETS THE BORROWERS CURRENT AMOUNT DUE*/
		(
			SELECT
				LN80.BF_SSN,
				SUM(LN80.LA_BIL_PAS_DU + LN80.LA_BIL_CUR_DU + LN80.LA_LTE_FEE_OTS_PRT) AS AMOUNT_DUE
			FROM
				CDW..LN80_LON_BIL_CRF LN80
			WHERE 
				LN80.LC_BIL_TYP_LON = 'P'
				AND LN80.LC_STA_LON80 = 'A'
				AND CAST(LN80.LD_BIL_CRT AS DATE) > CAST(DATEADD(DAY, -31, GETDATE()) AS DATE)
			GROUP BY
				LN80.BF_SSN
		) AMT_DUE
			ON AMT_DUE.BF_SSN = P.DF_PRS_ID
		LEFT JOIN 
		(
			SELECT
				LN16.BF_SSN,
				(MAX(LN16.LN_DLQ_MAX) + 1) AS DAYS_DELQ
			FROM
				CDW..LN16_LON_DLQ_HST LN16
			WHERE
				LN16.LC_STA_LON16 = '1'
			GROUP BY
				LN16.BF_SSN
		)PAST_DUE
			ON PAST_DUE.BF_SSN = P.DF_PRS_ID
		
		
	--INSERT THE R4 POP INTO ACHREVIEW
	INSERT INTO achrevfed.ACHReview
	(
		[AccountNumber],
		[Name],
		[DaysDelq],
		[HomeConsent],
		[HomePhone],
		[AltConsent],
		[AltPhone],
		[WorkConsent],
		[WorkPhone],
		[DX_STR_ADR_1],
		[DX_STR_ADR_2],
		[DX_STR_ADR_3],
		[DM_CT],
		[DC_DOM_ST],
		[DF_ZIP_CDE],
		[LF_LON_CUR_OWN],
		[AmountDue],
		[TotalBalance],
		[IsCoborrower],
		[BorrowerSsn]
	)
	SELECT DISTINCT --Need distinct because of the loan sequence left in POP2
		P.DF_SPE_ACC_ID, 
		P.NAME, 
		P.DAYS_DELQ, 
		P.HOME_CONSENT,
		P.HOME_PHONE,
		P.ALT_CONSENT,
		P.ALT_PHONE,
		P.WORK_CONSENT,
		P.WORK_PHONE,
		P.DX_STR_ADR_1,
		P.DX_STR_ADR_2,
		P.DX_STR_ADR_3,
		P.DM_CT,
		P.DC_DOM_ST,
		P.DF_ZIP_CDE,
		P.LF_LON_CUR_OWN,
		P.AMOUNT_DUE, 
		P.TOTAL_BALANCE,
		CASE WHEN P.BorrowerSsn IS NULL THEN 0 ELSE 1 END AS IsCoborrower,
		P.BorrowerSsn
	FROM 
		#POP_R4 P	
	--INSERT THE R2 POP INTO AAP

	INSERT INTO 
		CLS..ArcAddProcessing
		(
			[ArcTypeId],
			[ArcResponseCodeId],
			[AccountNumber],
			[RecipientId],
			[ARC],
			[ScriptId],
			[ProcessOn],
			[Comment],
			[IsReference],
			[IsEndorser],
			[ProcessFrom],
			[ProcessTo],
			[NeededBy],
			[RegardsTo],
			[RegardsCode],
			[CreatedAt],
			[CreatedBy],
			[ProcessedAt]
		)
	SELECT DISTINCT --Need distinct because of the loan sequence left in POP2
		1 [ArcTypeId],
		NULL [ArcResponseCodeId],
		POP.DF_SPE_ACC_ID [AccountIdentifier],
		NULL [RecipientId],
		'RMACH' [ARC],
		'ACHREVFED' [ScriptId],
		GETDATE() [ProcessOn],
		'Borrower has received three consecutive NSF’s while on ACH. Denial letter sent to borrower.' [Comment],
		0 [IsReference],
		0 [IsEndorser],
		NULL [ProcessFrom],
		NULL [ProcessTo],
		NULL [NeededBy],
		NULL [RegardsTo],
		NULL [RegardsCode],
		GETDATE() [CreatedAt],
		'ACHREVFED' [CreatedBy],
		NULL [ProcessedAt]
	FROM 
		#POP_R2 POP


	--INSERT THE R3 POP INTO AAP
	INSERT INTO 
		CLS..ArcAddProcessing
		(
			[ArcTypeId],
			[ArcResponseCodeId],
			[AccountNumber],
			[RecipientId],
			[ARC],
			[ScriptId],
			[ProcessOn],
			[Comment],
			[IsReference],
			[IsEndorser],
			[ProcessFrom],
			[ProcessTo],
			[NeededBy],
			[RegardsTo],
			[RegardsCode],
			[CreatedAt],
			[CreatedBy],
			[ProcessedAt]
		)
	SELECT DISTINCT --Need distinct because of the loan sequence left in POP2
		1 [ArcTypeId],
		NULL [ArcResponseCodeId],
		POP.DF_SPE_ACC_ID [AccountIdentifier],
		NULL [RecipientId],
		'APREQ' [ARC],
		'ACHREVFED' [ScriptId],
		GETDATE() [ProcessOn],
		CASE 
			WHEN POP.LC_RMT_REV_REA_REJ = '02' THEN 'ACH to be reviewed. Borrowers received NSF due to Account Being Closed.'
			WHEN POP.LC_RMT_REV_REA_REJ = '03' THEN 'ACH to be reviewed. Borrowers received NSF due to No Account/Unable to Locate Account.'
			WHEN POP.LC_RMT_REV_REA_REJ = '04' THEN 'ACH to be reviewed. Borrowers received NSF due to Invalid Account Number.'
			ELSE 'ACH to be reviewed. Borrowers received NSF due to Unauthorized Debit.'
		END [Comment],
		0 [IsReference],
		0 [IsEndorser],
		NULL [ProcessFrom],
		NULL [ProcessTo],
		NULL [NeededBy],
		NULL [RegardsTo],
		NULL [RegardsCode],
		GETDATE() [CreatedAt],
		'ACHREVFED' [CreatedBy],
		NULL [ProcessedAt]
	FROM 
		#POP_R3 POP