@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is designed to be used to better share and prioritize project tickets. Requests should only be submitted after appropriate approvals from the department requesting the service.</p>
