@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Utah Higher Education Assistance Authority<br />
    P.O. Box 145110<br />
    Salt Lake City, UT 84114-5110<br />
</address>

<address>
    UHEAA Systems Support<br />
    <strong>Email:</strong>   <a href="mailto:sshelp@utahsbr.edu">sshelp@utahsbr.edu</a><br />
    <strong>Phone:  (801) 366-8437</strong>
</address>